.topHalfCss {
    margin-left: 3%;
}

.css1 {
    float: left;
    display: inline-block;
}

.cssParent {
    background-color: white;
    padding-bottom: 1%;
}

.css3 {
    width: 20px;
}

.css4 {
    float: right;
    display: inline-block;
   padding-right: 1% !important;

}

.css5 {
    display: inline-block;
    width: 23%;
}

.css7 .dijitNumberTextBox {
    width: 100%;
}

.css7 div.dijitInline:nth-child(2) {
    width: 15%;
    height: 30px;
}

.css6 {
    float: right;
    display: inline-block;
    padding-right: 1%;
}

.imagecont {
    background-color: grey !important;
}

.griditemimg {
    background-color: grey !important;
}

.trytry {
    color: red;
}

.sizin {
    display: inline-block !important;
    padding-right: 1% !important;
}

.sizin div.idxLabel {
    display: block !important;
}

.contdisp {
    display: inline-block !important;
    width: 90%;
    float: right;
}

.linetype {
    display: inline-block !important;
    width: 10%;
    float: right;
}

.textposition {
    float: right;
}

.logoimg {
    width: 160px;
    height: 120px;
}

.logoPane {
    float: right;
}

.inlineBlock {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.padding {
    padding-right: 30% !important;
}

.borderLine {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.checkBoxP {
    vertical-align: middle;
    display: inline-block;
    padding-left: 0em !important;
}

.checkBoxP > div {
    padding-left: 0em !important;
}

.posText {
    position: fixed;
    top: 14%;
    left: 69%;
    z-index: 999;
}

.scanPick {
    padding-right: 8% !important;
}

.buttonPadding {
    padding-right: 3%;
}

.buttonPanel {
    background-image: url('/wscdev/wsc/resources/css/icons/images/background_image.png');
    /*background-color: e0f8f3;*/
    padding-left: 1% !important;
    padding-bottom: 1% !important;
    padding-top: 1% !important;
}

.itemStyle {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.labelPadding > span {
    padding: 0 !important;
}

.imgsiz {
    width: 100px !important;
    height: 100px !important;
    border: 1px solid;
}

.selectStore {
    display: block;
    background-color: white;
    padding: 1% !important;
}

.selectStore div.idxLabel {
    width: 0em;
    min-width: 3em;
}

.callCenterPopup {
    width: 80%;
}

.infoStore {
    text-align: center !important;
}

.sizinlabel >div.idxLabel >label {
    font-size: 12px;
    color: #949494;
}

.sizinlabel {
    padding-bottom: 1% !important;
    vertical-align: top;
}

.verticalAlign {
    padding-bottom: 2% !important;
    vertical-align: top;
}

.chkBoxLeft {
    padding-left: 10px !important;
    float: left !important;
    width: 30px !important;
    margin-top: 37px !important;
}

.width60 .dijitNumberTextBox {
    width: 60px;
}

.batchCriteria {
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.batchInline {
    display: inline !important;
}

.floatRight {
    float: right;
}

.sizin1 {
    display: inline-block !important;
    padding-right: 0% !important;
}

.sizin1 div.idxLabel {
    display: block !important;
}

.bgcolorr {
    background-color: #FFFF99 !important;
}

.sortByOptions {
    font-size: 15px !important;
    /*margin-left: 40px !important;
    margin-right: 10px !important;*/
    color: blue;
}

.sortByLabel {
    font-size: 14px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.sortByPaneHeight {
    height: 5%;
}

.sortByImg {
    /* margin-right: 50px !important;*/
}

.removeBorder {
    border-bottom-width: 0px !important;
}

.width80 {
    width: 15%;
    padding-bottom: 20px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.labelContainerWidget {
    text-align: center;
    padding: 0px 5px !important;
    display: inline-block;
    width: 42%;
    vertical-align: bottom;
}

.shippingLabelButton {
    padding-left: 5% !important
}

.buttonBottomPadding {
    padding-bottom: 1% !important;
}

.saveButton {
    width: initial !important;
}

.dissolveBatchBttn {
    margin-left: 1080px !important;
}

.left35 {
    margin-left: 35px !important;
}

.left620 {
    display: inline-block !important;
    margin-left: 296px !important;
}

.negativeMargin {
    margin-left: -3px !important;
}

.detPaneWidth {
    width: 100% !important;
}

.verticalAlign1 {
    padding-bottom: 1.5px !important;
    vertical-align: top;
    width: 160.931px !important;
}

.verticalAlign1 .idxLabel {
    color: grey;
    font-size: 12px !important;
}

.verticalAlign1 .idxLabel .dijitInline {
    font-size: 14px !important;
    color: black !important;
}

.verticalAlignPresell {
    padding-bottom: 0% !important;
    vertical-align: top;
    width: 92.983px !important;
}

.verticalAlignPresell .idxLabel {
    color: grey;
    font-size: 11.5px !important;
}

.verticalAlignPresell .idxLabel .dijitInline {
    font-size: 14px !important;
    color: black !important;
}

.sizein {
    display: inline-block !important;
    padding-right: 0% !important;
}

.sizein div.idxLabel {
    display: block !important;
}

.minHeightPanel {
    min-height: 0px !important;
}

.customPanelWidth {
    width: 270px;
}

.qtyShipWidth {
    width: 338px !important;
    margin-top: -8px !important;
}

.zeroPaddingLeft {
    padding-left: 1px !important;
    border-right: 1px solid #4c4d53 !important;
}

.marginZeroWidth {
    margin-right: 0px !important;
}

.printButtonWidth .dijitButtonNode {
    padding-right: 32.27px !important;
    text-align: center !important;
    padding-left: 32.27px !important;
}

.boldText {
    font-weight: bold;
}

.contextFilterling {
    padding-bottom: 2% !important;
}

.ShipServLevel > div:first-child {
    width: 12em !important;
    font-weight: bold !important;
    padding-right: 0px !important;
}

.LOSClass {
    display: inline-block !important;
}

.closePadding {
    padding-left: 18% !important;
}

.LOSFilteringSelect > div.idxLabel {
    padding-right: 0px !important;
    width: 9em !important;
}

.LOSPortlet {
    width: 102% !important;
}

.batchlinedetails {
    width: auto !important;
    margin-left: 0% !important;
}

.alignDissolve {
    display: inline-block;
    float: right !important;
}

.displayNone {
    display: none !important;
}

.boldText > .scDataLabelValue {
    font-weight: bold !important;
    font-size: 14px !important;
}

.weightWidget {
    width: 15% !important;
}

.containerSort {
    display: inline-block;
    padding-left: 8% !important;
}

.comapps .dijitContentPane.repeatingpanel.BatchLinesList .batchlinedetails > div:first-child .lineActions {
    position: inherit;
}

.comapps .dijitContentPane.repeatingpanel.BatchLinesList .batchlinedetails.highlightRepeatingPanel {
    padding-bottom: 0;
}

.comapps .quantitySpinnerPanel .dijitValidationTextBoxReadOnly {
    padding-left: 0;
}

.paddinglbl {
    padding-left: 150px !important;
}

.comapps .ellipsisText.idxLink .scLinkAlignment > div > .dijitInputField .idxLink {
    white-space: normal;
}

.signatureLabel {
    font-size: 14px;
    font-family: "Helvetica Neue Light", "HelvLightIBM", "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana, sans-serif;
    color: #4c4d53;
    font-weight: bold !important;
}

.checkboxWidth {
    width: initial !important;
    padding-left: 5% !important;
}

.displayFlex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.width15 {
    width: 22%;
}

.flexEnd {
    justify-content: flex-end !important;
}

.emailLink {
    min-height: 16px;
    word-break: break-all;
    width: 80%;
    height: initial !important;
}

.emailImageBox > .idxLink {
    position: inherit !important;
}

.emailImageBox {
    min-height: 16px;
}

.pickTicketButton {
    position: initial;
    /* right: 297px; */
    float: right;
}

.marginPrinterPortlet {
    margin: 0px 0px 4px 0px !important;
}

.packStationTextBox .dijitInline .dijitTextBox {
    width: 30em !important;
}

.packStationContainer {
    width: 47em !important;
}

.marginPack {
    margin: 25px;
}

.buttonSet {
    display: flex;
    margin-top: 14px;
    justify-content: center;
}

.margin10 {
    margin-right: 10% !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-left-11 {
    margin-left: 11px !important;
}

.pickTicketButton > span {
    height: 40px !important;
}

.expectedShipDate> div:first-child {
    width: 2em !important;
    min-width: 2em !important;
}

.diamondImage {
    width: 25px;
}

.hideSLAindicatorMobile{
    display: none !important;
}

.showDueInforMobile
{
    display: block !important;
}

.showDueInforMobile > div:first-child {
display: none !important;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    

    .bopusAlertMobile{
    color: red !important;
    position: fixed !important;
    left: 40% !important;

    background-color: white !important;
}
}

.bagImgSize {
    width: 100px !important;
    height: 100px !important;
}

.productTagOverflow {
    overflow: auto !important;
}

.paddingLeft {
    padding-left: 3% !important;
}

.labelPaddingGridCss {
    padding-left: 4px !important;
}

.widthContentPane {
    width: 371px !important;
}
.floatPropertyDue {
    float: right !important;
}

.floatPropertyDue1 {
    margin-top: 15px !important;
    float: none !important;
    margin-left : 10px!important;
}

.reminderpopup_popup > .dijitDialogTitleBar {
    display: none !important;
}

.reminderpopup_popup{
    width: 36% !important;
}

.reminderLabel {
    padding-left: 8% !important;
}

.noOfBags {
    width: 60%;
   
}

.noOfBags>div:first-of-type {
    min-width: 0;
    width: 70%;
}

.noOfBags > .scDataLabelValue {
    width: 20%;
    min-width: 0;
}
.paddinglblnew{
   padding-left: 0px !important; 
}

.sla_indicatorCP_class{
    display:flex;
}

.slaDetails_class>img:first-of-type {
 padding-right: 20px;    
}

.slaDetails_class>span:first-of-type {
 padding-right: 20px;    
}
.slaDetails_class{
    padding-top: 3.5px !important;
    display:flex;
}
.scanBagging{
    padding-right: 1% !important;
}
.missedSLA > span {
    color: red !important;
}
.sizeinForRestocking {
    display: inline-flex !important;
    padding-right: 0% !important;
}

.maintitle {
    color: black;
    width: 95%;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.restockingRP {
    background-color: white;
}

.borderForRepeatingScreen {
    border-top-width: 3px !important;
    border-color: #5183BE!important;
}

.restockingButton {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    width: 200px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #00768e;
    font-weight: normal;
    font-size: 16px;
    font-family: "HelvNeueMediumforIBM", "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana, sans-serif;
    color: #00768e;
    text-shadow: none;
    display: table-cell;
    height: 35px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 0px;
    display: table;
}

.restockingButton:hover {
    background-color: #00768e;
    color: #ffffff;
}

.restockingDecsription{
    color:blue !important;
}

.topPaddingRestocking{
    padding-top: 2% !important;
}
.restockingQuantity{
    display: -webkit-inline-box !important;
    padding-top: 1% !important;
}
.restockingItemDetails{
    display: inline-flex !important;
}

.itemDescription{
    display: -webkit-box;
}
.jewelleryIndicator{
    display:inline-flex;
}

.restockingImage{
    width: 150px !important;
    height: 100px !important;
}

.alignDissolveMobile {
    display: inline-block;
}

.left400 {
    display: inline-block !important;
    margin-left: 30px !important;
}

.margin-top-52
{
    margin-top: 52px !important;
}

.margin-top-200
{
    top: 200px !important; 
}

.weightWidgetMobile
{
    display: -webkit-inline-box !important; 
}

.weightWidgetMobile > div:first-child
{
    padding-bottom: 12px !important; 
}
.weightWidgetMobile > span:first-of-type
{
    padding-bottom: 12px !important; 
}

.extn_printLabelContainerMobile{
    display: -webkit-inline-box !important;
    padding-left: 24%!important;
}

.saveButtonMobile{
    display: table-footer-group!important;
}

.saveButtonMobile .dijitInline 
{
    width: 112px !important;
}
.shortageResolutionLinkMobile
{
    padding-left: 237px !important;
}
.containerCss{
    display: inline-flex !important;
    width: 694px !important ;
}
.batchNoCss{
    padding-left: 16px !important;
    font-weight: bold;
    font-size: 14px;
    font-family: "HelvNeueMediumforIBM", "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana, sans-serif;
    color: #4c4d53;
}
.bopusAlert {
    color: red !important;
    position: fixed !important;
    left: 55% ;
       

    background-color: white !important;
}

.margin{
    color: red !important;
}

.batchSortContainerMobile{
    margin-top: 110px !important;
}

.containerSortMobile {
    display: inline-block;
    padding-left: 6% !important;
}

.margin-top-0 {
    margin-top: -20px !important;
}

.itemDetWidthMobile > div {
    padding-bottom: 1.5px !important;
    vertical-align: top;
    width: 136.931px !important;
}

.verticalAlignMobile  {
    padding-bottom: 1.5px !important;
    vertical-align: top;
    width: 148.931px !important;
}

.verticalAlignMobile .idxLabel {
    color: grey;
    font-size: 12px !important;
}

.verticalAlignMobile .idxLabel .dijitInline {
    font-size: 14px !important;
    color: black !important;
}

.margin-left-73
{
    margin-left: 73px!important;
}

.screenSwipe .screenHeader{
    visibility: hidden;
}