		<div>
		 	<div data-dojo-type="idx/form/CurrencyTextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		readOnly : true , 
		_sc_extensibility_referenceUId : 'txtMaxCharge' , 
		disabled : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txtCvv' , 
		required : false  
	 					}">
		 	</div>  
		</div>
