		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'paymentMethodPanel' , 
		uId : 'extn_rewardsContentPane' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'paymentMethodHolder' , 
		uId : 'extn_rewardsContentPane' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_rewardsContentPane' , 
		uId : 'extn_rewardsPointsCP' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_RefundShippingCharges' , 
		uId : 'extn_Mngr_Chkboxes' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'btnAddPaymentMethod' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_rewardsContentPane' , 
		uId : 'extn_getRewardsButton' , 
		renderHidden : true , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Get_Rewards')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkReturnViewModCharges'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_rewardsPointsCP' , 
		uId : 'extn_rewards' , 
		renderHidden : true , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Reward_Points')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		resourceId : 'extn_checkBox_Mngr' , 
		style : 'margin-left:-170px;width:300px' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'pnlReturnOrderTotal' , 
		uId : 'extn_RefundShippingCharges' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Refund_Shipping_Charges')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'lnkReturnViewModCharges' , 
		uId : 'extn_RefundShippingCharges' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'extn_Mngr_Chkboxes' , 
		uId : 'extn_RefundShippingCharges' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-left:-170px;width:300px' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_RefundShippingCharges' , 
		uId : 'extn_chargePrepaidShippingLabel' , 
		checked : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Charge_Prepaid_Shipping_Label')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_RefundShippingCharges' , 
		uId : 'extn_chargePrepaidShippingLabel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/RadioButtonSet" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'lblAmountToRefund' , 
		uId : 'extn_radiobtn_refundOptions' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Refund_Options')
,	
			 	bindingData : 	{
		 radioBinding : 	{
		 options : 	[
	 		{
		 value : 			'Y'
,
		 label : 			this.getSimpleBundleString('extn_Original_Payment_Tender')
,
		 selected : 			true
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_0'
	}
,
	 		{
		 value : 			'N'
,
		 label : 			this.getSimpleBundleString('extn_Gift_Card')
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_1'
	}
	]
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_rewardsContentPane' , 
		uId : 'extn_rewardsAccNo' , 
		renderHidden : true , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Hudson_s_Bay_Rewards_Account_Number')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'LoyaltyNo'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_getRewardPoints_ns'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
