		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblPromotionAmount' , 
		renderHidden : true  
	 					}">
		 	</div>  
		</div>
