		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblEveningFax' , 
		uId : 'extn_Language' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'CustomerContact.Extn.ExtnPreferredLanguage'
,
		 namespace : 			'getCustomerContact_output'
	}
	}
,	
			 	label : 			this.getSimpleBundleString('extn_Language')
			}
		}
	 					}">
		 	</div>  
		</div>
