		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'deleteConfirmationMsgWithRelatedItem' , 
		uId : 'extn_deleteConfirmationMsgwithRelatedItems' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_The_line_selected_for_deletion_has_related_product_lines_associated_with_it_')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/RadioButtonSet" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'radDeleteType' , 
		renderHidden : true  
	 					}">
		 	</div>  
		</div>
