		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'pickUpOrderInfoMessagePanel' , 
		uId : 'mainCustVerfPanel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'cmbCustVerfMethod'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_credit_card' , 
		uId : 'cmbCustVerfMethod' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		maxLength : 4 , 
		_sc_extensibility_moveOrder : '1' , 
		minSize : 4 , 
		_sc_extensibility_referenceUId : 'pickupOrderDetailsContainer' , 
		uId : 'extn_credit_card' , 
		renderHidden : true , 
		maxSize : 4 , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_ext_crdt_card')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'CustomerPickUp.CustomerIdentification.CreditCardDigits'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_customer_creditcard_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'cmbCustVerfMethod' , 
		uId : 'extn_credit_card' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		</div>
