		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'verticalSeparatorLeft singlecolumntable noteAddProperties' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'DST_MainInfoPanel' , 
		uId : 'extn_Notes' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'DST_MainInfoPanel' , 
		uId : 'extn_Notes' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/Textarea" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		readOnly : true , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_Notes' , 
		uId : 'extn_textarea_Notes' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Notes')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order'
,
		 dynamicBindingFunc : 			'extn_NotesDisplay'
,
		 namespace : 			'extn_pickuporder_Output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
