<div class="sc-platform-screen-default containerpackshipmentlinelist">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'shipmentLineDetailsContainer' , 
		colspan : 1 , 
		uId : 'shipmentLineDetailsContainer'  
 ">
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'screen a11yHiddenLabel' , 
		uId : 'errorMsgPnl' , 
		renderHidden : true , 
		layoutAlign : 'top'  
 "></div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'leftPanel' , 
		colspan : 1 , 
		uId : 'leftPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'itemImageSmallDivAlt bagImgSize showCursorPointer' , 
		colspan : 1 , 
		uId : 'itemImageCP'  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		'class' : '' , 
		uId : 'itemImage'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation'
,
		 namespace : 			'baggingLine'
	}
,
		 imageBindings : 	{
		 defaultImage : 	{
		 style : 			''
,
		 src : 			''
,
		 styleClass : 			'noItemImage'
	}
,
		 imageUrl : 	{
		 path : 			'ImageLocation'
,
		 dynamicBindingPackage : 			'ias.utils'
,
		 dynamicBindingFunc : 			'getItemImageLocation'
,
		 dynamicBindingClassName : 			'ScreenUtils'
	}
,
		 imageIcon : 	{
		 path : 			'ImageID'
,
		 dynamicBindingPackage : 			'ias.utils'
,
		 dynamicBindingFunc : 			'getItemImageId'
,
		 dynamicBindingClassName : 			'ScreenUtils'
	}
	}
	}
			}
		}
"></div>
            </div>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'detailsPanel paddingLeft' , 
		colspan : 1 , 
		uId : 'productDetailsCP'  
 ">
                <div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="		spanLabel : true , 
		'class' : 'groupHeader autoLabelZeroWidth blockComponent productdesclink' , 
		uId : 'itemdescriptionLink'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ExtendedDisplayDescription'
,
		 namespace : 			'baggingLine'
	}
	}
			}
		}
"></div>
                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'itemVariation' , 
		uId : 'itemVariationPanelHolder'  
 "></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completelyScanned.png' , 
		'class' : 'blockComponent scanComplete' , 
		appendToContextRoot : true , 
		uId : 'productScanImagePanel' , 
		renderHidden : true  
 "></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'inline idxLabel zeroWidthLabelKey scanCompleteLabel' , 
		uId : 'completelyPickedLabel'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('Label_emptyLabel')
			}
		}
"></div>
                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : '' , 
		
		renderHidden : true  ,
		uId : 'shortageCompCont'  
 ">
                        <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completeyShorted.png' , 
		'class' : 'blockComponent scanComplete ' , 
		appendToContextRoot : true , 
		uId : 'productShortedImagePanel2' 
 		,scParamDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('Tooltip_title_completelyShort')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_title_completelyShort')
			}
		}
"></div>
                    </div>
                </div>
                <!--  <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completeyShorted.png' , 
		'class' : 'blockComponent scanComplete block' , 
		appendToContextRoot : true , 
		uId : 'productShortedImagePanel2' , 
		renderHidden : true  
 "></div> -->
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_DeptCode" data-dojo-props="		'class' : 'sizein verticalAlign1' , 
									uId : 'extn_DeptCode'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_DMM')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDivision'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
							 <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_deptNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_deptNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_DeptNo')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartment'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_deptNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_deptName'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_deptName1')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartmentName'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
							                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_classDesc" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_classDesc'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Class')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnClass'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_Style" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_Style'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Style')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnVendorStyle'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_color" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_color'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Color')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getColor',

									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_size" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_size'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Size')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getSize',

									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>

							 <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_upcNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_upcNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_UPC')
							,	
										 	bindingData : 	{
										 	sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
									dynamicBindingFunc : 			'extn_getUPC',

									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>

							 <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_sknNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_sknNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_SKN')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemID'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
							
							

							                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_label" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_label'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Label')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ManufacturerName'
							,
							
									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_price" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_price'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Price')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getPrice',

									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
               <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_getQty" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_getQty'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Qty_on_Hand')
							,	
										 	bindingData : 	{
										 	sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
									dynamicBindingFunc : 			'extn_getQty',

									 namespace : 			'baggingLine'
								}
								}
										}
									}
							"></div>
               
            </div>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'productDetails' , 
		uId : 'lastProductScannedQtyCP'  
 ">

 				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="		'class' : 'quantitySpinnerLabelAlign blockComponent' , 
		uId : 'extn_location'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Location')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''



,
		 namespace : 			''
	}
	}
			}
		}
"></div>


                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="		'class' : 'quantitySpinnerLabelAlign blockComponent' , 
		uId : 'extn_giftWrap'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift_Wrap')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''



,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="		'class' : 'quantitySpinnerLabelAlign blockComponent' , 
		uId : 'remainingQty'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_RemainingQty')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Quantity'

,
		 dynamicBindingFunc : 			'getRemainingFormattedQuantity'

,
		 namespace : 			'baggingLine'
	}
	}
			}
		}
"></div>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'numberChangeWidget blockComponent' , 
		uId : 'divQuantity'  
 ">
                    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'inline idxLabel quantitySpinnerLabelAlign' , 
		uId : 'lblQtyInContainer'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_baggedQty')
			}
		}
"></div>
                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'quantitySpinnerPanel' , 
		colspan : 1 , 
		uId : 'quantityPanel'  
 ">
                        <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="		spanLabel : true , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/minus.png' , 
		appendToContextRoot : true , 
		uId : 'removeQtyLink'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('arialabel_unpackQtyInCont')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_arialabel_unpackQtyInCont')
,	
			 	title : 			this.getSimpleBundleString('Tooltip_arialabel_unpackQtyInCont')
			}
		}
"></div>
                        <div data-dojo-type="idx/form/NumberTextBox" data-dojo-props="		uId : 'manualQtyInContainerTxtBox'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('arialabel_QtyInContainer')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Extn.ExtnBaggedQty'
,
		 namespace : 			'baggingLine'
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'ShipmentLine.Extn.ExtnBaggedQty'
,
		 namespace : 			'changeShipmentLine_input'
	}
,
	 		{
		 path : 			'ShipmentLine.Extn.ExtnBaggedQty'
,
		 namespace : 			'changeShipmentLine_input'
	},
	{
		 path : 			'Quantity'
,
		 namespace : 			'QuantityTextBoxModel_Output'
	}
	]
	}
			}
		}
"></div>
                        <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="		spanLabel : true , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/plus.png' , 
		appendToContextRoot : true , 
		uId : 'addQtyLink'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('arialabel_packQtyInCont')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_arialabel_packQtyInCont')
,	
			 	title : 			this.getSimpleBundleString('Tooltip_arialabel_packQtyInCont')
			}
		}
"></div>
                        <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		spanLabel : true , 
		'class' : 'inline idxLabel zeroWidthLabelKey' , 
		uId : 'uom_lbl'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.DisplayUnitOfMeasure'
,
		 namespace : 			'baggingLine'
	}
	}
			}
		}
"></div>
                        <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : 'WSC000024' , 
		showLabel : true , 
		uId : 'updateButton' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('arialabel_Update')
,	
			 	label : 			this.getSimpleBundleString('Action_Update')
			}
		}
"></div>
                    </div>
                </div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="		'class' : 'quantitySpinnerLabelAlign blockComponent' , 
		uId : 'QtyInContainer' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_QtyInContainer')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.ContainerDetail.QuantityPlaced'
,
		 dynamicBindingPackage : 			'wsc.components.shipment.container.pack'
,
		 dynamicBindingFunc : 			'getFormattedPackageQuantity'
,
		 dynamicBindingClassName : 			'ContainerPackUtils'
,
		 namespace : 			'baggingLine'
	}
	}
			}
		}
"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="		'class' : 'quantitySpinnerLabelAlign blockComponent shortageQty' , 
		uId : 'shortagelbl' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_Shortage')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.ShortageQty'
,
		 dynamicBindingPackage : 			'wsc.components.shipment.container.pack'
,
		 dynamicBindingFunc : 			'getFormattedShortageQuantity'
,
		 dynamicBindingClassName : 			'ContainerPackUtils'
,
		 namespace : 			'baggingLine'
	}
	}
			}
		}
"></div>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'lineLinks' , 
		uId : 'divActions'  
 ">
                    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="		spanLabel : true , 
		'class' : 'shortageResolution' , 
		uId : 'shortageResolutionLink'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('Action_Shortage_Resolution')
			}
		}
"></div>
                </div>
            </div>
        </div>
    </div>
</div>
