<div class="Bagging">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'cssParent' , 
uId : 'coversAll' , 
layoutAlign : 'top'  
,scParamDataFn :
 function() { 
  return { 
    'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
  }
}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'topHalfCss' , 
    uId : 'topHalf' , 
    layoutAlign : 'top'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
      }
    }
    " role='region'>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel sla_indicatorCP_class' , 
            uId : '1stLine' , 
            layoutAlign : 'top'  
            ,scParamDataFn :
             function() { 
              return { 
                'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
              }
            }
            " role='region'>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel slaDetails_class' , 
            uId : 'slaDetails' , 
            layoutAlign : 'top'  
            ,scParamDataFn :
             function() { 
              return { 
                'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
              }
            }
            " role='region'>
                    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="      uId : 'img_TimeRmnClock' , 
        renderHidden : false  
        ,scParamDataFn :
         function() { 
            return { 
                bindingData :   {
         sourceBinding :    {
         path :             'CommonCode'
,
         namespace :            'extn_slaIndicatorNamespace'
    }
,
         imageBindings :    {
         imageStyleClass :  {
         value :            'screenIndicatorImage'
    }
,
         defaultImage :     {
         style :            ''
,
         src :          ''
,
         styleClass :           'noItemImage'
    }
,
         imageAlt :     {
         path :             'CodeShortDescription'
    }
,
         imageUrl :     {
         path :             'CodeLongDescription'
,
         dynamicBindingPackage :            'ias.utils'
,
         dynamicBindingFunc :           'getDueInImageLocation'
,
         dynamicBindingClassName :          'ScreenUtils'
    }
,
         imageIcon :    {
         path :             'CodeLongDescription'
,
         dynamicBindingPackage :            'ias.utils'
,
         dynamicBindingFunc :           'getDueInImageId'
,
         dynamicBindingClassName :          'ScreenUtils'
    }
    }
    }
            }
        }
"></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="extn_slaIndicatorLabel" data-dojo-props="      'class' : 'fieldLabel blockComponent groupLabelSpacing' , 
                                    uId : 'extn_slaIndicatorLabel'  
                                    ,scParamDataFn :
                                     function() { 
                                        return { 
                                            value :             this.getSimpleBundleString('extn_SLA_Indicator')
                                                }
                                    }
                "></div>
                </div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="departmentLbl" data-dojo-props="       'class' : 'autoLabelZeroWidth department blockComponent inlineBlock' , 
                                    uId : 'departmentLbl'  
                                    ,scParamDataFn :
                                     function() { 
                                        return { 
                                            label :             this.getSimpleBundleString('Shipment')
                            ,   
                                            bindingData :   {
                                     sourceBinding :    {
                                     path :             'Shipment.ShipmentNo'
                            ,
                            
                                     namespace :            'baggingModel'
                                }
                                }
                                        }
                                    }
                            "></div>
                <!--  <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="data_dojo_props_diff: {
                                    _sc_extensibility_operation : 'insert' , 
        imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
        'class' : 'diamondImage' , 
        _sc_extensibility_moveOrder : '2' , 
        _sc_extensibility_referenceUId : 'extn_flagImage' , 
        appendToContextRoot : true , 
        uId : 'extn_jewellarySign' , 
        _sc_extensibility_position : 'after'  
                        }">
                </div> -->
              <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : '' , 
            uId : 'jewelleryItemCP' , 
            layoutAlign : 'top'  
            ,scParamDataFn :
             function() { 
              return { 
                'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
              }
            }
            " role='region'>

                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="      imageStyleClass : 'ibmlogo' , 
        title : '' , 
        imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
        'class' : 'diamondImage' , 
        appendToContextRoot : true , 
        imageAlt : '' , 
        uId : 'extn_jewellarySign'  
 "></div>


 </div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="departmentLbl" data-dojo-props="     'class' : 'autoLabelZeroWidth department blockComponent inlineBlock' , 
                                    uId : 'duelbl'  
                                    ,scParamDataFn :
                                     function() { 
                                        return { 
                                            label :             this.getSimpleBundleString('extn_Due1')
                            ,   
                                            bindingData :   {
                                     sourceBinding :    {
                                     path :             'Shipment.ExpectedShipmentDate'
                            ,
                            
                                     namespace :            'baggingModel'
                                }
                                }
                                        }
                                    }
                            "></div>
            </div>
            <br>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel' , 
                uId : '2ndLine' , 
                layoutAlign : 'top'  
                ,scParamDataFn :
                 function() { 
                  return { 
                    'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                  }
                }
            " role='region'>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanelData inlineBlock scanBagging' , 
                            uId : '2ndLineLeft' , 
                            layoutAlign : 'top'  
                         ">
                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'barcodeScanPanel' , 
                            uId : 'barcodeScanPanelForm' , 
                            layoutAlign : 'top'  
                         ">
                        <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="   spanLabel : true , 
                            hasImage : true , 
                            imageSrc : 'wsc/resources/css/icons/images/barcode_blue.png' , 
                            'class' : 'buttonConnect' , 
                            appendToContextRoot : true , 
                            uId : 'addProductButton'  
                            ,scParamDataFn :
                             function() { 
                              return { 
                                'aria-label' :      this.getSimpleBundleString('arialabel_scanProduct')
                        , 
                                imageAlt :      this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
                        , 
                                title :       this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
                              }
                            }
                        " role='button'></div>
                        <div data-dojo-type="idx/form/TextBox" data-dojo-props="        uId : 'scanProductIdTxt',
                                        scExcludeForDirtyCheck : true , 
                                        showTitle : false ,  
                                        spanLabel : true   
                                ,scParamDataFn :
                                 function() { 
                                    return { 
                                        
                                        
                                        hint :          this.getSimpleBundleString('extn_Watermark_Messages')
                        ,   
                                        bindingData :   {
         sourceBinding :    {
         path :             'BarCodeData'
,
         namespace :            'translateBarCode_output'
    }
,
         targetBinding :    [
            {
         path :             'BarCode.BarCodeData'
,
         namespace :            'translateBarCode_input'
    }
    
    ]
    }
                                    }
                                }
                        "></div>
                    </div>
                </div>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'css5' , 
                            uId : '2ndLineMiddle' , 
                            layoutAlign : 'top'  
                         ">
                    <div data-dojo-type="idx/form/NumberTextBox" data-dojo-props="      'class' : 'css7' , 
                                    constraints :           {
                                  fractional: false
                                                
                                         }
                             , 
                                    uId : 'noOfBags' , 
                                    scParamDataFn :
                                     function() { 
                                        return { 
                                            label :             this.getSimpleBundleString('Number of Bags')
                            ,   
                                
                                            bindingData :   {
                                     sourceBinding :    {
                                     path :             'Shipment.DestinationZone'
                            
                            
                            ,
                                     namespace :            'baggingModel'
                                }
                            ,
                                     targetBinding :    [
                                        {
                                     path :             'Shipment.DestinationZone'
                            ,
                                     namespace :            'Bags_input'
                                }
                                ]
                                }
                                        }
                                    }
                            "></div>
                </div>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'css4' , 
                    uId : '2ndLineRight' , 
                    layoutAlign : 'top'  
                    ,scParamDataFn :
                     function() { 
                      return { 
                        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                      }
                    }
                " role='region'>
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="    'class' : 'idxSpecialButton closePadding' , 
                            uId : 'pickNBag'  ,
                            renderHidden : false 
                            ,scParamDataFn :
                             function() { 
                              return { 
                                
                                label :       this.getSimpleBundleString('extn_pb')
                              }
                            }
                            "></div>
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="    'class' : 'idxSpecialButton closePadding' , 
                            uId : 'closeToSummary'  ,
                            renderHidden : false 
                            ,scParamDataFn :
                             function() { 
                              return { 
                                
                                label :       this.getSimpleBundleString('Close')
                              }
                            }
                            "></div>
                </div>
            </div>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel productTagOverflow' , 
                uId : '3rdLine' , 
                layoutAlign : 'top'  
                ,scParamDataFn :
                 function() { 
                  return { 
                    'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                  }
                }
            " role='region'>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'css1' , 
                        uId : '3rdLineLeft' , 
                        layoutAlign : 'top'  
                        ,scParamDataFn :
                         function() { 
                          return { 
                            'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                          }
                        }
                    " role='region'>
                    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="departmentLbl" data-dojo-props="       'class' : 'autoLabelZeroWidth department blockComponent ' , 
                                            uId : 'productNo'  
                                            ,scParamDataFn :
                                             function() { 
                                                return { 
                                                    label :             this.getSimpleBundleString('No_of_Products')
                                    ,   
                                                    bindingData :   {
                                             sourceBinding :    {

                                        }
                                        }
                                                }
                                            }
                                    "></div>
                </div>
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'css6' , 
                            uId : '3rdLineRight' , 
                            layoutAlign : 'top'  
                            ,scParamDataFn :
                             function() { 
                              return { 
                                'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                              }
                            }
                        " role='region'>
                    <!--  <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="     spanLabel : true , 
                                            hasImage : true , 
                                            imageSrc : 'wsc/resources/css/icons/images/filterBy_blue.png' , 
                                            appendToContextRoot : true , 
                                            uId : 'lnkFilterBatchList'  
                                            ,scParamDataFn :
                                             function() { 
                                                return { 
                                                    title :             this.getSimpleBundleString('Title_FilterBatchList')
                                    ,   
                                                    imageAlt :          this.getSimpleBundleString('Title_FilterBatchList')
                                                }
                                            }
                                    "></div> -->
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="      spanLabel : true , 
        uId : 'pnlListContainer'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="  spanLabel : true , 
  'class' : 'repeatingpanel ' , 
  uId : 'baggingLineScreenPanel'  
   ,scParamDataFn :
   function() { 
   return { 
     'aria-label' :    this.getSimpleBundleString('arialabel_aboutproductVersionInfoPanel')
, 
     bindingData :  {
   repeatingscreenID :    'extn.customScreen.bagging.BaggingLineDetails'
,
   repeatingScreen :  {
   repeatingnamespace :    'baggingLine'
,
   path :    'Shipment.ShipmentLines.ShipmentLine'
,
   repeatingscreenpath :    'ShipmentLine'
,
   sourcenamespace :    'baggingModel'
 }
 }
    ,
         uniqueIdGeneratorFunc :            'getUniqueRepeatingPanelUId'
   }

  }
" role='region'></div>
        </div>
    </div>
</div>
