<div class="sc-platform-screen-default baggingwarningdialog">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    spanLabel : true , 
    uId : 'systemMessagePanelPopup' , 
    renderHidden : true  
 "></div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    spanLabel : true , 
    'class' : 'screen messageSummary' , 
    uId : 'dialogTitle'  
 ">
        <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="    'class' : 'messageWarningIcon' , 
    uId : 'warningIcon'  
 "></div>
        <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="    spanLabel : true , 
    'class' : 'messageDescription' , 
    uId : 'confirmationMessageLabel'  
    ,scParamDataFn :
     function() { 
      return { 
        value :       this.getSimpleBundleString('Label_warning_message')
      }
    }
"></div>
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    spanLabel : true , 
    'class' : 'messageWrapper' , 
    uId : 'outerDetailsContainer'  
 ">
        <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="    spanLabel : true , 
    uId : 'confirmationMessage'  
 "></div>
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'popupNavigation messageDialogFooter' , 
    uId : 'abandondedBPNavigationContainer'  
 ">
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'topNavigation inline' , 
    uId : 'abandondedBPNavigationPanel'  
 ">
            <div data-dojo-type="dijit/form/Button" data-dojo-props="   spanLabel : true , 
    'class' : 'idxSpecialButton' , 
    showLabel : true , 
    uId : 'Popup_startOver'  
    ,scParamDataFn :
     function() { 
      return { 
        label :       this.getSimpleBundleString('Action_startOver')
      }
    }
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="   spanLabel : true , 
    'class' : 'idxSpecialButton' , 
    showLabel : true , 
    uId : 'Popup_continue'  
    ,scParamDataFn :
     function() { 
      return { 
        label :       this.getSimpleBundleString('Action_continue')
      }
    }
"></div>
        </div>
        <div data-dojo-type="dijit/form/Button" data-dojo-props="   spanLabel : true , 
    'class' : 'idxSecondaryButton thirdButton' , 
    showLabel : true , 
    uId : 'Popup_cancelButton'  
    ,scParamDataFn :
     function() { 
      return { 
        label :       this.getSimpleBundleString('Action_Cancel')
      }
    }
"></div>
    </div>
</div>
