		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_storeContextPortlet' , 
		uId : 'extn_contentpane1stFromLeft' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_storeContextPortlet' , 
		uId : 'extn_CP2ndFromLeft' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_storeContextPortlet' , 
		uId : 'extn_contentpane3rdFromLeft' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_storeContextPortlet',
				packageName: 'extn.customScreen',
				className: 'StoreContextPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'extn_customerServicePortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '2',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_storeContextPortlet',
				packageName: 'extn.customScreen',
				className: 'StoreContextPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane1stFromLeft',
			_sc_extensibility_position: 'first',
			_sc_extensibility_moveOrder: '11',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_bopusDashBoard',
				packageName: 'extn.customScreen',
				className: 'BopusDashboardPortlet',
				handleInit: true,
				'class': 'bopusdashboardportlet',
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'extn_storeContextPortlet',
			_sc_extensibility_position: 'after',
			_sc_extensibility_moveOrder: '7',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_bopusDashBoard',
				packageName: 'extn.customScreen',
				className: 'BopusDashboardPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane1stFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '12',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'pickOrdersPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'PickOrdersPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_customerServicePortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '3',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'pickOrdersPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'PickOrdersPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane1stFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '13',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'packPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'PackPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_customerServicePortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '4',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'packPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'PackPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_CP2ndFromLeft',
			_sc_extensibility_position: 'first',
			_sc_extensibility_moveOrder: '14',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'confirmShipmentPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'ConfirmShipmentPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_customerServicePortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '5',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'confirmShipmentPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'ConfirmShipmentPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_CP2ndFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '15',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_customerServicePortlet',
				packageName: 'extn.customScreen',
				className: 'CustomerServicePortlet',
				handleInit: true,
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'customerPickPortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '1',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_customerServicePortlet',
				packageName: 'extn.customScreen',
				className: 'CustomerServicePortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_CP2ndFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '16',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'customerPickPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'CustomerPickPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane3rdFromLeft',
			_sc_extensibility_position: 'first',
			_sc_extensibility_moveOrder: '17',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'backroomPickPortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'BackroomPickPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane3rdFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '18',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'orderCapturePortlet',
				packageName: 'wsc.desktop.home.portlets',
				className: 'OrderCapturePortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane3rdFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '19',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_updatePrinter',
				packageName: 'extn.customScreen',
				className: 'UpdatePrinterPortlet',
				handleInit: true,
				'class': 'updateprinterportlet',
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'orderCapturePortlet',
			_sc_extensibility_position: 'after',
			_sc_extensibility_moveOrder: '6',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
				data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_updatePrinter',
				packageName: 'extn.customScreen',
				className: 'UpdatePrinterPortlet',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_contentpane3rdFromLeft',
			_sc_extensibility_position: 'last',
			_sc_extensibility_moveOrder: '20',
			scExtensionDataFn: function() {
				return {
				}
			}}">
	</div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
					data-dojo-props="data_dojo_props_diff: {
					uId: 'customerPickPortlet',
					packageName: 'wsc.desktop.home.portlets',
					className: 'CustomerPickPortlet',
					handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_storeContextPortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '21',
				scExtensionDataFn: function() {
					return {
					}
				}}">
	</div>
		</div>
