<div class="sc-platform-screen-default ReminderPopup">
    
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel marginPack' , 
    uId : 'scanPanel ' , 
    layoutAlign : 'top'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
      }
    }
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'scanPanelData' , 
    uId : 'productScanForm' , 
    layoutAlign : 'top'  
 ">
  <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		spanLabel : true , 
		'class' : 'block reminderLabel' , 
		uId : 'RL0'  
 		,scParamDataFn :
		 function() { 
			return { 
			 value : 			this.getSimpleBundleString('extn_Reminder_Label0')
			}
		}
"></div>
<div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		spanLabel : true , 
		'class' : 'block reminderLabel' , 
		uId : 'RL2'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Reminder_Label2')
			}
		}
"></div>
<div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		spanLabel : true , 
		'class' : 'block reminderLabel' , 
		uId : 'RL3'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Reminder_Label3')
			}
		}
"></div>
          
          
<div class="buttonSet">
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton margin10' , 
		uId : 'confirmButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_Confirm_Pickup')
,	
			 	label : 			this.getSimpleBundleString('extn_Confirm_Pickup')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton closePadding' , 
		uId : 'cancelButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	
			 	label : 			this.getSimpleBundleString('Close_Button')
			}
		}
"></div>
</div>
        </div>
    </div>
</div>
