		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkTrackingNo' , 
		renderHidden : false , 
		disabled : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblContainerNo' , 
		uId : 'extn_returnTrackingNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_retuen_tracking')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ContainerDetail.Container.CODReturnTrackingNo'
,
		 namespace : 			'TrackingData'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
