.extnGWPImage
{
	 height: 20px;   
}
.extnCreateAddressPopup
{
                width: 500px;
}
.extnCreateAddress
{
               width: 800px;

}
.extnHoldShipToContentPane
{
	 width: 90%;
        height: 100px;
background-color: #F5F5F5;
margin-left: 3%;

	  
}
.extnTitleContentPane
{
                width: 97%;
                height: 17px; 
                margin-left: 1%;
margin-top: 2.5px;
                border-width:1.7px;
                border-color:#D0D0E0;
                border-style: none none inset none;
}
.extnAddressContentPane
{
                margin-left: 1%;
               width: 85%;
                margin-top: 2.5px;
}
.extnSubAddress
{
                margin-left: 2px;
}
.extnTitleText
{
                font-weight: bold;
}
.extn_nextAddressLine
{
                display: block;
}
.extnHoldBillToContentPane{
 width: 90%;
        height: 100px;
background-color: #F5F5F5;

margin-left: 3%;
}
.extnNotesFont {
  display: inline-block;
  font-size: 1.2em;
}
.isccs .scDataLabel {
  padding-bottom: 0px;
}
.extnTitlePane {

font-weight:bold;
border-width:1px; 
border-color:#777777; 
border-style: none none inset none;
width:86%;
}
.isccs .ellipsisText .dijitInputfield {
    word-break: break-word;
}

.isccs.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogo {
  background: url('../icons/images/Sakslogo.png') no-repeat;
   background-size: 90% 75%;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogo {
    display: inline;
    float: right;
    width: 80px;
    height: 38px;
    margin-top: 4px;
    background: url('../icons/images/Sakslogo.png') no-repeat 35% 23%;
}

.isccs .isccsMDIContainer > .dijitTabListContainer-top .dijitTabListWrapper {
    min-height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #AE0903;
    background: -moz-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f10419), color-stop(100%, #f13737));
    background: -webkit-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -o-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -ms-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: linear-gradient(top, #f10419 0%, #f13737 100%);
}


.oneui .idxHeaderContainer .idxHeaderBlueLip {
    background: #AE0903;
    background: -moz-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f10419), color-stop(100%, #f13737));
    background: -webkit-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -o-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -ms-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: linear-gradient(top, #f10419 0%, #f13737 100%);
}

.isccs .isccsMDIContainer > .dijitTabListContainer-top .dijitTabListWrapper .dijitTabContainerTop-tabs .dijitTab {
    color: #ffffff;
    height: 80%;
    top: 0px;
    padding-left: 3px;
    margin: 0px;
    border-top: none;
    border-radius: 0px;
    background: #1d90cd;
    background: -moz-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f10419), color-stop(100%, #f13737));
    background: -webkit-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -o-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: -ms-linear-gradient(top, #f10419 0%, #f13737 100%);
    background: linear-gradient(top, #f10419 0%, #f13737 100%);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
