<div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'displayEmail emailImageBox' , 
		_sc_extensibility_referenceUId : 'pnlEmailHolder'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'lnkContinueBRP' , 
		uId : 'extn_startBagging' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Start_Bagging')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_startBagging' , 
		uId : 'extn_continueBagging' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Continue_Bagging')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkPrint'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'lnkPrint' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'icon-image-label ellipsisText emailLink' , 
		_sc_extensibility_referenceUId : 'lnkEmail'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'blockComponent field groupLabelSpacing comappsWrapWord zeroWidthLabelValueDesktop paddinglblnew' , 
		_sc_extensibility_referenceUId : 'lblShipmentNo'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'blockComponent field groupLabelSpacing paddinglblnew' , 
		_sc_extensibility_referenceUId : 'lblAssignedToUsr'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Last_actioned_by')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'blockComponent field groupLabelSpacing paddinglblnew' , 
		_sc_extensibility_referenceUId : 'lblCarrier'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lblCarrier' , 
		uId : 'extn_orderPlaced' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Placed')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderPlacedDate'
,
		 namespace : 			'getShipmentList_output'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_orderPlaced' , 
		uId : 'extn_orderOMSDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Created_in_OMS_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderOMSDate'
,
		 namespace : 			'getShipmentList_output'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_orderOMSDate' , 
		uId : 'extn_shipStoreDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Released_to_store')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getShipStoreDate'
,
		 namespace : 			'getShipmentList_output'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/giftLine.png' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		appendToContextRoot : true , 
		uId : 'extn_flagImage' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	imageAlt : 			this.getSimpleBundleString('extn_Gift_Item')
,	
			 	title : 			this.getSimpleBundleString('extn_Gift_Item')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 dynamicBindingFunc : 			'extn_giftFlagImage'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
		'class' : 'diamondImage' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_flagImage' , 
		appendToContextRoot : true , 
		uId : 'extn_jewellarySign' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'fieldLabel blockComponent groupLabelSpacing' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'lblShipmentDesc' , 
		uId : 'extn_slaIndicator' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_SLA_Indicator')
			}
		}
	 					}">
    </div>
</div>
