<div>
    <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_fromDate' , 
		uId : 'extn_dateType' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Date_Type')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 valueField : 			'CodeValue'
,
		 path : 			'CommonCodeList.CommonCode'
,
		 descriptionField : 			'CodeValue'
,
		 namespace : 			'extn_dateModel'
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'Date.DateType'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_selectedDateType'
	}
	]
,
		 sourceBinding : 	{
		 path : 			'Date.DateType'
,
		 namespace : 			'extn_initialDateType'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'fs_carrier'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_Carrier')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'SST_OrderBy'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'innerTitlePane singlecolumntable' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'pnlShipFields' , 
		toggleable : false , 
		uId : 'extn_orderRange' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_orderRange')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		open : false , 
		spanLabel : true , 
		'class' : 'collapsablePane boxLayout minHeightPanel' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_packProductScan' , 
		toggleable : true , 
		uId : 'extn_scnPack' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_Scan')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/layout/TitlePane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'innerTitlePane singlecolumntable' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_alternatePersonPane' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_Alternate_Pickup_Person_Information')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/DateTextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'padding-top: 5px; padding-bottom: 5px;     display: block;' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'pnlShipFields' , 
		uId : 'extn_fromDate' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_fromDate')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ShipmentLines.ShipmentLine.Order.FromOrderDate'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentList_input'
	}
	]
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/DateTextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'padding-bottom: 5px;     display: block;' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'pnlShipFields' , 
		uId : 'extn_toDate' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_toDate')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ShipmentLines.ShipmentLine.Order.ToOrderDate'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentList_input'
	}
	]
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/CheckBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'includeOrdersPicked'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Other_Assigned_Stores')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_fromDate' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/CheckBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'isGiftRecpt'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/CheckBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_alternatePersonPane' , 
		uId : 'isGiftRecpt' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/RadioButtonSet" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'rad_pickShipOrBoth'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_orderNo'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_OrderNo')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_shipmentNo'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_ShipmentNumber')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'txt_shipmentNo' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.UPC'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_upcData_input'
	}
	]
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_assignedToUsr'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Last_actioned_by')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_dayPhone'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_Phone_Number')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_emailId'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_EmailID')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_firstName'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_TextField_Firstname')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_lastName'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_TextField_Lastname')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'txt_recipientLastName' , 
		selectOnClick : true , 
		scuiDataType : 'EmailID' , 
		uId : 'extn_recipientEmailStart' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_EmailID')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ShipmentLines.ShipmentLine.OrderLine.PersonInfoMarkFor.EMailID'
,
		 namespace : 			'screenInput'
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ShipmentLines.ShipmentLine.OrderLine.PersonInfoMarkFor.EMailID'
,
		 queryType : 			'FLIKE'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentListWithGiftRct_input'
	}
	]
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'isGiftRecpt' , 
		uId : 'txt_recipientFirstName' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'txt_recipientFirstName' , 
		uId : 'txt_recipientLastName' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'txt_recipientLastName' , 
		uId : 'extn_recipientEmailStart' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget" data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_packProductScan',
				packageName: 'extn.customScreen',
				className: 'PackProductScan',
				handleInit: true,
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'SST_SearchResult',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '14',
			scExtensionDataFn: function() {
				return {
				}
			}}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget" data-dojo-props="data_dojo_props_diff: {
				uId: 'extn_packProductScan',
				packageName: 'extn.customScreen',
				className: 'PackProductScan',
				handleInit: true,
			_sc_extensibility_operation: 'move',
			_sc_extensibility_referenceUId: 'extn_scnPack',
			_sc_extensibility_position: 'first',
			_sc_extensibility_moveOrder: '16',
			scExtensionDataFn: function() {
				return {
				}
			}}">
    </div>
</div>
