<div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'floatRight boldText' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'repeatingPanel' , 
		uId : 'extn_totalRecords' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Total_Records')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Page'
,
		 dynamicBindingFunc : 			'extn_getTotalRecords'
,
		 namespace : 			'getList_output'
	}
	}
			}
		}
	 					}">
    </div>
</div>
