		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'inline' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'divLocation' , 
		uId : 'extn_datalabel_scac' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Scac')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.SCAC'
,
		 dynamicBindingFunc : 			'extn_getSCaC'
,
		 namespace : 			'extn_BPLine_ShipmentDetails'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'inline' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'divLocation' , 
		uId : 'extn_datalabel_scacService' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_service')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ScacAndService'
,
		 dynamicBindingFunc : 			'extn_getSCaCAndService'
,
		 namespace : 			'extn_BPLine_ShipmentDetails'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'inline' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'divLocation' , 
		uId : 'extn_datalabel_Tracking' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Tracking_No')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.TrackingNo'
,
		 dynamicBindingFunc : 			'extn_TrackingNo'
,
		 namespace : 			'extn_BPLine_ShipmentDetails'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
