<div class="restockingShipmentLineDetails">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'shipmentLineDetailsContainer' , 
		colspan : 1 , 
		uId : 'shipmentLineDetailsContainer'  
 ">
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'screen a11yHiddenLabel' , 
		uId : 'errorMsgPnl' , 
		renderHidden : true , 
		layoutAlign : 'top'  
 "></div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'leftPanel restockingItemDetails' , 
		colspan : 1 , 
		uId : 'leftPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'itemImageSmallDivAlt restockingImage showCursorPointer' , 
		colspan : 1 , 
		uId : 'itemImageCP'  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		'class' : '' , 
		uId : 'itemImage'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation'
,
		 namespace : 			'shipmentLineLevel'
	}
,
		 imageBindings : 	{
		 defaultImage : 	{
		 style : 			''
,
		 src : 			''
,
		 styleClass : 			'noItemImage'
	}
,
		 imageUrl : 	{
		 path : 			'ImageLocation'
,
		 dynamicBindingPackage : 			'ias.utils'
,
		 dynamicBindingFunc : 			'getItemImageLocation'
,
		 dynamicBindingClassName : 			'ScreenUtils'
	}
,
		 imageIcon : 	{
		 path : 			'ImageID'
,
		 dynamicBindingPackage : 			'ias.utils'
,
		 dynamicBindingFunc : 			'getItemImageId'
,
		 dynamicBindingClassName : 			'ScreenUtils'
	}
	}
	}
			}
		}
"></div>
      
</div>
 


            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'detailsPanel paddingLeft' , 
		colspan : 1 , 
		uId : 'productDetailsCP'  
 ">
                <div>
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'itemDescription' , 
		colspan : 1 , 
		uId :'Itemdetails'  
 ">

                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="      imageStyleClass : 'ibmlogo' , 
        title : '' , 
        imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
        'class' : 'diamondImage' , 
        appendToContextRoot : true , 
        imageAlt : '' , 
        uId : 'extn_jewellarySign'  
 "></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		spanLabel : true , 
		'class' : 'groupHeader autoLabelZeroWidth blockComponent productdesclink restockingDecsription' , 
		uId : 'itemdescriptionLink'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ExtendedDisplayDescription'
,
		 namespace : 			'shipmentLineLevel'
	}
	}
			}
		}
"></div>

</div>
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'restockingQuantity' , 
		colspan : 1 , 
		uId :'QuantityCP'  
 ">
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'quantityLabel topPaddingRestocking' , 
		colspan : 1 , 
		uId :'QuantityCPChild'  
 ">
      <div data-dojo-type="sc/plat/dojo/widgets/Label"
    data-dojo-props="  'class' : 'autoLabelZeroWidth pickQuantity idxLabel' , 
  uId : 'totalPickQtyLabel'  
   ,scParamDataFn :
   function() { 
   return { 
     bindingData :  {
   sourceBinding :  {
   path :    'ShipmentLine.Quantity'
,
   namespace :    'shipmentLineLevel'
 }
 }
   }
  }
"></div>
</div>
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : '' , 
		colspan : 1 , 
		uId :'QuantityCPChild2'  
 ">
    <div data-dojo-type="sc/plat/dojo/widgets/Image"
    data-dojo-props="  imageSrc : 'wsc/resources/css/icons/images/shipping_small.png' , 
  'class' : '' , 
  appendToContextRoot : true , 
  uId : 'greyShipOrderImage' , 
  scParamDataFn :
   function() { 
   return { 
     title :    this.getSimpleBundleString('Tooltip_ShipQuantity')
, 
     imageAlt :    this.getSimpleBundleString('Tooltip_ShipQuantity')
   }
  }
"></div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label"
    data-dojo-props="  'class' : 'inline idxLabel zeroWidthLabelKey' , 
  uId : 'pickBPQtyLabel'  
   ,scParamDataFn :
   function() { 
   return {
     bindingData :  {
   sourceBinding :  {
   path :    'ShipmentLine.Quantity'
,
   namespace :    'shipmentLineLevel'
 }
 }
   }
  }
"></div>
</div>
                </div>


                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'itemVariation' , 
		uId : 'itemVariationPanelHolder'  
 "></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completelyScanned.png' , 
		'class' : 'blockComponent scanComplete' , 
		appendToContextRoot : true , 
		uId : 'productScanImagePanel' , 
		renderHidden : true  
 "></div>
                    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'inline idxLabel zeroWidthLabelKey scanCompleteLabel' , 
		uId : 'completelyPickedLabel'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('Label_emptyLabel')
			}
		}
"></div>
                    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : '' , 
		
		renderHidden : true  ,
		uId : 'shortageCompCont'  
 ">
                        <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completeyShorted.png' , 
		'class' : 'blockComponent scanComplete ' , 
		appendToContextRoot : true , 
		uId : 'productShortedImagePanel2' 
 		,scParamDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('Tooltip_title_completelyShort')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_title_completelyShort')
			}
		}
"></div>
                    </div>
                </div>
                <!--  <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/completeyShorted.png' , 
		'class' : 'blockComponent scanComplete block' , 
		appendToContextRoot : true , 
		uId : 'productShortedImagePanel2' , 
		renderHidden : true  
 "></div> -->
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_DeptCode" data-dojo-props="		'class' : 'sizein verticalAlign1' , 
									uId : 'extn_DeptCode'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_DMM')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDivision'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_Style" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_Style'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Style')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnVendorStyle'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_color" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_color'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Color')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getColor',

									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_size" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_size'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Size')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getSize',

									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_price" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_priceAttribute'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_priceAttribute')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getPriceAttribute',

									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_price" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_price'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Price')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									path : 			'ShipmentLine'
							,
											 dynamicBindingFunc : 			'extn_getPrice',

									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_deptNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_deptNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_DeptNo')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartment'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_label" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_label'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Label')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ManufacturerName'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_upcNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_upcNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_UPC')
							,	
										 	bindingData : 	{
										 	sourceBinding : 	{
									 path : 			'ShipmentLine'
							,
									dynamicBindingFunc : 			'extn_getUPC',

									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
				<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_sknNumber" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_sknNumber'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_SKN')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemID'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
                <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_classDesc" data-dojo-props="		'class' : 'sizein verticalAlign1 negativeMargin' , 
									uId : 'extn_classDesc'  
							 		,scParamDataFn :
									 function() { 
										return { 
										 	label : 			this.getSimpleBundleString('extn_Class')
							,	
										 	bindingData : 	{
									 sourceBinding : 	{
									 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnClass'
							,
							
									 namespace : 			'shipmentLineLevel'
								}
								}
										}
									}
							"></div>
            </div>
        </div>
    </div>
</div>
