<div class="restockingScreen">

 <!-- <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="  spanLabel : true , 
  'class' : 'repeatingpanel restockingRP' , 
  uId : 'restocking_parent'  
   ,scParamDataFn :
   function() { 
   return { 
     'aria-label' :    this.getSimpleBundleString('arialabel_aboutproductVersionInfoPanel')
, 
     bindingData :  {
   repeatingscreenID :    'extn.customScreen.restocking.restockingShipmentDetails'
   
,
   repeatingScreen :  {
   repeatingnamespace :    'shipmentLevel'
,
   path :    'Shipments.Shipment'
,
   repeatingscreenpath :    'Shipment'
,
   sourcenamespace :    'parentModel'
 }
 }
    ,
         uniqueIdGeneratorFunc :            'getUniqueRepeatingPanelUId'
   }

  }
" role='region'></div>
 -->
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'repeatingpanel restockingRP' , 
    uId : 'restocking_parent'  
    ,scParamDataFn :
     function() { 
      return { 
        bindingData :   {
     isPaginated :      true
,
     repeatingScreen :  {
     repeatingnamespace :       'shipmentLevel'
,
     path :       'Shipments.Shipment'
,
     repeatingscreenpath :      'Shipment'
,
     sourcenamespace :      'parentModel'
  }
,
     mashupRefId :      'restocking_getShipmentList_ref'
,
     pagination :   {
     pageSizesClassName :       'ExpicientUtil'
,
     pageSizePackage :      'extn.expicient.utils'
,
     pageSizesFunc :      'getPageSizesForRepeatingScreen_restocking'
,
     strategy :       'NEXTPAGE'
,
     pageSizeFunc :       'getPageSizeForRepeatingScreen_restocking'
,
     pageSizeClassName :      'ExpicientUtil'
,
     pageSizesPackage :       'extn.expicient.utils'
  }
,
     repeatingscreenID :      'extn.customScreen.restocking.restockingShipmentDetails'

  
  }
      }
    }
"></div>



