<div class="repeatingScreen borderForRepeatingScreen">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : '' , 
                            uId : '3rdLineRight' , 
                            layoutAlign : 'top'  
                            ,scParamDataFn :
                             function() { 
                              return { 
                                'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
                              }
                            }
                        " role='region'>
        <div data-dojo-type="idx/layout/TitlePane" data-dojo-props="		open : false , 
		spanLabel : true , 
		'class' : 'collapsablePane boxLayout' , 
		toggleable : true , 
		uId : 'restockingTitlePane' , 
		renderHidden : false  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('arialabel_AdditionalInformation')
,	
			 	title : 			this.getSimpleBundleString('Title_Additional_Information')
			}
		}
" role='region'>
              
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="  spanLabel : true , 
  'class' : 'repeatingpanel ' , 
  uId : 'baggingLineScreenPanel2'  
   ,scParamDataFn :
   function() { 
   return { 
     'aria-label' :    this.getSimpleBundleString('arialabel_aboutproductVersionInfoPanel')
, 
     bindingData :  {
   repeatingscreenID :    'extn.customScreen.restocking.restockingShipmentLineDetails'
,
   repeatingScreen :  {
   repeatingnamespace :    'shipmentLineLevel'
,
   path :    'Shipment.ShipmentLines.ShipmentLine'
,
   repeatingscreenpath :    'ShipmentLine'
,
   sourcenamespace :    'shipmentLevel'
 }
 }
    ,
         uniqueIdGeneratorFunc :            'getUniqueRepeatingPanelUId'
   }

  }
" role='region'></div>

        </div>
    </div>
</div>
