		<div>
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'giftThisItemCheck'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'giftWrapThisItemCheck'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift_Box_Items')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/RadioButtonSet" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'apply' , 
		uId : 'extn_radiobuttonset' , 
		required : true , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 radioBinding : 	{
		 options : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_0'
,
		 value : 			'01'
,
		 label : 			this.getSimpleBundleString('extn_Include_all_Items_in_one_box')
	}
,
	 		{
		 selected : 			true
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_1'
,
		 value : 			'02'
,
		 label : 			this.getSimpleBundleString('extn_Box_Items_Individually')
	}
	]
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
