		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_ItemID'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'Item.ItemID'
	}
,
		 sFieldBinding : 	{
		 path : 			'ItemDetails.ItemID'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'deliveryDetails'
,
		 hidden : 			true
,
		 width : 			'20%'
,
		 name : 			this.getSimpleBundleString('extn_ItemID')
,
		 uId : 			'extn_ItemID'
,
		 _sc_extensibility_position : 			'before'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
