		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'jewelleryIndicator' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		uId : 'extn_jewelleryIndicatorCP' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_jewellarySign' , 
		uId : 'extn_diamondCP' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'cmbCustVerfMethod' , 
		scExcludeForDirtyCheck : true  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.VerificationId'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_2'
,
		 namespace : 			'extn_customerVerificationMethod'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'cmbCustVerfMethod' , 
		scExcludeForDirtyCheck : true , 
		uId : 'extn_pickup_person' , 
		required : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Pickup')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 valueField : 			'Name'
,
		 path : 			'PersonInfo.Person'
,
		 descriptionField : 			'Name'
,
		 namespace : 			'extn_personInfoModel'
,
		 addEmptyOption : 			false
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.PickUpPerson'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_customerVerificationMethod'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_jewelleryIndicatorCP' , 
		uId : 'lblOrderNo' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'Hold_LocationLabel' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblAssignedToUsr' , 
		uId : 'extn_pickLocation' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Pickup_Location')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Pickup.Location'
,
		 namespace : 			'extn_pickLocModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lblPaymentMethod' , 
		uId : 'extn_noOfBags' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Number_of_Bags')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.DestinationZone'
,
		 namespace : 			'ShipmentDetails'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblPickupDate'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Shipment_Expiery_')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
		'class' : 'diamondImage' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		appendToContextRoot : true , 
		uId : 'extn_jewellarySign' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_diamondCP' , 
		uId : 'extn_jewellarySign' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_noOfBags' , 
		uId : 'extn_mixedOrder' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_This_is_a_mixed_order')
			}
		}
	 					}">
		 	</div>  
		</div>
