		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="bpshortageQuanitityDetails"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'bpshortageQuanitityDetails'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Quantity_shortage')
			}
		}
	 					}">
		 	</div>  
		</div>
