
	
	<div>
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'isGiftRecpt' , 
		uId : 'extn_checkbox:Is Pick Ticket Printed' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Is_Pick_Ticket_Printed')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.PickTicketPrinted'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentList_input'
	}
	]
,
		 checkedValue : 	{
		 value : 			'Y'
	}
,
		 uncheckedValue : 	{
		 value : 			'N'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'includeOrdersPicked' , 
		uId : 'extn_textfield:CreditCardNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Credit_Card_s_Last_4_Digits')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ShipmentLines.ShipmentLine.Order.PaymentMethods.PaymentMethod.DisplayCreditCardNo'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
			
			<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'SST_SearchButton'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'includeOrdersPicked' , 
		uId : 'extn_textfield:orders not picked by no of days' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Not_Picked_By_No_Of_Days')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ExtnNoOfDays'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedShipmentList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
			
		</div>
		
		
		