	<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
		 				data-ibmsc-uid="extn_customContentPane" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'pnlAddressHolder' , 
		uId : 'extn_customContentPane' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_shipToName" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_customContentPane' , 
		uId : 'extn_shipToName' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_MarkForName" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_customContentPane' , 
		uId : 'extn_MarkForName' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
	</div> 
