		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_checkBox_Mngr' , 
		_sc_extensibility_referenceUId : 'pnlCreateNote'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_checkBox_Mngr' , 
		_sc_extensibility_referenceUId : 'btnAddNote'  
	 					}">
		 	</div>  
		</div>
