		<div>
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'txtDisplaySvcNo' , 
		uId : 'extn_GiftCardNo' , 
		required : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.PaymentMethod.SvcNo'
,
		 namespace : 			'PaymentCapture_output'
	}
	}
,	
			 	label : 			this.getBundleString('extn_Gift_Card_No')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txtPaymentReference1' , 
		required : true  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Pin_No')
			}
		}
	 					}">
		 	</div>  
		</div>
