		<div>
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'cmbPaymentType'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'chkSaveAgainstCustomer' , 
		disabled : true  
	 					}">
		 	</div>  
		</div>
