		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_UPC'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_UPCCode'
,
		 path : 			'ItemDetails.ItemAliasList.ItemAlias.AliasValue'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColReturnQuantity'
,
		 width : 			'14%'
,
		 name : 			this.getSimpleBundleString('extn_UPC')
,
		 uId : 			'extn_listGrid_UPC'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColReturnQuantity'
,
		 _sc_extensibility_referenceUId : 			'tblColReturnQuantity'
,
		 width : 			'10%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColUnitPrice'
,
		 _sc_extensibility_referenceUId : 			'tblColUnitPrice'
,
		 width : 			'8%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'OrderDate'
,
		 _sc_extensibility_referenceUId : 			'OrderDate'
,
		 width : 			'7%'
	}
,
	 		{
		 field : 			'extn_Color'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetColor'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'2'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_UPC'
,
		 width : 			'9%'
,
		 name : 			this.getSimpleBundleString('extn_Color')
,
		 uId : 			'extn_listGrid_Color'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_size'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetSize'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'3'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_Color'
,
		 width : 			'8%'
,
		 name : 			this.getSimpleBundleString('extn_Size')
,
		 uId : 			'extn_listGrid_Size'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_finalSaleIndicator'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_finalScaleIndicator'
,
		 path : 			'ItemDetails.PrimaryInformation.IsReturnable'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'4'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_Size'
,
		 width : 			'6%'
,
		 name : 			this.getSimpleBundleString('extn_Final_Sale_Indicator')
,
		 uId : 			'extn_listGrid_FinaleSaleIndicator'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColProductReturnItems'
,
		 _sc_extensibility_referenceUId : 			'tblColProductReturnItems'
,
		 width : 			'22%'
	}
,
	 		{
		 field : 			'extn_giftFlag'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftFlag'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'5'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_FinaleSaleIndicator'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('extn_Gift_Flag')
,
		 uId : 			'extn_listGrid_GiftFlag'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_Order_No_Return'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'Order.OrderNo'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'6'
,
		 _sc_extensibility_referenceUId : 			'tblColProductReturnItems'
,
		 width : 			'11%'
,
		 name : 			this.getSimpleBundleString('OrderNo')
,
		 uId : 			'extn_Order_No_Return'
,
		 _sc_extensibility_position : 			'before'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
