		<div>
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'txtOrderNo' , 
		uId : 'extn_transactionNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('TransactionNumber')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'OrderLine.Extn.ExtnTransactionID'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getCompleteOrderLineList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'txtCustomerID' , 
		uId : 'extn_customerNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Customer_No_')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'OrderLine.Order.BillToID'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getCompleteOrderLineList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txtCustomerID' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_transactionNumber' , 
		uId : 'extn_UPCCode_Textbox' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'OrderLine.UPCCode'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getCompleteOrderLineList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'txtItemID' , 
		uId : 'extn_UPCCode_Textbox' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'txt_custPoNo' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		</div>
