		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColProductReturnItems'
,
		 _sc_extensibility_referenceUId : 			'tblColProductReturnItems'
,
		 width : 			'20%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColUnitPrice'
,
		 _sc_extensibility_referenceUId : 			'tblColUnitPrice'
,
		 width : 			'6%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColReturnQuantity'
,
		 _sc_extensibility_referenceUId : 			'tblColReturnQuantity'
,
		 width : 			'8%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColQuantity'
,
		 _sc_extensibility_referenceUId : 			'tblColQuantity'
,
		 width : 			'7%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColReturnReason'
,
		 _sc_extensibility_referenceUId : 			'tblColReturnReason'
,
		 width : 			'9%'
	}
,
	 		{
		 field : 			'extn_UPC_next'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_UPCCode'
,
		 path : 			'ItemDetails.ItemAliasList.ItemAlias.AliasValue'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColDelete'
,
		 width : 			'11%'
,
		 name : 			this.getSimpleBundleString('extn_UPC_next')
,
		 uId : 			'extn_listGrid_UPC'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_Color_next'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetColor'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'2'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_UPC'
,
		 width : 			'11%'
,
		 name : 			this.getSimpleBundleString('extn_Color')
,
		 uId : 			'extn_listGrid_Color'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_Size_next'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetSize'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'3'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_Color'
,
		 width : 			'8%'
,
		 name : 			this.getSimpleBundleString('extn_Size_next')
,
		 uId : 			'extn_listGrid_Size'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_FinalSaleIndicator_next'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_finalScaleIndicator'
,
		 path : 			'Extn.ExtnIsReturnable'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'4'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_Size'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('extn_Final_Sale_Indicator_next')
,
		 uId : 			'extn_listGrid_FinalSaleIndicator'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_GiftFlag_next'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftFlag'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'5'
,
		 _sc_extensibility_referenceUId : 			'extn_listGrid_FinalSaleIndicator'
,
		 width : 			'4%'
,
		 name : 			this.getSimpleBundleString('extn_Gift_Flag_next')
,
		 uId : 			'extn_listGrid_GiftFlag'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 hiddenCustomColumns : 	[
	 		{
		 field : 			'ExtnTransactionID'
,
		 tFieldBinding : 	{
		 path : 			'Extn.ExtnTransactionID'
	}
,
		 sFieldBinding : 	{
		 path : 			'Extn.ExtnTransactionID'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_8'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
