		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'detailsPanel paddingLeft' , 
		_sc_extensibility_referenceUId : 'productDetailsPanel'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'paddingLeft' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'extn_DeptCode' , 
		uId : 'extn_itemDetailsGrid' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'remainingQty' , 
		uId : 'extn_contentpane' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '40' , 
		_sc_extensibility_referenceUId : 'extn_contentpane' , 
		uId : 'divQuantity' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'inlineBlock groupHeader blockComponent productdesclink' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'removeQtyLink'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '43' , 
		_sc_extensibility_referenceUId : 'pickedQtylbl' , 
		uId : 'shortageResolutionLink' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'productScanImagePanel' , 
		uId : 'extn_DeptCode' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DMM')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDivision'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'extn_itemDetailsGrid' , 
		uId : 'extn_DeptCode' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DeptNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartment'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_Style' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_itemDetailsGrid' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_deptNumber' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_deptName')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartmentName'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_deptNumber' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_deptNumber' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Class')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnClass'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_Style' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'extn_deptName' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_DeptCode' , 
		uId : 'extn_Style' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Style')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnVendorStyle'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_Style' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getColor'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'extn_Style' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getSize'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getUPC'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_SKN')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemID'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_upcNumber' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '36' , 
		_sc_extensibility_referenceUId : 'extn_upcNumber' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Label')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ManufacturerName'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_sknNumber' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'completelyPickedLabel' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getPrice'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_qtyOnHand' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Qty_on_Hand')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getQty'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '41' , 
		_sc_extensibility_referenceUId : 'divQuantity' , 
		uId : 'shortagelbl' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '42' , 
		_sc_extensibility_referenceUId : 'shortagelbl' , 
		uId : 'pickedQtylbl' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
		'class' : 'diamondImage' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink' , 
		appendToContextRoot : true , 
		uId : 'extn_jelwellaryItem' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'itemVariationPanelHolder' , 
		uId : 'productScanImagePanel' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'itemVariationPanelHolder' , 
		uId : 'productScanImagePanel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/NumberTextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		readOnly : true , 
		_sc_extensibility_referenceUId : 'txtScannedQuantity' , 
		renderHidden : false , 
		disabled : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'productScanImagePanel' , 
		uId : 'completelyPickedLabel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
