		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'ordertasks' , 
		uId : 'extn_copyOrder' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Copy_Order')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'orderSummary' , 
		uId : 'extn_copyOrder' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_referenceUId : 'viewAllInvoices'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_checkBox_Mngr' , 
		_sc_extensibility_referenceUId : 'ResolveHoldWizard'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_referenceUId : 'AddModifyChargesWizard'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'customerAppeasement' , 
		uId : 'extn_sendEMail' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Send_Order_EMail')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_referenceUId : 'fulfillmentTasks'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_referenceUId : 'otherTasks'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		resourceId : 'extn_Related_Task_Alert' , 
		_sc_extensibility_referenceUId : 'priceMatch'  
	 					}">
		 	</div>  
		</div>
