		<div>
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'carrierService' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'Popup_navigationPanel' , 
		uId : 'extn_levelofService' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 path : 			'CarrierServiceCode'
,
		 namespace : 			'gerCarrierServiceOutput'
	}
	]
,
		 optionsBinding : 	{
		 descriptionField : 			'serviceType'
,
		 valueField : 			'serviceType'
,
		 path : 			'ShippingMode'
,
		 namespace : 			'extn_los_ns'
	}
	}
,	
			 	label : 			this.getSimpleBundleString('extn_Level_Of_Service')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'carrierService' , 
		uId : 'extn_levelofService' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
