		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'changeToPickup' , 
		renderHidden : false , 
		disabled : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'changeAddress' , 
		renderHidden : true , 
		disabled : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'changeLOS'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Change_Shipping_Method')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_ItemID'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'Item.ItemID'
	}
,
		 sFieldBinding : 	{
		 path : 			'Item.ItemID'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'noOfShipments'
,
		 hidden : 			true
,
		 width : 			'20%'
,
		 name : 			this.getSimpleBundleString('extn_ItemID1')
,
		 uId : 			'extn_ItemID'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_GiftWrap'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'GiftWrap'
	}
,
		 sFieldBinding : 	{
		 path : 			'GiftWrap'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'extn_ItemID'
,
		 hidden : 			true
,
		 width : 			'20%'
,
		 name : 			this.getSimpleBundleString('extn_GiftWrap')
,
		 uId : 			'extn_GiftWrap'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_ShippingSurCharge'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'PrimeLineNo'
,
		 dynamicBindingFunc : 			'extn_getShippingSurcharge'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColProductAddItems'
,
		 hidden : 			true
,
		 width : 			'10%'
,
		 uId : 			'extn_ShippingSurCharge'
,
		 _sc_extensibility_position : 			'before'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
