		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'quantityLabelDetails' , 
		uId : 'extn_datalabel:price' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.LinePriceInfo.UnitPrice'
,
		 namespace : 			'ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'quantityLabelDetails' , 
		uId : 'extn_datalabel:upc' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Upc'
,
		 namespace : 			'extn_ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'quantityLabelDetails' , 
		uId : 'extn_datalabel:size' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Size'
,
		 namespace : 			'extn_ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'quantityLabelDetails' , 
		uId : 'extn_datalabel:color' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Color'
,
		 namespace : 			'extn_ShipmentLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
