<div>
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="extn_checkboxContent" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_sortAfterPick_selectChkBox' , 
		uId : 'extn_checkboxContent' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="extn_qtyShipPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		'class' : 'qtyShipWidth' , 
		_sc_extensibility_moveOrder : '51' , 
		_sc_extensibility_referenceUId : 'quantityPanel' , 
		uId : 'extn_qtyShipPanel' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="quantityPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_DeptCode' , 
		uId : 'quantityPanel' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="quantityPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '52' , 
		_sc_extensibility_referenceUId : 'extn_qtyShipPanel' , 
		uId : 'quantityPanel' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="pickPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'deliveryTypeQuantity marginZeroWidth' , 
		_sc_extensibility_referenceUId : 'pickPanel'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="pickPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'quantityPanel' , 
		uId : 'pickPanel' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="pickPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '53' , 
		_sc_extensibility_referenceUId : 'extn_qtyShipPanel' , 
		uId : 'pickPanel' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="shipPanel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'shipPanel'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/layout/ContentPane" data-ibmsc-uid="extn_detailsPane" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		'class' : 'detPaneWidth' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'extn_DeptCode' , 
		uId : 'extn_detailsPane' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_DeptCode" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'extn_Style' , 
		uId : 'extn_DeptCode' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_DeptCode" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_DeptCode' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_Style" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_Style' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_Style" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '36' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_Style' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_color" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_color" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_color" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_size" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_size" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_priceAttr" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '49' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_priceAttr' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_priceAttr" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '50' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_priceAttr' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_price" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_price" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '41' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_deptNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_price' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_deptNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '42' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_label" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_label" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '43' , 
		_sc_extensibility_referenceUId : 'extn_detailsPane' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_upcNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_upcNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '44' , 
		_sc_extensibility_referenceUId : 'extn_label' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_sknNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_sknNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '45' , 
		_sc_extensibility_referenceUId : 'extn_upcNumber' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_mfgNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_mfgNumber' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_mfgNumber" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '46' , 
		_sc_extensibility_referenceUId : 'extn_sknNumber' , 
		uId : 'extn_mfgNumber' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_classDesc" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'locationLbl' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="extn_classDesc" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '47' , 
		_sc_extensibility_referenceUId : 'extn_mfgNumber' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="departmentLbl" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth ' , 
		_sc_extensibility_referenceUId : 'departmentLbl'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-ibmsc-uid="departmentLbl" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'departmentLbl' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/form/CheckBox" data-ibmsc-uid="extn_sortAfterPick_selectChkBox" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'imagePanel' , 
		uId : 'extn_sortAfterPick_selectChkBox' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
    <div data-dojo-type="idx/form/CheckBox" data-ibmsc-uid="extn_sortAfterPick_selectChkBox" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_checkboxContent' , 
		uId : 'extn_sortAfterPick_selectChkBox' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="pickCompleteLabel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'inline idxLabel zeroWidthLabelKey completeLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'pickCompleteLabel'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="totalPickQtyLabel" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth pickQuantity idxLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'totalPickQtyLabel'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="ofQtyLbl" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth pickQuantity idxLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'ofQtyLbl'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="shortageLbl" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth shortQuantity idxLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'shortageLbl'  
		 				}">
		 	</div>  
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-ibmsc-uid="totalShipQty" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'inline idxLabel zeroWidthLabelKey' , 
		_sc_extensibility_referenceUId : 'totalShipQty'  
		 				}">
		 	</div>  
</div>
