	<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
		 				data-ibmsc-uid="pnlPickInfoCol2" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'change' , 
		'class' : 'widthMobile250' , 
		_sc_extensibility_referenceUId : 'pnlPickInfoCol2'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
		 				data-ibmsc-uid="extn_phoneHolder" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'extn_userName' , 
		uId : 'extn_phoneHolder' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
		 				data-ibmsc-uid="extn_lineDetails" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lnk_ShipAction' , 
		uId : 'extn_lineDetails' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipmentNo" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_shipmentNo' , 
		_sc_extensibility_position : 'first'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_ShipmentNumber')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ShipmentNo'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_assignedTo" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_shipmentNo' , 
		uId : 'extn_assignedTo' , 
		_sc_extensibility_position : 'after'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Last_actioned_by')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.AssignedToUserId'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_carrier" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_assignedTo' , 
		uId : 'extn_carrier' , 
		_sc_extensibility_position : 'after'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_Carrier')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ScacAndService'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderPlaced" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_carrier' , 
		uId : 'extn_orderPlaced' , 
		_sc_extensibility_position : 'after'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Order_Placed')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderPlacedDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderOMSDate" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_orderPlaced' , 
		uId : 'extn_orderOMSDate' , 
		_sc_extensibility_position : 'after'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Order_Created_in_OMS_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderOMSDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipStoreDate" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_orderOMSDate' , 
		uId : 'extn_shipStoreDate' , 
		_sc_extensibility_position : 'after'  
 		,scIdentifierExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Order_Released_to_store')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getShipStoreDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
		 				data-ibmsc-uid="extn_imgPhoneNo" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'extn_phoneHolder' , 
		uId : 'extn_imgPhoneNo' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_userName" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'lbl_HoldLocation' , 
		uId : 'extn_userName' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_dayPhone" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_imgPhoneNo' , 
		uId : 'extn_dayPhone' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
	</div> 
