 <div class="cancelPickup">
<div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'paddingBottomCancelPickup wizardNavigationPanel ' , 
		uId : 'navigationPanel'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_wizard_navigation')
			}
		}
" role='region'>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton idxButtonIcon navNext' , 
		uId : 'nextBttn' , 
		iconClass : ' idxNextPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Confirm')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon navPrevious' , 
		uId : 'prevBttn' , 
		iconClass : ' idxPreviousPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Close')
			}
		}
"></div>
</div>
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		uId : 'orderlineGridContainer'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_grid_orderlines')
			}
		}
" role='region'>
<div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		uId : 'gridXParentMessagePanel'  
 "></div>
 <div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="
		uId : 'gridCancelPickup' , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		autoHeight : true ,
		  modules : 	[
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
,
		 single : 			false
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/Edit'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/CellWidget'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/NavigableCell'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/extendedSelect/Row'
	}
	]
	,
		scParamDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'ShipmentNo'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ShipmentNo'
	}
	},

		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('Shipment_No')
,
		 uId : 			'ShipmentNo'
	}
,
	 		{
		 field : 			'LineNo'
,
		 bindingData : 	{
		 sFieldBinding : 	{

		 path : 			'ShipmentLineNo'
	}
	}
,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('extn_Line_Number')
,
		 uId : 			'LineNo'
	}
,
	 		{
		 field : 			'Product'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'OrderLine.ItemDetails.PrimaryInformation.ExtendedDisplayDescription'
,
		 dynamicBindingFunc : 			'extn_getProductHTML'
,
		 dynamicBindingPackage : 			'extn.expicient.utils'
,
		 dynamicBindingClassName : 			'ExpicientUtil'
	}
	}
	,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('Product')
,
		 uId : 			'Product'
	}
,
	 		{
		 field : 			'CancelQty'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'OrderLine.OrderedQty'
	}
	}
,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('extn_Quantity_To_Cancel')
,
		 uId : 			'CancelQty'
	}
,
	 		{
		 field : 			'linePrice'
,
		 bindingData : 	{
		 sFieldBinding : 	{

		 path : 			'OrderLine.LinePriceInfo.LineTotal'
	}
	}
,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('LinePrice')
,
		 uId : 			'linePrice'
	}
	]
	,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ShipmentLine'
,
		 namespace : 			'gridNamespace'
	}
	}
			}
		}
	 					">
</div>  
</div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		uId : 'bottompreviewPanelContainer'  
 "></div>
 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'wizardNavigationPanel paddingTopCancelPickup' , 
		uId : 'navigationPanel2'
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_wizard_navigation')
			}
		}
" role='region'>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton idxButtonIcon navNext' , 
		uId : 'nextBttn2' , 
		iconClass : ' idxNextPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Confirm')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon navPrevious' , 
		uId : 'prevBttn2' , 
		iconClass : ' idxPreviousPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Close')
			}
		}
"></div>
</div>
 </div>