		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnk_RT_PrintPickTicket' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		resourceId : 'WSC000009' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lnk_RT_PrintPickTicket' , 
		uId : 'extn_link_RT_PrintPickTicket' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Print_Pick_Ticket')
			}
		}
	 					}">
		 	</div>  
		</div>
