		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_shipToName"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'extn_nextAddressLine' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lblMessage' , 
		uId : 'extn_shipToName' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_MarkForName"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_shipToName' , 
		uId : 'extn_MarkForName' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
