	<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
		 				data-ibmsc-uid="extn_lineDetails" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		'class' : 'padding-top-5' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'lnk_PackAction' , 
		uId : 'extn_lineDetails' , 
		_sc_extensibility_position : 'before'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_lblDayPhone" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_img_phNo' , 
		uId : 'extn_lblDayPhone' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipmentNo" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_shipmentNo' , 
		_sc_extensibility_position : 'first'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_lblAssignedToUsr" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_lblAssignedToUsr' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_carrier" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_carrier' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderPlaced" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_orderPlaced' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderOMSDate" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_orderOMSDate' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipStoreDate" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_lineDetails' , 
		uId : 'extn_shipStoreDate' , 
		_sc_extensibility_position : 'last'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
		 				data-ibmsc-uid="extn_img_phNo" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_lblName' , 
		uId : 'extn_img_phNo' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_lblName" data-dojo-props="data_dojo_props_identifier_diff: {
		 							_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'lbl_HoldLocation' , 
		uId : 'extn_lblName' , 
		_sc_extensibility_position : 'after'  
		 				}">
		 	</div>  
	</div> 
