		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'grdChargesAndRefunds'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_responseMessage'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_getResponseMsg'
,
		 path : 			'CreditCardTransactions.CreditCardTransaction.AuthReturnMessage'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'vwInvoiceDisplayDescription'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Response_Message')
,
		 uId : 			'extn_responseMessage'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_InvoiceCreationDate'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_getProcessedDate'
,
		 path : 			'InvoiceCollectionDetails.InvoiceCollectionDetail.DateInvoiced'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'2'
,
		 _sc_extensibility_referenceUId : 			'vwCreditAmount'
,
		 hidden : 			false
,
		 scuiDataType : 			'Date'
,
		 width : 			'12%'
,
		 name : 			this.getSimpleBundleString('Processed_Date')
,
		 uId : 			'extn_InvoiceCreationDate'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'vwExecutionDate'
,
		 _sc_extensibility_referenceUId : 			'vwExecutionDate'
,
		 hidden : 			true
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'vwDisplayPaymentType'
,
		 _sc_extensibility_referenceUId : 			'vwDisplayPaymentType'
,
		 width : 			'23%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'vwCreditAmount'
,
		 _sc_extensibility_referenceUId : 			'vwCreditAmount'
,
		 width : 			'12%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'vwInvoiceDisplayDescription'
,
		 _sc_extensibility_referenceUId : 			'vwInvoiceDisplayDescription'
,
		 width : 			'28%'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
