		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="departmentLbl"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'departmentLbl' , 
		renderHidden : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_DeptCode"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_sortAfterPick_selectChkBox' , 
		uId : 'extn_DeptCode' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DMM')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnDivision'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_Style"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1 negativeMargin' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_DeptCode' , 
		uId : 'extn_Style' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Style')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnVendorStyle'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_classDesc"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Class')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnClass'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_preSell"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_PreSell')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_priceAttr"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '48' , 
		_sc_extensibility_referenceUId : 'extn_preSell' , 
		uId : 'extn_priceAttr' , 
		renderHidden : false , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_empty')
,	
			 	label : 			this.getSimpleBundleString('extn_priceAttribute')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'StoreBatchLine.ShipmentLines.ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getPriceAttribute'
,
		 namespace : 			'BatchLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_price"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'extn_preSell' , 
		uId : 'extn_price' , 
		renderHidden : false , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'StoreBatchLine.ShipmentLines.ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getPrice'
,
		 namespace : 			'BatchLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_deptNumber"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_deptNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DeptNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnDepartment'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_label"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_deptNumber' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Label')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.PrimaryInformation.ManufacturerName'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_sknNumber"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_label' , 
		uId : 'extn_sknNumber' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('skn_type')
,	
			 	label : 			this.getSimpleBundleString('extn_SKN')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'StoreBatchLine.ItemID'
,
		 namespace : 			'BatchLine'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_upcNumber"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_upcNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.ItemAliasList.ItemAlias'
,
		 dynamicBindingFunc : 			'extn_getItemAlias'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_mfgNumber"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_mfgNumber' , 
		renderHidden : true , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_MFG')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.PrimaryInformation.ManufacturerItem'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_size"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getSize'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_color"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizein verticalAlign1' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_Style' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getColor'
,
		 namespace : 			'extn_ItemDet'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
		 				data-ibmsc-uid="extn_sortAfterPick_selectChkBox"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'chkBoxLeft' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'displaySAPStgLocPanelActionsLink' , 
		scExcludeForDirtyCheck : true , 
		uId : 'extn_sortAfterPick_selectChkBox' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Selected'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_printTicket'
	}
	]
,
		 checkedValue : 	{
		 value : 			'Y'
	}
,
		 uncheckedValue : 	{
		 value : 			'N'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="totalPickQtyLabel"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth pickQuantity idxLabel pipeBorder zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'totalPickQtyLabel'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="pickCompleteLabel"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'inline idxLabel zeroWidthLabelKey completeLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'pickCompleteLabel'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="ofQtyLbl"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth pickQuantity idxLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'ofQtyLbl'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="shortageLbl"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth shortQuantity idxLabel zeroPaddingLeft' , 
		_sc_extensibility_referenceUId : 'shortageLbl'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="totalShipQty"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'inline idxLabel zeroWidthLabelKey' , 
		_sc_extensibility_referenceUId : 'totalShipQty'  
	 					}">
		 	</div>  
		</div>
