		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_UnitPrice'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'LinePriceInfo.UnitPrice'
	}
,
		 sFieldBinding : 	{
		 path : 			'LinePriceInfo.ListPrice'
,
		 dynamicBindingFunc : 			'extn_PopulateUnitPrice'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'DeleteOrderLine'
,
		 hidden : 			true
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('UnitPrice')
,
		 uId : 			'extn_UnitPrice'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_GWP'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'PrimeLineNo'
,
		 dynamicBindingFunc : 			'getGWPLinkHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColProductAddItems'
,
		 width : 			'8%'
,
		 name : 			this.getSimpleBundleString('extn_GWP1')
,
		 uId : 			'extn_GWP'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 _sc_extensibility_referenceUId : 			'tblColQuantity'
,
		 width : 			'12%'
,
		 uId : 			'tblColQuantity'
	}
	]
,	
			 	bindingData : 	{
		 hiddenCustomColumns : 	[
	 		{
		 field : 			'isPriceLockedFlag'
,
		 tFieldBinding : 	{
		 path : 			'LinePriceInfo.IsPriceLocked'
	}
,
		 sFieldBinding : 	{
		 path : 			'LinePriceInfo.IsPriceLocked'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_29'
	}
,
	 		{
		 field : 			'UnitCost'
,
		 tFieldBinding : 	{
		 path : 			'Item.UnitCost'
	}
,
		 sFieldBinding : 	{
		 path : 			'ItemDetails.PrimaryInformation.UnitCost'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_30'
	}
,
	 		{
		 field : 			'ExtnClearanceLevel'
,
		 tFieldBinding : 	{
		 path : 			'Extn.ExtnClearanceLevel'
	}
,
		 sFieldBinding : 	{
		 path : 			'ItemDetails.ComputedPrice.ExtnClearanceLevel'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_31'
	}
,
	 		{
		 field : 			'ExtnOriginalListPrice'
,
		 tFieldBinding : 	{
		 path : 			'Extn.ExtnOriginalListPrice'
	}
,
		 sFieldBinding : 	{
		 path : 			'ItemDetails.ComputedPrice.ExtnOriginalListPrice'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_32'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
