		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_allocationId_hiddenfield' , 
		uId : 'extn_Refresh_Button' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Refresh')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'productAddPanel' , 
		uId : 'extn_allocationId_hiddenfield' , 
		type : 'hidden' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 path : 			'Order.AllocationRuleID'
,
		 namespace : 			'getCompleteOrderLineList_input'
	}
	]
,
		 sourceBinding : 	{
		 path : 			'CommonCodeList'
,
		 dynamicBindingFunc : 			'extn_getAllocationRuleID'
,
		 namespace : 			'extn_AllocationRuleID_Output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
