		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkItemDesc'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'extnNotesFont ' , 
		_sc_extensibility_referenceUId : 'lnkAddLineNotes'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'extnNotesFont ' , 
		_sc_extensibility_referenceUId : 'lblActions'  
	 					}">
		 	</div>  
		</div>
