		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_ReturnReason_Column_Field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ReturnReason'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColQuantity'
,
		 width : 			'25%'
,
		 name : 			this.getSimpleBundleString('ReturnReason')
,
		 uId : 			'extn_ReturnReason_Column'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColProductAddItems'
,
		 _sc_extensibility_referenceUId : 			'tblColProductAddItems'
,
		 width : 			'55%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColQuantity'
,
		 _sc_extensibility_referenceUId : 			'tblColQuantity'
,
		 width : 			'15%'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
