		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblReturnDateDisplay' , 
		scuiDataType : 'TimeStamp'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblReturnDateDisplay' , 
		uId : 'extn_UserId' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_User_Id')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Createuserid'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_UserId' , 
		uId : 'extn_refundTender' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Refund_Tender')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Extn.ExtnIsOrgPmtRefund'
,
		 dynamicBindingFunc : 			'extn_getRefundTender'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblChannelDisplay' , 
		renderHidden : true  
	 					}">
		 	</div>  
		</div>
