		<div>
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColUnitPrice'
,
		 _sc_extensibility_referenceUId : 			'tblColUnitPrice'
,
		 width : 			'8%'
	}
,
	 		{
		 _sc_extensibility_operation : 			'change'
,
		 uId : 			'tblColProductAddItems'
,
		 _sc_extensibility_referenceUId : 			'tblColProductAddItems'
,
		 width : 			'32%'
	}
	]
			}
		}
	 					}">
		 	</div>  
		</div>
