		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'itemVariationHolderCP' , 
		uId : 'extn_dmm' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DMM')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnDivision'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		uId : 'extn_dmm' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'itemVariationHolderCP' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DeptNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnDepartment'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_deptNo' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_deptName')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnDepartmentName'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_deptNo' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'itemVariationHolderCP' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Class')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnClass'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'extn_deptName' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'extn_style' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Style')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.Extn.ExtnVendorStyle'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		uId : 'extn_style' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_style' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getColor'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getSize'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_upc' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.ItemAliasList.ItemAlias'
,
		 dynamicBindingFunc : 			'extn_getItemAlias'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_upc' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_upc' , 
		uId : 'extn_skn' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_SKN')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.ItemID'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_qtyOnHand' , 
		uId : 'extn_skn' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_skn' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Label')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item.PrimaryInformation.ManufacturerName'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_skn' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : 'extn_qtyOnHand' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getPrice'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin verticalAlign sizinlabel' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'extn_qtyOnHand' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_OnhandQuantity')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Item'
,
		 dynamicBindingFunc : 			'extn_getQty'
,
		 namespace : 			'itemDetailsModel'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : ' inline unitPrice sizin verticalAlign sizinlabel displayNone' , 
		_sc_extensibility_referenceUId : 'lblUnitPrice' , 
		renderHidden : true  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_qtyOnHand' , 
		uId : 'lblUnitPrice' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '36' , 
		_sc_extensibility_referenceUId : 'itemImgDtlsDiv' , 
		uId : 'extn_itemImage' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Asset'
,
		 namespace : 			'itemDetailsModel'
	}
,
		 imageBindings : 	{
		 imageIcon : 	{
		 dynamicBindingFunc : 			'getImageIcon'
,
		 path : 			'ImageID'
	}
,
		 imageUrl : 	{
		 dynamicBindingFunc : 			'getItemImageUrl'
,
		 path : 			'ImageLocation'
	}
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'itemImage' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		</div>
