		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		resourceId : 'extn_Related_Task_Alert' , 
		'class' : 'idxSpecialButton idxButtonIcon' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'SST_SearchResult' , 
		uId : 'extn_CreateCustomer' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Create_New_Consumer')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'SST_SearchButton' , 
		uId : 'extn_CreateCustomer' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/RadioButtonSet" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		readOnly : true , 
		_sc_extensibility_referenceUId : 'radCustomerType' , 
		disabled : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'txt_customerPostalCodeAdvanced' , 
		uId : 'extn_city' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('City')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Customer.CustomerContactList.CustomerContact.CustomerAdditionalAddressList.CustomerAdditionalAddress.PersonInfo.City'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getConsumerCustomerList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'txt_customerEmailAdvanced' , 
		uId : 'extn_city' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'txt_customerPostalCodeAdvanced' , 
		uId : 'extn_State' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('State')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Customer.CustomerContactList.CustomerContact.CustomerAdditionalAddressList.CustomerAdditionalAddress.PersonInfo.State'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getConsumerCustomerList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
