		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'headerPanel ' , 
		_sc_extensibility_referenceUId : 'shipmentDetails'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'dueInTimeLabel'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'floatPropertyDue' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'img_TimeRmnClock' , 
		uId : 'extn_expectedDateContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'dueInTimeTextLabel' , 
		uId : 'extn_expectedDateContainer' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'pickTicketButton' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'productScanPanel' , 
		uId : 'extn_printTciket' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Print_Pick_Ticket')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'pickAll' , 
		renderHidden : true , 
		disabled : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'a11yHiddenLabel duein dueinMobile' , 
		_sc_extensibility_referenceUId : 'dueInTimeTextLabel'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'expectedShipDate' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_expectedDateContainer' , 
		uId : 'extn_expectedShipmentDate' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Due')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ExpectedShipmentDate'
,
		 namespace : 			'backroomPickShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
		'class' : 'diamondImage' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		appendToContextRoot : true , 
		uId : 'extn_jelwellaryItem' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'indicatorImageLabel' , 
		_sc_extensibility_referenceUId : 'img_TimeRmnClock'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'fieldLabel groupLabelSpacing dueinMobile' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'dueInTimeTextLabel' , 
		uId : 'extn_slaIndicator' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'pickAll' , 
		uId : 'extn_slaIndicator' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'dueInTimeTextLabel' , 
		uId : 'extn_slaIndicator' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
