		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'orderCount' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lblBatchPick' , 
		uId : 'extn_NoOfBatches' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'TotalNumberOfRecords'
,
		 dynamicBindingFunc : 			'batchBindingFunc'
,
		 namespace : 			'extn_batch_getStoreBatchList_Count'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'taskLabel ' , 
		_sc_extensibility_referenceUId : 'lblBatchPick'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'orderCount' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblConfirmOrders' , 
		uId : 'extn_labelShipPackages' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'TotalNumberOfRecords'
,
		 dynamicBindingFunc : 			'shipPackBindingFunc'
,
		 namespace : 			'extn_ship_getShipmentListCountoutput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'taskLabel ' , 
		'class' : 'taskLabel' , 
		_sc_extensibility_referenceUId : 'lblConfirmOrders'  
	 					}">
		 	</div>  
		</div>
