<div class="sc-platform-screen-default customerserviceportlet">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		
		'class' : 'screen portlet portlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStore')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'contentSeparator portletHeader' , 
		uId : 'portletHeaderPanel'  
 ">
            <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'primaryInformation' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_CustService')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Portlet.Title'
,
		 namespace : 			'portletTitle'
	}
	}
			}
		}
" role='heading'></div>
        </div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'PortletContent longFields' , 
		uId : 'pnlContent'  
 ">
            
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'basicSearch'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Search Orders')
,	
			 	label : 			this.getSimpleBundleString('extn_BasicSearch')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'advancedSearch'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Search Orders')
,	
			 	label : 			this.getSimpleBundleString('extn_AdvSearch')
			}
		}
"></div>

 <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'PortletContent longFields infoStore' , 
		uId : 'infoPortletHeader'  
 ">
 <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'idxLabel ' , 
		uId : 'infoPortlet'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_DirectedMessage')
,	
			 	bindingData : 	{
		
	}
			}
		}
" ></div></div>
        </div>
    </div>
</div>
