		<div>
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'email' , 
		required : true  
	 					}">
		 	</div>  
		</div>
