		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkCreateConsumer'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Create_New_Customer')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkNoConsumer'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Continue_as_Guest_Customer')
			}
		}
	 					}">
		 	</div>  
		</div>
