		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipStoreDate"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'lbl_IncludedInBatch' , 
		uId : 'extn_shipStoreDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Released_to_store')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getShipStoreDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderOMSDate"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_orderPlaced' , 
		uId : 'extn_orderOMSDate' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Created_in_OMS_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderOMSDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_orderPlaced"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing ' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'lbl_IncludedInBatch' , 
		uId : 'extn_orderPlaced' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Order_Placed')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment'
,
		 dynamicBindingFunc : 			'extn_getOrderPlacedDate'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_carrier"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing paddinglblnew' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'lbl_IncludedInBatch' , 
		uId : 'extn_carrier' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_Carrier')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ScacAndService'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_lblAssignedToUsr"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing paddinglblnew' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_shipmentNo' , 
		uId : 'extn_lblAssignedToUsr' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Last_actioned_by')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.AssignedToUserId'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_shipmentNo"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'blockComponent field groupLabelSpacing comappsWrapWord zeroWidthLabelValueDesktop paddinglblnew' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_lblDayPhone' , 
		uId : 'extn_shipmentNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_ShipmentNumber')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ShipmentNo'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
		 				data-ibmsc-uid="extn_lblDayPhone"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'icon-image-label  a11yHiddenLabel' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_img_phNo' , 
		uId : 'extn_lblDayPhone' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('Label_Phone_number')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.BillToAddress.DayPhone'
,
		 dynamicBindingFunc : 			'getDayPhone'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
		 				data-ibmsc-uid="extn_img_phNo"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'wsc/resources/css/icons/images/phone.png' , 
		'class' : 'defaultImageSize floatLeft' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_lblName' , 
		appendToContextRoot : true , 
		uId : 'extn_img_phNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('Tooltip_PhoneNo')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_PhoneNo')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_lblName"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'fieldLabel blockComponent groupLabelSpacing' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lbl_IncludedInBatch' , 
		uId : 'extn_lblName' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.BillToAddress.FirstName'
,
		 dynamicBindingFunc : 			'getFormattedNameDisplay'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
