<div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'alignDissolve' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'BatchNolbl' , 
		uId : 'extn_dissolveContainer' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'listHeader removeBorder' , 
		_sc_extensibility_referenceUId : 'batchLineActionsPane'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByPaneHeight' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'unpickedLineList' , 
		uId : 'extn_sortByPane' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '36' , 
		_sc_extensibility_referenceUId : 'extn_slaLink' , 
		uId : 'extn_slaContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'extn_dmmLink' , 
		uId : 'extn_dmmContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '42' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_departmentContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '45' , 
		_sc_extensibility_referenceUId : 'extn_labelLink' , 
		uId : 'extn_labelContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '48' , 
		_sc_extensibility_referenceUId : 'extn_styleLink' , 
		uId : 'extn_styleContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerSort' , 
		_sc_extensibility_moveOrder : '51' , 
		_sc_extensibility_referenceUId : 'extn_styleLinkImg' , 
		uId : 'extn_priceAttributeContainer' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '54' , 
		_sc_extensibility_referenceUId : 'extn_styleContainer' , 
		uId : 'extn_priceAttributeContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '55' , 
		_sc_extensibility_referenceUId : 'extn_styleContainer' , 
		uId : 'extn_priceAttributeContainer' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'left620 printButtonWidth' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'scanProductIdTxt' , 
		uId : 'extn_printPick' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_PrintAll')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		'class' : 'left620 printButtonWidth' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'BatchNolbl' , 
		uId : 'extn_printPick' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'extn_dissolveBatch' , 
		uId : 'extn_printPick' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_dissolveContainer' , 
		uId : 'extn_printPick' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'left35' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'BatchNolbl' , 
		uId : 'extn_dissolveBatch' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DissolveBatch')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_printPick' , 
		uId : 'extn_dissolveBatch' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_slaLink' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_sla')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : 'extn_slaContainer' , 
		uId : 'extn_slaLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'extn_slaLink' , 
		appendToContextRoot : true , 
		uId : 'extn_slaLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_slaLink' , 
		uId : 'extn_slaLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_dmmLink' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_DMM')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_dmmLink' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '40' , 
		_sc_extensibility_referenceUId : 'extn_dmmContainer' , 
		uId : 'extn_dmmLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'extn_dmmLink' , 
		appendToContextRoot : true , 
		uId : 'extn_dmmLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_dmmLinkImg' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '41' , 
		_sc_extensibility_referenceUId : 'extn_dmmLink' , 
		uId : 'extn_dmmLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_sortByPane' , 
		uId : 'extn_departmentLink' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_deptName')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '43' , 
		_sc_extensibility_referenceUId : 'extn_departmentContainer' , 
		uId : 'extn_departmentLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		appendToContextRoot : true , 
		uId : 'extn_departmentLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '44' , 
		_sc_extensibility_referenceUId : 'extn_departmentLink' , 
		uId : 'extn_departmentLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_dmmLink' , 
		uId : 'extn_labelLink' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Label')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '46' , 
		_sc_extensibility_referenceUId : 'extn_labelContainer' , 
		uId : 'extn_labelLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_labelLink' , 
		appendToContextRoot : true , 
		uId : 'extn_labelLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '47' , 
		_sc_extensibility_referenceUId : 'extn_labelLink' , 
		uId : 'extn_labelLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_labelLinkImg' , 
		uId : 'extn_styleLink' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Style')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '49' , 
		_sc_extensibility_referenceUId : 'extn_styleContainer' , 
		uId : 'extn_styleLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'extn_styleLink' , 
		appendToContextRoot : true , 
		uId : 'extn_styleLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '50' , 
		_sc_extensibility_referenceUId : 'extn_styleLink' , 
		uId : 'extn_styleLinkImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByOptions sortByRemove' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'extn_styleLinkImg' , 
		uId : 'extn_priceAttribute' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_priceAttribute')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '52' , 
		_sc_extensibility_referenceUId : 'extn_priceAttributeContainer' , 
		uId : 'extn_priceAttribute' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/arrowUp.png' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_priceAttribute' , 
		appendToContextRoot : true , 
		uId : 'extn_priceAttributeImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '53' , 
		_sc_extensibility_referenceUId : 'extn_priceAttribute' , 
		uId : 'extn_priceAttributeImg' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'screenHeader inlineBlock' , 
		_sc_extensibility_referenceUId : 'BatchNolbl' , 
		renderHidden : false  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'batchNoCss' , 
		_sc_extensibility_moveOrder : '59' , 
		_sc_extensibility_referenceUId : 'extn_printPick' , 
		uId : 'extn_batchNoLbl' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Batch2')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sortByLabel' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'extn_slaLink' , 
		uId : 'extn_sortByLabel' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getBundleString('extn_sortBy')
			}
		}
	 					}">
    </div>
</div>
