		<div>
		 	<div data-dojo-type="idx/form/RadioButtonSet" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		readOnly : true , 
		_sc_extensibility_referenceUId : 'radHomeCustomerType' , 
		disabled : true  
	 					}">
		 	</div>  
		</div>
