		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'portletPanel' , 
		renderHidden : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'tpnlMyExceptionTypes' , 
		renderHidden : false  
	 					}">
		 	</div>  
		</div>
