		<div>
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'txtOrderNo' , 
		uId : 'extn_transactionId' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Transaction_Number')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.OrderLine.Extn.ExtnTransactionID'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getOrderList'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
