/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* ======= Beginning of secondary (context) bar ======== */
.oneui .idxHeaderContainer {
    min-width: 980px;
}

/** secondary (context) bar **/
.oneui .idxHeaderContainer .idxHeaderSecondary {
    clear: both;
    height: 44px;
    border: none;
    background-color: #003f69;
    background-image: -moz-linear-gradient(#008abf, #047BB0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008abf), to(#047BB0));
    background-image: -webkit-linear-gradient(#008abf, #047BB0);
    background-image: -o-linear-gradient(#008abf, #047BB0);
    background-image: -ms-linear-gradient(top, #008abf, #047BB0);
    margin: 0;
    padding: 0;
    width: 100%;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondary {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#008abf', EndColorStr='#047BB0');
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary {
    background-color: #f8f8f8;
    background-image: none;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary {
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled='false');
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary {
    background-color: #ffffff;
    background-image: none;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary {
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled='false');
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .idxHeaderSecondary {
    background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8 80%, #e9e9e9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.80, #f8f8f8), color-stop(1, #e9e9e9));
    background-image: -ms-linear-gradient(top, #f8f8f8, #f8f8f8 80%, #e9e9e9);
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .idxHeaderSecondary {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#e9e9e9');	
}

.oneui .idxHeaderContainer .idxHeaderSecondarySingleRow .idxHeaderSecondary {
    height: 48px;
}

/** idxHeaderSecondaryInner **/
.oneui .idxHeaderContainer .idxHeaderSecondaryInner {
	position: relative;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondaryInner {
    height: 55px;
    border-bottom: 1px dotted #c4c4c4;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryLeading {
	padding: 0px;
	margin: 0px;
	/*position: absolute;*/
	left: 0px;
	top: 0px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryTrailing {
	padding: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	/*Set trailing part higher than tablist.*/
	z-index: 5;
}

.oneui .idxHeaderContainer .idxHeaderWidthFixed .idxHeaderSecondaryInner {
    width: 980px;
    margin: auto;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite.idxHeaderWidthFixed .idxHeaderSecondaryInner {
    width: 928px;
}

/** idxHeaderSecondaryTitleContainer **/
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    float: left;
    margin-left: 30px;
    margin-top: 9px;
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-left: 20px;
}

.oneui .idxHeaderContainer .idxHeaderSecondarySingleRow .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-top: 13px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondarySingleRow .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-top: 12px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite.idxHeaderWidthFixed .idxHeaderSecondary .idxHeaderSecondaryTitleContainer {
    margin-left: -1px;
}

/** contextBreadcrumb *
.oneui .idxHeaderContainer .idxHeaderSecondary .contextBreadcrumb.arrow {
    padding: 0 10px 0 10px;
}

.oneui .idxHeaderContainer .idxHeaderSecondary .contextBreadcrumb.idxHeaderSeparator {
    padding: 0 10px 0 10px;
}
*/

/** idxHeaderBlueLip **/
.oneui .idxHeaderContainer .idxHeaderBlueLip {
    clear: left;
    display: block;
    height: 4px;
    background-image: -moz-linear-gradient(#1a96c6, #0075a3);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a96c6), to(#0075a3));
    background-image: -webkit-linear-gradient(#1a96c6, #0075a3);
    background-image: -o-linear-gradient(#1a96c6, #0075a3);
    background-image: -ms-linear-gradient(top, #1a96c6, #0075a3);
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderBlueLip {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1a96c6', EndColorStr='#0075a3');	
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderBlueLip {
    line-height: 5px;
}
/* ======= End of secondary (context) bar ======== */


/* ======= Beginning of primary (navigation) bar ======== */
/** idxHeaderPrimary **/
.oneui .idxHeaderContainer .idxHeaderPrimary {
    float: left;
    width: 100%;
    background-color: #111111;
    background-image: -moz-linear-gradient(#3e3e3e, #131313);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e3e3e), to(#131313));
    background-image: -webkit-linear-gradient(#3e3e3e, #131313);
    background-image: -o-linear-gradient(#3e3e3e, #131313);
    background-image: -ms-linear-gradient(top, #3e3e3e, #131313);
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3e3e3e', EndColorStr='#131313');
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThin .idxHeaderPrimary {
    height : 38px;
    position: relative;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary {
    height : 61px;
    position: relative;
}

/** idxHeaderPrimaryInner **/
.oneui .idxHeaderContainer .idxHeaderWidthFixed .idxHeaderPrimaryInner {
    width: 980px;
    margin: auto;
    position: relative;
}

/** idxHeaderPrimaryTitle **/
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderPrimaryTitle {
    cursor: default;
    margin: 0 8px 0 13px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderPrimaryTitle {
    margin: 10px 8px 13px 9px;
}

/** idxHeaderPrimary ul li a **/
.oneui .idxHeaderContainer .idxHeaderPrimary ul {
    margin: 0;
    padding: 0;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li {
    list-style-type: none;
    display: inline;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li > span {
    display: block;
    float: left;
    margin: 10px 6px 0 7px;
    padding: 0 9px 0 10px;
    text-decoration: none;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li > span:focus {
    outline-style: none;
}

/** idxHeaderPrimary idxHeaderPrimaryAction **/
.oneui .idxHeaderContainer .idxHeaderPrimary ul.idxHeaderPrimaryActionsLeading {
	position: absolute;
	left: 0px;
	top: 0px;
    padding: 0;
    text-decoration: none;
}
.oneui .idxHeaderContainer .idxHeaderPrimary ul.idxHeaderPrimaryActionsTrailing {
	position: absolute;
	right: 0px;
	top: 0px;
    padding: 0;
    text-decoration: none;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction > * {
    float : left;
    padding: 0;
    text-decoration: none;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderEnd > * {
    padding: 0;
    margin: 0;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction {
	cursor: pointer;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderSeparator {
	cursor: default;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderSeparator span {
    padding: 10px 0 13px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserName {
    margin: 0 3px 0 3px;
    padding: 8px 7px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserName {
    padding: 20px 7px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserNameNoText {
    margin: 0 3px 0 3px;
    padding: 0 7px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserNameNoText {
    /*padding: 12px 7px 11px 7px;*/
    padding: 0 7px;
}
.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction .idxHeaderUserNameNoText span.idxHeaderUserIcon {
    padding: 12px 0 12px 0;
}

/** idxHeaderNavigationHome **/
.oneui .idxHeaderContainer li.idxHeaderPrimaryNav {
	display: inline-block;
}

.oneui .idxHeaderContainer .idxHeaderNavigationHome {
    display: block;
    height: 14px;
    width: 25px;
    background: url("images/headerIcons_TopBanner.png") no-repeat scroll -119px -5px transparent;
}
.oneui .idxHeaderContainer .idxHeaderNavigationHomeButtonOnly {
    width: 15px;
}
.dijit_a11y.oneui .idxHeaderContainer .idxHeaderNavigationHome,
.dijit_a11y .oneui .idxHeaderContainer .idxHeaderNavigationHome{
	width: auto;
}

.oneui .idxHeaderContainer .dijitMenuItemHover .idxHeaderNavigationHome {
    background: url("images/headerIcons_TopBanner.png") no-repeat scroll -218px -5px transparent;
}

/** idxHeaderUserIcon **/
.oneui .idxHeaderContainer .idxHeaderPrimary span.idxHeaderUserIcon {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 10px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderPrimary span.idxHeaderUserIcon {
    top: 1px;
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderPrimary span.idxHeaderUserIcon {
    background: url("images/headerProdBanIcons8bit.png") no-repeat -32px 0px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary img.idxHeaderUserIcon {
    width: 16px;
    height: 16px;
}

/** idxHeaderUserNameNoText idxHeaderUserIcon **/
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderUserNameNoText span.idxHeaderUserIcon {
    top: 0px;
    width: 38px;
    height: 38px;
	vertical-align: bottom;
	margin-right: 0;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderUserNameNoText img.idxHeaderUserIcon {
    display: inline-block;
    padding-top:1px;
    width: 38px;
    height: 37px;
    min-width: 38px;
}

/* drop-down arrow */
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown .idxHeaderDropDownArrow {
	display: inline-block;
    width: 7px;
    height: 37px;
	vertical-align: top;
    margin: 0 0 0 5px;
    background: url("images/headerIcons.png") no-repeat scroll 0 0 transparent;
    background-position: -69px 7px;
}
/*.dijit_a11y.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown .idxHeaderDropDownArrow:before,
.dijit_a11y .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown .idxHeaderDropDownArrow:before {
	content: "(v)";
}*/
.dijit_a11y.oneui .idxHeaderPrimary, 
.dijit_a11y.oneui .idxHeaderSecondary,
.dijit_a11y .oneui .idxHeaderPrimary, 
.dijit_a11y .oneui .idxHeaderSecondary{
	border-bottom: 1px solid;
}
.dijit_a11y.oneui .idxHeaderSecondary .dijitTabChecked .tabLabel,
.dijit_a11y .oneui .idxHeaderSecondary .dijitTabChecked .tabLabel{
	text-decoration: underline;
}
.dijit_a11y.oneui .idxHeaderPrimaryAction .idxHeaderSettingsIcon,
.dijit_a11y.oneui .idxHeaderPrimaryAction .idxHeaderShareIcon,
.dijit_a11y.oneui .idxHeaderPrimaryAction .idxHeaderHelpIcon,
.dijit_a11y .oneui .idxHeaderPrimaryAction .idxHeaderSettingsIcon,
.dijit_a11y .oneui .idxHeaderPrimaryAction .idxHeaderShareIcon,
.dijit_a11y .oneui .idxHeaderPrimaryAction .idxHeaderHelpIcon
 {
	width: auto !important;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown:hover .idxHeaderDropDownArrow {
    background-position: -84px 7px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderDropDown .idxHeaderDropDownArrow {
    height: 61px;
    background-position: -69px 19px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderDropDown:hover .idxHeaderDropDownArrow {
    height: 61px;
    background-position: -84px 19px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName .idxHeaderDropDownArrow,
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.dijitMenuItem .idxHeaderDropDownArrow {
	vertical-align: middle;
    background-position: -69px -11px;
    height: 7px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.idxHeaderUserName:hover .idxHeaderDropDownArrow,
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderDropDown.dijitMenuItem:hover .idxHeaderDropDownArrow {
    background-position: -84px -11px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderUserNameNoText .idxHeaderUserText {
    display: none;
}

/** idxHeaderHelp **/
.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp > * {
    margin: 0 18px 0 5px;
    padding: 0 7px;
	height: 37px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick li.idxHeaderPrimaryAction.idxHeaderHelp > * {
	height: 61px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderHelpIcon {
	display: inline-block;
    width: 16px;
    height: 37px;
    background: url("images/headerIcons_TopBanner.png") no-repeat -44px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp .idxHeaderHelpIcon {
    height: 61px;
	background-position: -44px 20px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderHelp > :hover .idxHeaderHelpIcon {
    background-image: url("images/headerIcons_TopBanner.png");
	background-position: -61px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick li.idxHeaderPrimaryAction.idxHeaderHelp > :hover .idxHeaderHelpIcon {
	background-position: -61px 20px;
}

/** idxHeaderTools **/
.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools > * {
    margin: 0 2px;
    padding: 0 7px;
	height: 37px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick li.idxHeaderPrimaryAction.idxHeaderTools > * {
	height: 61px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderShareIcon {
	display: inline-block;
    width: 16px;
    height: 37px;
    background: url("images/headerIcons_TopBanner.png") no-repeat -78px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderShareIcon {
    height: 61px;
	background-position: -78px 20px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools > :hover .idxHeaderShareIcon {
    background-image: url("images/headerIcons_TopBanner.png");
	background-position: -95px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick li.idxHeaderPrimaryAction.idxHeaderTools > :hover .idxHeaderShareIcon {
	background-position: -95px 20px;
}


.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderSettingsIcon {
	display: inline-block;
    width: 16px;
    height: 37px;
    background: url("images/headerIcons_TopBanner.png") no-repeat -252px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools .idxHeaderSettingsIcon {
    height: 61px;
	background-position: -252px 20px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary li.idxHeaderPrimaryAction.idxHeaderTools > :hover .idxHeaderSettingsIcon {
    background-image: url("images/headerIcons_TopBanner.png");
	background-position: -276px 8px;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick li.idxHeaderPrimaryAction.idxHeaderTools > :hover .idxHeaderSettingsIcon {
	background-position: -276px 20px;
}

/** idxHeaderLogoBox **/
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogoBox {
    width: 91px;
    height: 37px;
    cursor: default;
    background-color: #222222;
    background-image: -moz-linear-gradient(#282828, #000000);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#282828), to(#000000));
    background-image: -webkit-linear-gradient(#282828, #000000);
    background-image: -o-linear-gradient(#282828, #000000);	
    background-image: -ms-linear-gradient(top, #282828, #000000);
    -webkit-box-shadow: -1px 0px #585858;
    -moz-box-shadow: -1px 0px #585858;
    box-shadow: -1px 0px #585858;
    border-left: 1px solid #131313;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderWidthLiquid .idxHeaderPrimary .idxHeaderLogoBox {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#282828', EndColorStr='#000000');
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .idxHeaderPrimary .idxHeaderLogoBox {
    padding: 10px 0 13px;
}

.oneui .idxHeaderContainer .idxHeaderWidthFixed .idxHeaderPrimary .idxHeaderLogoBox {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: none;
}

/** idxHeaderLogo **/
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogo {
    display: inline;
    float: right;
    width: 80px;
    height : 38px;
    margin-top: 7px;
    background: url('images/hbc_dsg.png') !important;
	background-size: 100% 70% !important;
    background-repeat: no-repeat !important;
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderLogo {
    height: 32px;
}
/* ======= End of primary (navigation) bar ======== */


/* ======= Beginning of menu ======== */
/** dijitMenu **/
.oneui .idxHeaderContainer .dijitMenu {
    border: none;
}

/** dijitMenuBar **/
.oneui .idxHeaderContainer .dijitMenuBar {
    background-color: transparent;
    background-image: none;
    border: none;
    margin: 0px;
    padding: 0 5px;
	overflow: hidden;
	white-space: nowrap;
}
.dj_ie7 .oneui .idxHeaderContainer .dijitMenuBar {
    padding: 0 5px 35px;
}

.oneui .idxHeaderPrimaryInner .dijitMenuBar{
	filter: none;
}

/** dijitMenuItem **/
.oneui .idxHeaderContainer .dijitMenuBar .dijitMenuItem,
.oneui .idxHeaderContainer .dijitMenuBar .oneuiMenuHeading {
    margin: 0 0 0 1px;
    padding: 12px 15px 11px 15px;
    border-color: transparent;
    border-style: solid;
    border-width: 0 1px;
	outline: none;
}
.dj_ie6 .oneui .idxHeaderContainer .dijitMenuBar .dijitMenuItem,
.dj_ie6 .oneui .idxHeaderContainer .dijitMenuBar .oneuiMenuHeading {
	    border: none;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThick .dijitMenuBar .dijitMenuItem,
.oneui .idxHeaderContainer .idxHeaderPrimaryThick .dijitMenuBar .oneuiMenuHeading {
	    padding: 22px 15px 24px;
}

.oneui .idxHeaderContainer .dijitMenuBar .dijitMenuItem:first-child,
.oneui .idxHeaderContainer .dijitMenuBar .oneuiMenuHeading:first-child {
	    margin: 0 0 0 8px;
}

.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemSelected,
.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemFocused,
.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemSelected,
.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemFocused,
.oneui .idxHeaderContainer .dijitMenuBar .idxHeaderNavCurrentPage.dijitMenuItem {
    background-position: 0 0;
    background-color: #444444;
    background-image: -moz-linear-gradient(#585858, #161616);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#585858), to(#161616));
    background-image: -webkit-linear-gradient(#585858, #161616);
    background-image: -o-linear-gradient(#585858, #161616);
    background-image: -ms-linear-gradient(top, #585858, #161616);
    border-color: #585858;
    border-width: 0 1px;
    -webkit-box-shadow: 1px 0px #111111, -1px 0px #111111;
    -moz-box-shadow : 1px 0px #111111, -1px 0px #111111;
    box-shadow: 1px 0px #111111, -1px 0px #111111;
}
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemHover, 
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemHover, 
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemSelected,
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar .idxHeaderNavCurrentPage.dijitMenuItem {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#585858', EndColorStr='#161616');
}

.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemHover, 
.oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemHover {
    background-image: -moz-linear-gradient(#000000, #212121);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#000000), to(#212121));
    background-image: -webkit-linear-gradient(#000000, #212121);
    background-image: -o-linear-gradient(#000000, #212121);
    background-image: -ms-linear-gradient(top, #000000, #212121);
	border-color: transparent;
}
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuPassive .dijitMenuItemHover, 
.dj_ie .oneui .idxHeaderContainer .dijitMenuBar.dijitMenuActive .dijitMenuItemHover {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#000000', EndColorStr='#212121');
}

/** product 2nd level menu **/
.oneui .oneuiHeaderNavigationMenu .dijitMenu .idxHeaderNavCurrentPage, 
.oneui .oneuiHeaderNavigationMenu .dijitMenuActive .dijitMenuItemHover, 
.oneui .oneuiHeaderNavigationMenu .dijitMenuActive .dijitMenuItemSelected {
    background-color: #cce8f2;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: 0 1px;
    -webkit-box-shadow: 1px 0px transparent, -1px 0px transparent;
    -moz-box-shadow: 1px 0px transparent, -1px 0px transparent;
    box-shadow: 1px 0px transparent, -1px 0px transparent;
}

.oneui .oneuiHeaderNavigationMenu .dijitMenuPopup {
    background-color: #ffffff;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;	
    border: 0px solid #ffffff;
    margin-left: -2px;
}

.oneui .oneuiHeaderNavigationMenu .dijitMenu {
	margin: 0;
}

.oneui .oneuiHeaderNavigationMenu .dijitMenuPopup .dijitMenuTable {
    background-color: #ffffff;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-color: #515151;
    border-style: solid;
    border-width: 0 2px 2px;
}

.oneui .oneuiHeaderNavigationMenu .oneuiMenuDialogPopup .dijitTooltipContainer {
	padding-top: 0;
}

.oneui .oneuiHeaderNavigationSubmenu .dijitMenuPopup .dijitMenuTable {
    padding: 1px;
    border: 1px solid #515151;
}

.oneui .oneuiHeaderNavigationMenu .dijitMenuItem, 
.oneui .oneuiHeaderNavigationSubmenu .dijitMenuItem,
.oneui .oneuiHeaderNavigationMenu .oneuiMenuHeading, 
.oneui .oneuiHeaderNavigationSubmenu .oneuiMenuHeading {
	    background-image: none;
}

.oneui .oneuiHeaderNavigationMenu td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationSubmenu td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationMenu td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderNavigationSubmenu td.oneuiMenuHeadingLabel {
	    padding: 7px 4px;
}
.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel{
		padding: 6px 4px 7px 4px;
}
.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderNavigationSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.oneuiMenuHeadingLabel{
	padding: 7px 4px;
}

.oneui .oneuiHeaderNavigationMenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
}

.oneui .oneuiHeaderNavigationSubmenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
}

/** global action menu **/
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuActive .dijitMenuItemHover, 
.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuActive .dijitMenuItemSelected {
    background-color: #cce8f2;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: 0 1px;
    -webkit-box-shadow: 1px 0px transparent, -1px 0px transparent;
    -moz-box-shadow: 1px 0px transparent, -1px 0px transparent;
    box-shadow: 1px 0px transparent, -1px 0px transparent;
}

.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuPopup {
	margin-left: -8px;
    background-color: #ffffff;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;	
    border: 0px solid #ffffff;
}

.oneui .oneuiHeaderGlobalActionsMenu .dijitMenu {
	margin: 0;
}

.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuTable {
    background-color: #ffffff;
    padding: 1px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-color: #515151;
    border-style: solid;
    border-width: 0 2px 2px;
}

.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuTable {
    padding: 1px;
    border: 1px solid #515151;
}

.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuItem, 
.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuItem,
.oneui .oneuiHeaderGlobalActionsMenu .oneuiMenuHeading, 
.oneui .oneuiHeaderGlobalActionsSubmenu .oneuiMenuHeading {
	    background-image: none;
}

.oneui .oneuiHeaderGlobalActionsMenu td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsMenu td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu td.oneuiMenuHeadingLabel {
	    padding: 7px 4px;
}

.oneui .oneuiHeaderGlobalActionsMenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
}

.oneui .oneuiHeaderGlobalActionsSubmenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
}

/** context 2nd level menu **/
.oneui .oneuiHeader2ndLevMenu .dijitMenu .idxHeaderNavCurrentPage, 
.oneui .oneuiHeader2ndLevMenu .dijitMenuActive .dijitMenuItemHover, 
.oneui .oneuiHeader2ndLevMenu .dijitMenuActive .dijitMenuItemSelected {
    background-color: #cce8f2;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: 0 1px;
    -webkit-box-shadow: 1px 0px transparent, -1px 0px transparent;
    -moz-box-shadow: 1px 0px transparent, -1px 0px transparent;
    box-shadow: 1px 0px transparent, -1px 0px transparent;
}

.oneui .oneuiHeader2ndLevMenu .dijitMenuPopup {
    background-color: #ffffff;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;	
    border: none;
    margin-left: -2px;
}

.oneui .oneuiHeader2ndLevMenu .dijitMenu {
	margin: 0;
}

.oneui .oneuiHeader2ndLevMenu .dijitMenuTable {
    background-color: #ffffff;
    padding: 1px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-color: #afdaeb;
    border-style: solid;
    border-width: 0 2px 2px;
}

.oneui .oneuiHeader2ndLevSubmenu .dijitMenuTable {
    padding: 1px;
    border: 1px solid #afdaeb;
}

.oneui .oneuiHeader2ndLevMenu .dijitMenuItem,
.oneui .oneuiHeader2ndLevSubmenu .dijitMenuItem,
.oneui .oneuiHeader2ndLevMenu .oneuiMenuHeading,
.oneui .oneuiHeader2ndLevSubmenu .oneuiMenuHeading {
	    background-image: none;
}

.oneui .oneuiHeader2ndLevMenu td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevSubmenu td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevMenu td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevSubmenu td.oneuiMenuHeadingLabel {
	    padding: 7px 4px;
}

.oneui .oneuiHeader2ndLevMenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 0px 1px rgba(0,0,0,0.25), -1px 0px 1px rgba(0,0,0,0.25), 0px 2px 1px rgba(0,0,0,0.25);
}

.oneui .oneuiHeader2ndLevSubmenu .dijitMenuPopup { 
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.1), -1px 0px 2px rgba(0,0,0,0.1), 0px 2px 2px rgba(0,0,0,0.1), 0px -2px 2px rgba(0,0,0,0.1);
}
/* ======= End of menu ======== */


/* ======= Beginning of search box ======== */
/** search box **/
.oneui .idxHeaderContainer .idxHeaderSearchContainer {
    float: left;
    position: relative;
    left: 0px;
    margin-left: 7px;
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox { 
    -moz-border-radius: 12px;
    border-radius: 12px; 
    min-width: 235px; /* Search box float in IE7 */
}
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox { 
    -moz-border-radius: 12px;
    border-radius: 12px; 
    min-width: 235px; /* Search box float in IE7 */
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox,
.dj_ie8 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox,
.dj_ie9 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox  { 
    border-radius: 0; 
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    padding: 0;
    margin: 3px 29px 3px 10px;
    min-height: 17px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    margin: 1px 29px 0px 10px;
}
.dj_webkit .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox .dijitInputField {
    margin: 3px 29px 0px 10px;
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitPlaceHolder {
    position: absolute;
    left: -10px;
    top: -2px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitPlaceHolder {
    top: 2px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitPlaceHolder {
    top: -4px;
}
.dj_webkit .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitPlaceHolder {
    top: -3px;
}
.dj_ie8 .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitPlaceHolder {
    top: -2px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitPlaceHolder {
    top: 2px;
}

.dj_gecko .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputInner,
.dj_webkit .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputInner {
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: none repeat scroll 0 0 transparent;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputInner {
    height: 20px;
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitInputInner {
    height: 21px;
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox,
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    min-height: 19px;
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitTextBoxFocused .dijitInputContainer {
    margin-left: 10px;
    border: none;
    background: transparent;
}

/** primary search box **/
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer {
    top: 18px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer {
    display: inline;
    zoom: 1;
    height: 0;
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer {
    display: inline-block;
}

.oneui .idxHeaderContainer .idxHeaderPrimaryThin .idxHeaderPrimary .idxHeaderSearchContainer {
    top: 6px;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox {   
    background: none repeat scroll 0 0 #383838;
    float: right;
    position: relative;
    right: 23px;
    border-color: #222222;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    border: 1px solid #000000;
    background-image: -moz-linear-gradient(#222222, #121212);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#222222), to(#121212));
    background-image: -webkit-linear-gradient(#222222, #121212);
    background-image: -o-linear-gradient(#222222, #121212);
    background-image: -ms-linear-gradient(top, #222222, #121212);
    -webkit-box-shadow: 0 1px #3F3F40, 0 1px #1D1C1D inset;
    -moz-box-shadow : 0 1px #3F3F40, 0 1px #1D1C1D inset;
    box-shadow: 0 1px #3F3F40, 0 1px #1D1C1D inset;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox,
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#222222', EndColorStr='#121212');
}
.dj_ie .oneui .idxHeaderPrimary .idxHeaderSearchContainer .dijitButton{
	margin-top: 3px;
}

/** context search box **/
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer {
    top: 14px;
    left: -13px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer {
    width: 245px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite.idxHeaderWidthFixed .idxHeaderSecondary .idxHeaderSearchContainer {
    left: 13px;
}

.oneui .idxHeaderContainer .idxHeaderSecondarySingleRow .idxHeaderSecondary .idxHeaderSearchContainer {
    top: 12px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryWhite.idxHeaderSecondarySingleRow .idxHeaderSecondary .idxHeaderSearchContainer {
    top: 15px;
}

.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox, 
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    border: 1px solid #004e71;
    background-color: #0272a1;
    background-image: -moz-linear-gradient(#046897, #075e8e);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#046897), to(#075e8e));
    background-image: -webkit-linear-gradient(#046897, #075e8e);
    background-image: -o-linear-gradient(#046897, #075e8e);
    -webkit-box-shadow: 0px 1px #2d92bf, 0px 1px #04628e inset;
    -moz-box-shadow : 0px 1px #2d92bf, 0px 1px #04628e inset;
    box-shadow: 0px 1px #2d92bf, 0px 1px #04628e inset;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox,
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#046897', EndColorStr='#075e8e');
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {
    border: 1px solid #e3e3e3;
    background-color: #f3f3f3;
    background-image: none;
    -webkit-box-shadow: 0px 1px #ffffff;
    -moz-box-shadow: 0px 1px #ffffff;
    box-shadow: 0px 1px #ffffff;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode,
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitTextBox .dijitButtonNode {	
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled='false');
}
/* ======= Beginning of search box ======== */


/* ======= Beginning of ContentContainer ======== */
.oneui .idxHeaderSecondaryLeading .oneuiContentContainer {
	width: auto;
}

.oneui .oneuiContentContainer {
    width: 100%;
    height: 31px;
    padding: 0px;
    background-image: -moz-linear-gradient(top, #047bb0 0%, #096ba2 100%);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#047bb0), to(#096ba2));
    background-image: -webkit-gradient(linear, 50% 100%, #047bb0, #096ba2);
	background-image: -ms-linear-gradient(top, #047BB0, #096ba2);
}
.dj_ie .oneui .oneuiContentContainer {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#047bb0', EndColorStr='#096ba2');
}
.dj_ie6 .oneui .oneuiContentContainer {
    zoom: 1;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer {
    background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8 80%, #e9e9e9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.80, #f8f8f8), color-stop(1, #e9e9e9));
	background-image: -ms-linear-gradient(top, #f8f8f8, #e9e9e9);
}
.dj_ie .oneui .idxHeaderSecondaryGray .oneuiContentContainer {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#e9e9e9');
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer {
    display: inline;
}

.oneui .idxHeaderWidthFixed .oneuiContentContainerInner {
    width: 980px;
    margin: auto;
}

.dj_ie6 .oneui .idxHeaderWidthFixed .oneuiContentContainer .dijitTabListWrapper {
    width: 980px;
}
/* ======= End of ContentContainer ======== */


/* ======= Beginning of Button ======== */
/** Seach button**/
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    border: none;
    cursor: pointer;
    float: right;
    background: url('images/headerIcons.png') no-repeat -238px -6px transparent;
    width: 14px; 
    height: 14px;
	min-width: 0px;
    box-shadow: none;
    padding: 0;
    position: relative;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    background: url('images/headerIcons.png') no-repeat -285px -6px transparent;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    background: url('images/headerIcons.png') no-repeat -333px -6px transparent;
    left: 220px;
    top: -4px;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    top: 3px;
}

.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    left: -24px;
    top: 0px;
}
.dj_webkit .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_webkit .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_webkit .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_webkit .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    top: 1px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    top: -21px;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    left: -24px;
    top: 0px;
}
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode,
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode, 
.dj_ie7 .oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSecondary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode {
    left: -15px;
    top: -21px;
}

.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode:hover {
    background: url('images/headerIcons.png') no-repeat -261px -6px transparent;
}

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode:hover,
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryWhite .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode:hover {
    background: url('images/headerIcons.png') no-repeat -309px -6px transparent;
}

.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitDropDownButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitComboButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderPrimary .idxHeaderSearchContainer .dijitToggleButton .dijitButtonNode:hover {
    background: url('images/headerIcons.png') no-repeat -357px -6px transparent;
}

.oneui .idxHeaderContainer .dijitReset.dijitInline.dijitIcon.idxHeaderSearchButton { /** Focus in Safari **/
    width: 14px;
    height: 14px;
    border: none;
}

/** Edit button **/
.oneui .idxHeaderContainer .idxHeaderSecondaryActions {
    float: left; 
    position: relative; 
    right: 7px; 
    top: 9px;
}
/*
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode {
    text-indent: 0;
    color : #ffffff;
    font-weight: bold;
    background: -moz-linear-gradient(#464646, #141414);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#464646), to(#141414));
    background: -webkit-linear-gradient(#464646, #141414);
    background: -o-linear-gradient(#464646, #141414);
    border: 1px solid #121212;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 4px 6px 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode, 
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode {
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#464646', EndColorStr='#141414');
}

.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode:hover, 
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode:hover {
    color: #eeeeee;
}
*/
/* ======= End of Button ======== */

/* ======= Beginning of Header Buttons ======== */
/* ========idxHeaderSecondaryBlue======= */

.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitArrowButtonInner {
		background-image: url("images/buttonArrows.png");
}
.dj_ie6 .oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitArrowButtonInner {
		background-image: url("images/buttonArrows8bit.png");
}


.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode{
	height: 16px;
	padding: 5px 10px 3px;
}
/* normal status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode{
	background-color: #3e3e3e;
	background-image: -moz-linear-gradient(top, #3e3e3e, #121213);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#3e3e3e),to(#121213));
	background-image: -webkit-linear-gradient(top, #3e3e3e 0%, #121213 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #3e3e3e 0%, #121213 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #3e3e3e 0%, #121213 100%); /* IE10+ */
	background-image: linear-gradient(top,  #3e3e3e 0%, #121213 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#3e3e3e', endColorstr='#121213'); 
	*/
	border: 1px solid #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-shadow:0px 1px 0px #000000;
}
/* focused status */
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonFocused .dijitButtonNode {
	outline: 1px dotted #ffffff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* hover status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonHover .dijitButtonNode{
	background-color: #222222;
	background-image: -moz-linear-gradient(top, #525252, #2b2b2b);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#525252),to(#2b2b2b));
	background-image: -webkit-linear-gradient(top, #525252 0%, #2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #525252 0%, #2b2b2b 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #525252 0%, #2b2b2b 100%); /* IE10+ */
	background-image: linear-gradient(top,  #525252 0%, #2b2b2b 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#525252', endColorstr='#2b2b2b'); 
	*/
}
/* active status */
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonActive .dijitButtonNode{
	background-color: #000000;
	background-image: -moz-linear-gradient(top, #121213, #3e3e3e);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#121213),to(#3e3e3e));
	background-image: -webkit-linear-gradient(top, #121213 0%, #3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #121213 0%, #3e3e3e 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #121213 0%, #3e3e3e 100%); /* IE10+ */
	background-image: linear-gradient(top,  #121213 0%, #3e3e3e 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#121213', endColorstr='#3e3e3e'); 
	*/
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) inset;
	outline: medium none;
}
.dj_opera .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonActive .dijitButtonNode,
.dj_opera .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonActive .dijitButtonNode,
.dj_opera .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonActive .dijitButtonNode,
.dj_opera .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonActive .dijitButtonNode{
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* disabled status */
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonDisabled .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonDisabled .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonDisabled .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonDisabled .dijitButtonNode{
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #3b3b3b, #171718);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#3b3b3b),to(#171718));
	background-image: -webkit-linear-gradient(top, #3b3b3b 0%, #171718 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #3b3b3b 0%, #171718 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #3b3b3b 0%, #171718 100%); /* IE10+ */
	background-image: linear-gradient(top,  #3b3b3b 0%, #171718 100%); /* W3C */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr='#3b3b3b', endColorstr='#171718'); 
	*/
	color: #aaaaaa;
}
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButtonDisabled .dijitButtonNode,
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButtonDisabled .dijitButtonNode,
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButtonDisabled .dijitButtonNode,
.dj_ie .oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButtonDisabled .dijitButtonNode{
	background-color: #333333;
	color: #cccccc;
}

/*==========idxHeaderSecondaryGray button =============*/

.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode{
	border: 1px solid #c3c3c3;
	/*
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	*/
	color: #000000;
}
/*focus status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitDropDownButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitComboButtonFocused .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitToggleButtonFocused .dijitButtonNode{
	/*
	outline: 1px dotted #000000;
	*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*Hover status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitDropDownButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitComboButtonHover .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitToggleButtonHover .dijitButtonNode{
	/*
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #f9f9f9, #cfcfcf);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f9f9f9),to(#cfcfcf));
	color: #000000;
	*/
}

/*Active status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitDropDownButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitComboButtonActive .dijitButtonNode,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitToggleButtonActive .dijitButtonNode{
	/*
	background-color: #c7c7c7;
	background-image: -moz-linear-gradient(top, #c7c7c7, #f0f0f0);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#c7c7c7),to(#f0f0f0));
	color: #515151;
	*/
}

/*Disable status*/
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButtonDisabled .dijitButtonNode{
	/*
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(top, #f2f2f2, #dddddd);
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f2f2f2),to(#dddddd));
	*/
	color: #aaaaaa;
}
/*
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitDropDownButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitComboButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryBlue .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode .dijitButtonText,
.oneui .idxHeaderContainer .idxHeaderSecondaryGray .idxHeaderSecondaryActions .dijitToggleButton .dijitButtonNode .dijitButtonText{
	padding-top: 1px;
}
*/
/* ======= End of Header Buttons ======== */


/* ======= Beginning of TabContainer ======== */

.oneui .oneuiContentContainer .dijitTabPaneWrapper {
    padding: 0;
    background-color: transparent;
}

.oneui .oneuiContentContainer .dijitTabPaneWrapper, 
.oneui .oneuiContentContainer .dijitTabContainerTop-tabs, 
.oneui .oneuiContentContainer .dijitTabContainerBottom-tabs, 
.oneui .oneuiContentContainer .dijitTabContainerLeft-tabs, 
.oneui .oneuiContentContainer .dijitTabContainerRight-tabs {
    border: none;
    margin: 0 0 0 14px;
}

/* tab content styling */

.oneui .dijitTabContainerTop-tabs .dijitTabContent {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabContent {
    top: 0px;
    margin: 0;	
	border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
    min-width: 8px;
    padding: 0px 11px 0px 16px;
	min-height: 31px;
    text-align: center;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabContent {
    padding: 0 11px 0px 16px;
	min-height: 48px;
}

/* hovered tab override styling */

.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    background-image: -moz-linear-gradient(top, #078dc1 0%, #1673a6 100%);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#078dc1), to(#1673a6));
    background-image: -webkit-gradient(linear, 50% 100%, #078dc1, #1673a6);
    background-image: -o-linear-gradient(#078dc1, #1673a6);
    -webkit-box-shadow: 1px 0px #065b87 inset, 0px 1px #065b87 inset, 1px 0px #065b87;
    -moz-box-shadow: 1px 0px #065b87 inset, 0px 1px #065b87 inset, 1px 0px #065b87;
    box-shadow: 1px 0px #065b87 inset, 0px 1px #065b87 inset, 1px 0px #065b87;
}
.dj_ie .oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
	border-left: 1px solid #065b87;
	border-right: 1px solid #065b87;
	margin:0;
	padding-left: 15px;
	padding-right: 10px;
}
.dj_ie .oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabHover.dijitTabContent {
	border-left: 1px solid #065b87;
	border-right: 1px solid #065b87;
	padding-left: 16px;
	padding-right: 11px;
	margin-left:-1px;
	margin-right:-1px;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
    -moz-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
    box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    background-image: -moz-linear-gradient(top, #f9f9f9, #f9f9f9 80%, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.80, #f9f9f9), color-stop(1, #f4f4f4));
    -webkit-box-shadow: 1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, 1px 0px #d2d2d2;
    -moz-box-shadow: 1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, 1px 0px #d2d2d2;
    box-shadow: 1px 0px #d2d2d2 inset, 0px 1px #d2d2d2 inset, 1px 0px #d2d2d2;
}
.dj_ie .oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    /*filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=0, Color='#d2d2d2')
			progid:DXImageTransform.Microsoft.DropShadow(OffX=-1, OffY=0, Color='#d2d2d2')
    		progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f9f9f9', EndColorStr='#f4f4f4');*/
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	margin:0;
	padding-left: 15px;
	padding-right: 10px;
}
.dj_ie .oneui idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabHover.dijitTabContent {
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	padding-left: 16px;
	padding-right: 11px;
	margin-left:-1px;
	margin-right:-1px;
}

.oneui .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover.dijitTabContent {
    -webkit-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
    -moz-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
    box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
}

/* selected tab override styling */

.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    padding: 0px 11px 0px 16px;
	min-height: 31px;
    border: none;
    background-color: #ffffff;
    background-image: none;
	color: black;
    -webkit-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87, 0px 1px #065b87 inset;
    -moz-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87, 0px 1px #065b87 inset;
    box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87, 0px 1px #065b87 inset;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
	min-height: 48px;
    -webkit-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
    -moz-box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
    box-shadow: 1px 0px #065b87 inset, 1px 0px #065b87;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    -webkit-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
    -moz-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
    box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2, 0px 1px #d2d2d2 inset;
}

.oneui .idxHeaderSecondaryGray.idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabContent {
    -webkit-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
    -moz-box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
    box-shadow: 1px 0px #d2d2d2 inset, 1px 0px #d2d2d2;
}

/* label styling */

/* NB: although it lacks a 'dijit' prefix, 'tabLabel' is a dijit marker class */
.oneui .oneuiContentContainer .dijitTab .tabLabel {
    position: relative;
    top: 7px;
    min-height: 16px;
    padding: 2px;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTab .tabLabel {
    top: 16px;
}

.oneui .oneuiContentContainer .dijitTab .tabLabel img {
    position: relative;
    top: 2px;
}

/* close button styling */

.oneui .oneuiContentContainer .dijitTabCloseButton {
    position: relative;
    top: 16px;
    background: url("images/headerIcons.png") no-repeat scroll -146px -6px transparent;
    height: 13px;
    width: 13px;
    margin: 0 -2px 0 4px;
}
.dj_ie6 .oneui .oneuiContentContainer .dijitTabCloseButton {
    background: url("images/tabClose_8bit.png") no-repeat scroll 0 0 transparent;
}

.oneui .idxHeaderSecondaryDoubleRow .oneuiContentContainer .dijitTabCloseButton {
    top: 7px;
}

.oneui .oneuiContentContainer .dijitTabCloseButtonHover {
    background-position: -169px -6px;
}

.oneui .oneuiContentContainer .dijitTabChecked .dijitTabCloseButton {
    background: url("images/headerIcons.png") no-repeat scroll -100px -6px transparent;
    height: 13px;
    width: 13px;
    margin: 0 -2px 0 4px;
}
.dj_ie6 .oneui .oneuiContentContainer .dijitTabChecked .dijitTabCloseButton {
    background: url("images/tabClose_8bit.png") no-repeat scroll 0 0 transparent;
}

.oneui .oneuiContentContainer .dijitTabChecked .dijitTabCloseButtonHover {
    background-position: -123px -6px;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabCloseButton {
    background-position: -192px -6px;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabCloseButtonHover {
    background-position: -215px -6px;
}

.oneui .oneuiContentContainer .dijitTabCloseButtonActive {
    background-position: -28px;
}

/* drop-down arrow button styling */

.oneui .oneuiContentContainer .dijitTabArrowButton {
    position: relative;
    top: 7px;
    background: url("images/headerIcons.png") no-repeat scroll 0 0 transparent;
    background-position: -6px -6px;
    height: 13px;
    width: 13px;
    margin: 0 -3px 0 3px;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabArrowButton,
.oneui .oneuiContentContainer .dijitTabChecked .dijitTabArrowButton {
    background-position: -36px -6px;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .dijitTabArrowButton {
    top: 16px;
}

.oneui .oneuiContentContainer .dijitTabArrowButton.enter {
    background: url("images/headerIcons.png") no-repeat scroll 0 -14px transparent;
    background-position: -21px -6px;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .dijitTabArrowButton.enter,
.oneui .oneuiContentContainer .dijitTabChecked .dijitTabArrowButton.enter {
    background-position: -51px -6px;
}

.oneui .oneuiContentContainer .dijitTabArrowButton.hide {
    display: none;
}

/* separator styling */

.oneui .oneuiContentContainer .idxTabSeparator {
    position: relative; 
    top: 5px;
    left: 13px;
    display: inline;
}

.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .idxTabSeparator {
    visibility: visible;
}

.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabHover .idxTabSeparator,
.oneui .oneuiContentContainer .dijitTabContainerTop-tabs .dijitTabChecked .idxTabSeparator {
    visibility: hidden;
}

.oneui .idxHeaderSecondarySingleRow .oneuiContentContainer .idxTabSeparator {
    top: 14px;
}

.oneui .idxHeaderSecondaryGray .oneuiContentContainer .idxTabSeparator {
    display: inline;
}

.oneui .oneuiContentContainer .idxTabSeparator.hide {
    display: none;
}

/* content pane styling */

.oneui .oneuiContentContainer .dijitTabContainerTop-dijitContentPane, 
.oneui .oneuiContentContainer .dijitTabContainerLeft-dijitContentPane, 
.oneui .oneuiContentContainer .dijitTabContainerBottom-dijitContentPane, 
.oneui .oneuiContentContainer .dijitTabContainerRight-dijitContentPane, 
.oneui .oneuiContentContainer .dijitAccordionContainer-dijitContentPane {
    background-color: transparent;
}

/* ======= End of TabContainer ======== */
