		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'Popup_navigationPanel' , 
		uId : 'extn_GWP_contentpane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_GWP_contentpane' , 
		uId : 'extn_GWPGroup_contentpane0' , 
		renderHidden : true , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_GWP_contentpane' , 
		uId : 'extn_GWPGroup_contentpane1' , 
		renderHidden : true , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane1' , 
		uId : 'extn_GWPGroup_contentpane2' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane2' , 
		uId : 'extn_GWPGroup_contentpane3' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane3' , 
		uId : 'extn_GWPGroup_contentpane4' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane4' , 
		uId : 'extn_GWPGroup_contentpane5' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane5' , 
		uId : 'extn_GWPGroup_contentpane6' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane6' , 
		uId : 'extn_GWPGroup_contentpane7' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane7' , 
		uId : 'extn_GWPGroup_contentpane8' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 20px;' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane8' , 
		uId : 'extn_GWPGroup_contentpane9' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane0' , 
		autoWidth : false , 
		uId : 'extn_gwp_gridx0' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View23209'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'4'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx0'
,
		 hidden : 			true
,
		 name : 			'extn_View23209'
,
		 uId : 			'extn_view_23209'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image0'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'5'
,
		 _sc_extensibility_referenceUId : 			'extn_view_23209'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Label_Image')
,
		 uId : 			'extn_gwp_Image0'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription0'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'6'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image0'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription0'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList0.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane1' , 
		uId : 'extn_gwp_gridx1' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View24434'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'6'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx1'
,
		 hidden : 			true
,
		 name : 			'extn_View24434'
,
		 uId : 			'extn_view_24434'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image1'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'7'
,
		 _sc_extensibility_referenceUId : 			'extn_view_24434'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image1'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription1'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'8'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image1'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription1'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList1.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane2' , 
		uId : 'extn_gwp_gridx2' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View25541'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'8'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx2'
,
		 hidden : 			true
,
		 name : 			'extn_View25541'
,
		 uId : 			'extn_view_25541'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image2'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'9'
,
		 _sc_extensibility_referenceUId : 			'extn_view_25541'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image2'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription2'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'10'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image2'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription2'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList2.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane3' , 
		uId : 'extn_gwp_gridx3' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View26360'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'10'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx3'
,
		 hidden : 			true
,
		 name : 			'extn_View26360'
,
		 uId : 			'extn_view_26360'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image3'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'11'
,
		 _sc_extensibility_referenceUId : 			'extn_view_26360'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image3'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription3'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'12'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image3'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription3'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList3.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane4' , 
		uId : 'extn_gwp_gridx4' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View27296'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'15'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx4'
,
		 hidden : 			true
,
		 name : 			'extn_View27296'
,
		 uId : 			'extn_view_27296'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image4'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'16'
,
		 _sc_extensibility_referenceUId : 			'extn_view_27296'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image4'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription4'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'17'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image4'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription4'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList4.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane5' , 
		uId : 'extn_gwp_gridx5' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View27537'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'20'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx5'
,
		 hidden : 			true
,
		 name : 			'extn_View27537'
,
		 uId : 			'extn_view_27537'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image5'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'21'
,
		 _sc_extensibility_referenceUId : 			'extn_view_27537'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image5'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription5'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'22'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image5'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription5'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList5.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane6' , 
		uId : 'extn_gwp_gridx6' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View27812'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'26'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx6'
,
		 hidden : 			true
,
		 name : 			'extn_View27812'
,
		 uId : 			'extn_view_27812'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image6'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'27'
,
		 _sc_extensibility_referenceUId : 			'extn_view_27812'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image6'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription6'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'28'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image6'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription6'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList6.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane7' , 
		uId : 'extn_gwp_gridx7' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View29385'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'28'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx7'
,
		 hidden : 			true
,
		 name : 			'extn_View29385'
,
		 uId : 			'extn_view_29385'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image7'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'29'
,
		 _sc_extensibility_referenceUId : 			'extn_view_29385'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image7'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription7'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'30'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image7'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription7'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList7.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane8' , 
		uId : 'extn_gwp_gridx8' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View29894'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'35'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx8'
,
		 hidden : 			true
,
		 name : 			'extn_View29894'
,
		 uId : 			'extn_view_29894'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image8'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'36'
,
		 _sc_extensibility_referenceUId : 			'extn_view_29894'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image8'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription8'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'37'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image8'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription8'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList8.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'extn_GWPGroup_contentpane9' , 
		uId : 'extn_gwp_gridx9' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HScroller'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/IndirectSelect'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/RowHeader'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_View30109'
,
		 _sc_extensibility_operation : 			'insert'
,
		 _sc_extensibility_moveOrder : 			'40'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_gridx9'
,
		 hidden : 			true
,
		 name : 			'extn_View30109'
,
		 uId : 			'extn_view_30109'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_gwp_Image9'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'getGWPHTML'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'41'
,
		 _sc_extensibility_referenceUId : 			'extn_view_30109'
,
		 width : 			'5%'
,
		 name : 			this.getSimpleBundleString('Image')
,
		 uId : 			'extn_gwp_Image9'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_gwp_ItemDescription9'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'GiftItemId'
,
		 dynamicBindingFunc : 			'extn_getGWPItemDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'42'
,
		 _sc_extensibility_referenceUId : 			'extn_gwp_Image9'
,
		 width : 			'70%'
,
		 name : 			this.getSimpleBundleString('Description')
,
		 uId : 			'extn_gwp_ItemDescription9'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList9.PassthroughRewards'
,
		 namespace : 			'screenInput'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'indirectSelect'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '40' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx0' , 
		uId : 'extn_gwp_label0' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList0.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '41' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx1' , 
		uId : 'extn_gwp_label1' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList1.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '42' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx2' , 
		uId : 'extn_gwp_label2' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList2.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '43' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx3' , 
		uId : 'extn_gwp_label3' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList3.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '44' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx4' , 
		uId : 'extn_gwp_label4' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList4.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '45' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx5' , 
		uId : 'extn_gwp_label5' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList5.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '46' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx6' , 
		uId : 'extn_gwp_label6' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList6.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '47' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx7' , 
		uId : 'extn_gwp_label7' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList7.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '48' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx8' , 
		uId : 'extn_gwp_label8' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList8.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '49' , 
		_sc_extensibility_referenceUId : 'extn_gwp_gridx9' , 
		uId : 'extn_gwp_label9' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'GwpGridList.GwpList9.ExtnMaxSelections'
,
		 dynamicBindingFunc : 			'extn_getTextForGrid'
,
		 namespace : 			'screenInput'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
