<div class="sc-platform-screen-default restockingWizard">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'wizard' , 
		colspan : 1 , 
		uId : 'WizardScreenPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_wizard_content')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'WizardTopPanel' , 
		uId : 'WizardTopPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'screenTitle' , 
		colspan : 1 , 
		uId : 'WizardDescriptionPanel' , 
		renderHidden : true , 
		layoutAlign : 'top'  
 "></div>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'wizardNavigationPanelTop wizardNavigationPanel ' , 
		uId : 'navigationPanel2' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_wizard_navigation')
			}
		}
" role='region'>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon navPrevious' , 
		uId : 'prevBttn2' , 
		iconClass : ' idxPreviousPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Previous')
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton idxButtonIcon navNext' , 
		uId : 'nextBttn2' , 
		iconClass : ' idxNextPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Next')
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton navConfirm' , 
		uId : 'confirmBttn2'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Confirm')
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon idxSecondaryButton navClose' , 
		uId : 'closeBttn2' , 
		iconClass : ' idxCloseIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Close')
			}
		}
"></div>
            </div>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'AdditionalButtonsPanel' , 
		uId : 'AdditionalButtonsPanel'  
 "></div>
        </div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'wizardMainContainer' , 
		dojoAttachPoint : 'stackContainerNode' , 
		uId : 'mainContent'  
 "></div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'wizardNavigationPanel wizardNavigationPanelBottom' , 
		uId : 'navigationPanel' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('Region_wizard_navigation')
			}
		}
" role='region'>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon navPrevious' , 
		uId : 'prevBttn' , 
		iconClass : ' idxPreviousPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Previous')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton idxButtonIcon navNext' , 
		uId : 'nextBttn' , 
		iconClass : ' idxNextPageIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Next')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton navConfirm' , 
		uId : 'confirmBttn'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Confirm')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxButtonIcon idxSecondaryButton navClose' , 
		uId : 'closeBttn' , 
		iconClass : ' idxCloseIcon'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_Close')
			}
		}
"></div>
        </div>
    </div>
</div>
