		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'pnlFulfillment' , 
		uId : 'extn_pnlOrderLineStatusHistory' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_Order_Line_Status_History')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'pnlImportantEvents' , 
		uId : 'extn_pnlOrderLineStatusHistory' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkParentLine' , 
		renderHidden : false  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'ContentPane110' , 
		uId : 'extn_shipNode' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Ship_Node')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.ShipNode'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_shipNode' , 
		uId : 'extn_status' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Status')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.DisplayStatus'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_status' , 
		uId : 'extn_qtyOnHand' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Qty_on_Hand')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.PreSell'
,
		 dynamicBindingFunc : 			'extn_getQty'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_qtyOnHand' , 
		uId : 'extn_SKN' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_SKN_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.ItemDetails.ItemID'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'ContentPane110' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Pre_Sell_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.Extn.ExtnIsPreSell'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'extn_webLineNo' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'PrimaryInfoPanelRight' , 
		uId : 'extn_gift' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Gift_')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.GiftFlag'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_primeLineNo_LineSummary' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Lineno')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.PrimeLineNo'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_gift' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Gift_Wrap_Option')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.GiftWrap'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'extn_preSell' , 
		uId : 'extn_webLineNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Web_Line')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.Extn.ExtnWebLineNumber'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_webLineNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_webLineNo' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'extn_webLineNo' , 
		uId : 'extn_pickUpLocation' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Pickup_Location')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.ExtnPickUpLocation'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'extn_pickUpLocation' , 
		uId : 'extn_pickUpExpiryDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Pickup_ExpiryDate')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.ExpectedShipmentDate'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'extn_pickUpExpiryDate' , 
		uId : 'extn_personWhoPickedTheItem' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Pickup_person_Name')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.ExtnPickupPerson'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_personWhoPickedTheItem' , 
		uId : 'extn_actualPickUpDateAndTime' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Pickup_date_and_Time')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine'
,
		 dynamicBindingFunc : 			'extn_getPickDateTime'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'extn_actualPickUpDateAndTime' , 
		uId : 'extn_idPresented' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Verification_Id')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.VerificationId'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_personWhoPickedTheItem' , 
		uId : 'extn_alternatePerson' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Alternate_Person')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_alternatePerson' , 
		uId : 'extn_pickupPerson' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Pickup_Person')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_pnlOrderLineStatusHistory' , 
		autoWidth : false , 
		uId : 'extn_OrderLineStatusHistory_gridx' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 moduleClass : 			'gridx/modules/ColumnResizer'
,
		 minWidth : 			0
	}
,
	 		{
		 moduleClass : 			'gridx/modules/ColumnWidth'
,
		 autoResize : 			true
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/select/Row'
,
		 triggerOnCell : 			true
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	toolBar : 	[
	]
,	
			 	structure : 	[
	 		{
		 field : 			'extn_View65319'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ShipNode'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'11'
,
		 _sc_extensibility_referenceUId : 			'extn_OrderLineStatusHistory_gridx'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Store')
,
		 uId : 			'extn_view_65319'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_status_field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'StatusDescription'
,
		 dynamicBindingFunc : 			'extnGetOrderLineStatus'
,
		 dynamicBindingPackage : 			'extn.utils'
,
		 dynamicBindingClassName : 			'CustomUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'12'
,
		 _sc_extensibility_referenceUId : 			'extn_OrderLineStatusHistory_gridx'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('Status')
,
		 uId : 			'extn_Status'
,
		 _sc_extensibility_position : 			'last'
	}
,
	 		{
		 _sc_extensibility_operation : 			'move'
,
		 uId : 			'extn_Status'
,
		 _sc_extensibility_moveOrder : 			'13'
,
		 _sc_extensibility_referenceUId : 			'extn_view_65319'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_reasonDesc_field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ReasonDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'14'
,
		 _sc_extensibility_referenceUId : 			'extn_Status'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('Reason')
,
		 uId : 			'extn_reasonDesc'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_date_field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'Createts'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'15'
,
		 _sc_extensibility_referenceUId : 			'extn_view_65319'
,
		 scuiDataType : 			'TimeStamp'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Date_Time')
,
		 uId : 			'extn_date'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_associate_field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_getAssociateDetails'
,
		 path : 			'AssociateId'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'17'
,
		 _sc_extensibility_referenceUId : 			'extn_view_65319'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Associate')
,
		 uId : 			'extn_associate'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_storePh_field'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'NodePhone'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'18'
,
		 _sc_extensibility_referenceUId : 			'extn_associate'
,
		 scuiDataType : 			'PhoneNo'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Store_Phone_number')
,
		 uId : 			'extn_storePh'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_storeName'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'NodeDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'19'
,
		 _sc_extensibility_referenceUId : 			'extn_view_65319'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('extn_Store_Name')
,
		 uId : 			'extn_StoreName_gridx_view'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_Quantity'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'StatusQuantity'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'20'
,
		 _sc_extensibility_referenceUId : 			'extn_storePh'
,
		 width : 			'10%'
,
		 name : 			this.getSimpleBundleString('Quantity')
,
		 uId : 			'extn_Quantity'
,
		 _sc_extensibility_position : 			'after'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'OrderLine.Extn.HBCLineStatusHistoryList.HBCLineStatusHistory'
,
		 namespace : 			'getCompleteOrderLineDetails_output'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 type : 			'Number'
,
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
	}
	]
	}
,
		 name : 			'columnResizer'
	}
,
	 		{
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 type : 			'Boolean'
,
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
	}
	]
	}
,
		 name : 			'columnWidth'
	}
,
	 		{
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 type : 			'Boolean'
,
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
	}
	]
	}
,
		 name : 			'selectRow'
	}
	]
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
