		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'extn_storePhone' , 
		uId : 'lnkDerivedFromReturnNo' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblOrderDateDisplay' , 
		scuiDataType : 'TimeStamp'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblExchangeTypeDisplay' , 
		uId : 'extn_shopRunnerOrder' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Is_ShopRunner_Order')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order'
,
		dynamicBindingFunc :			'extn_checkShopRunner'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrderNo' , 
		uId : 'extn_Language' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Language1')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrder' , 
		uId : 'extn_Language' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lnkDerivedFromReturnNo' , 
		uId : 'extn_borderFreeOrder' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Is_BorderFree_Order')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Extn.ExtnIsFiftyOne'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrderNo' , 
		uId : 'extn_borderFreeOrder' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_storePhone' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Placing_Associate')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Createuserid'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_Language' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrder' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrder' , 
		uId : 'extn_borderFreeOrderNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_BorderFree_Order_No')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Extn.ExtnFiftyOneOrderNo'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrder' , 
		uId : 'extn_borderFreeOrderNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_borderFreeOrder' , 
		uId : 'lblExchangeTypeDisplay' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'pnlOrderIndicatorHolder' , 
		uId : 'extn_terminal' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Terminal')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.AuthorizedClient'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'pnlOrderIndicatorHolder' , 
		uId : 'extn_storeNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Store_Order_Created')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.SellerOrganizationCode'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_transactionNumber' , 
		uId : 'extn_storeNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'pnlOrderIndicatorHolder' , 
		uId : 'extn_transactionNumber' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Transaction_Number')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.OrderLines.OrderLine.Extn.ExtnTransactionId'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'pnlOrderIndicatorHolder' , 
		uId : 'extn_storePhone' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Store_Phone_number')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order'
,
		 dynamicBindingFunc : 			'extn_getStorePhone'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_storeNo' , 
		uId : 'extn_storePhone' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'lnkDerivedFromReturnNo' , 
		uId : 'lblExchangeTypeDisplay' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
