		<div>
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
		 				data-ibmsc-uid="extn_imgPhoneNo"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'wsc/resources/css/icons/images/phone.png' , 
		'class' : 'defaultImageSize floatLeft' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'lbl_HoldLocation' , 
		appendToContextRoot : true , 
		uId : 'extn_imgPhoneNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('Tooltip_PhoneNo')
,	
			 	imageAlt : 			this.getSimpleBundleString('Tooltip_PhoneNo')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_dayPhone"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'icon-image-label  ' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'lbl_HoldLocation' , 
		uId : 'extn_dayPhone' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_Phone_number')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.BillToAddress.DayPhone'
,
		 dynamicBindingFunc : 			'getDayPhone'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
		 				data-ibmsc-uid="extn_userName"
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'lbl_HoldLocation' , 
		uId : 'extn_userName' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.BillToAddress.FirstName'
,
		 dynamicBindingFunc : 			'getFormattedNameDisplay'
,
		 namespace : 			'Shipment'
	}
	}
			}
		}
	 					}">
		 	</div>  
		</div>
