		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'cancel' , 
		uId : 'extn_confirm' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Confirm')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_email' , 
		uId : 'extn_emailConfirmationMessage' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Message'
,
		 namespace : 			'extn_getConfirmationMsg_ns'
	}
	}
,	
			 	value : 			this.getBundleString('extn_Message')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'saveChangesBeforePreviousMsg' , 
		uId : 'extn_email' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 path : 			'EmailID'
,
		 namespace : 			'extn_email_ns'
	}
	]
,
		 sourceBinding : 	{
		 path : 			'EMailId'
,
		 namespace : 			'extn_getEmailID_ns'
	}
	}
,	
			 	label : 			this.getSimpleBundleString('extn_To')
			}
		}
	 					}">
		 	</div>  
		</div>
