		<div>
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'pnlSearchBar' , 
		uId : 'extn_shipmentNo' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_ShipmentNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentNo'
,
		 namespace : 			'searchPickUpOrder_dummyInput'
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'Shipment.ShipmentNo'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'customerpickup_getShipmentListForPickup_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
