		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'displayFlex' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lblCurrentPackage' , 
		uId : 'extn_los' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'LOSClass' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'addNewContainerButton' , 
		uId : 'extn_changeLosPane' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'displayFlex width15 flexEnd' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_changeLos' , 
		uId : 'extn_signaturePane' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_changeLosPane' , 
		uId : 'extn_signaturePane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_changeLosPane' , 
		uId : 'extn_signaturePane' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'inlineBlock' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_signaturePane' , 
		uId : 'extn_LabelPane' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_signatureCheck' , 
		uId : 'extn_LabelPane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_signatureLabel' , 
		uId : 'extn_LabelPane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'longButtons' , 
		_sc_extensibility_referenceUId : 'addNewContainerButton'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_los' , 
		uId : 'addNewContainerButton' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_losLabel' , 
		uId : 'extn_changeLos' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Service_Change')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_losLabel' , 
		uId : 'extn_changeLos' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'ShipServLevel' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'addNewContainerButton' , 
		uId : 'extn_losLabel' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_Shipping_Service_Level')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ScacAndService'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_changeLosPane' , 
		uId : 'extn_losLabel' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'checkboxWidth floatRight' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'extn_signatureLabel' , 
		scExcludeForDirtyCheck : true , 
		uId : 'extn_signatureCheck' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Signature.Selected'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_signature'
	}
	]
,
		 checkedValue : 	{
		 value : 			'Y'
	}
,
		 sourceBinding : 	{
		 path : 			'Page.Output.Containers.CheckBoxPreSelected'
,
		 namespace : 			'getContainerList_Out_Src_Pg'
	}
,
		 uncheckedValue : 	{
		 value : 			'N'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'signatureLabel' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_signaturePane' , 
		uId : 'extn_signatureLabel' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Signature_Required')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_LabelPane' , 
		uId : 'extn_signatureLabel' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		</div>
