		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'weightWidget' , 
		_sc_extensibility_referenceUId : 'weightDetails'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'labelContainerWidget' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'uidAction' , 
		uId : 'extn_printLabelContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'uidAction' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'saveButton' , 
		_sc_extensibility_referenceUId : 'saveButton'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Get_Weight')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'shippingLabelButton buttonBottomPadding' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_printLabelContainer' , 
		uId : 'extn_printShippingLabel' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Print_Shipping_Label')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'buttonBottomPadding' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_printShippingLabel' , 
		uId : 'extn_printPackSlip' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('PrintPackSlip')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_printShippingLabel' , 
		uId : 'extn_printPackSlip' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent ' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'lbl_NoOfProducts' , 
		uId : 'extn_trackingNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Tracking')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Container.TrackingNo'
,
		 namespace : 			'container_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent ' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_trackingNo' , 
		uId : 'extn_returnTrackingNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_TrackingContainer')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Container.CODReturnTrackingNo'
,
		 namespace : 			'container_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/NumberTextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'containerWeight' , 
		selectOnClick : true  
	 					}">
</div>
<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent ' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'imgPackComplete' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift_Wrap')

			}
		}
	 	
		 	</div>  
		</div>
