		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink' , 
		uId : 'extn_itemDescContainer' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink' , 
		uId : 'extn_packListContent' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'containerCss ' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'extn_batchNo' , 
		uId : 'extn_contentpane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'shortagelbl' , 
		uId : 'divActions' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'groupHeader autoLabelZeroWidth  productdesclink' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_itemDescContainer' , 
		uId : 'itemdescriptionLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'shortageResolution shortageResolutionLinkMobile ' , 
		_sc_extensibility_referenceUId : 'shortageResolutionLink'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_packListContent' , 
		uId : 'extn_dmm' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DMM')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDivision'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'extn_style' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Style')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnVendorStyle'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_style' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_PreSell')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.Extn.ExtnIsPreSell'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_preSell' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Class')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnClass'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DeptNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartment'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'extn_label' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails'
,
		 dynamicBindingFunc : 			'extn_getColor'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_deptNo' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Label')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ManufacturerName'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails'
,
		 dynamicBindingFunc : 			'extn_getSize'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_upcNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemAliasList.ItemAlias'
,
		 dynamicBindingFunc : 			'extn_getUPC'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_upcNo' , 
		uId : 'extn_sknNo' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_SKN')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemID'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'updateButton' , 
		uId : 'extn_giftWrap' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift_Wrap')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'itemVariationHolderCP' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'extn_sknNo' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Extn.ExtnItemListPrice'
,
		 dynamicBindingFunc : 			'extn_getPrice'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_datalabel' , 
		renderHidden : false , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'quantitySpinnerLabelAlign blockComponent' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'divQuantity' , 
		uId : 'extn_batchNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_BatchNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.StoreBatch.BatchNo'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_contentpane' , 
		uId : 'extn_batchNo' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'extn_contentpane' , 
		uId : 'extn_batchNo' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '32' , 
		_sc_extensibility_referenceUId : 'extn_batchNo' , 
		uId : 'QtyInContainer' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'QtyInContainer' , 
		uId : 'shortagelbl' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/giftLine.png' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink' , 
		appendToContextRoot : true , 
		uId : 'extn_giftFlag' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_Gift_Item')
,	
			 	imageAlt : 			this.getSimpleBundleString('extn_Gift_Item')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'itemdescriptionLink' , 
		uId : 'extn_giftFlag' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
