<div>
    <div data-dojo-type="idx/form/TextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txtItemID'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Packing_Label_Message')
,	
			 	hint : 			this.getSimpleBundleString('extn_Packing_Watermark_Message')
			}
		}
	 					}">
    </div>
</div>
