<div>
    <div data-dojo-type="gridx/Grid" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'OLST_listGrid'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_Ship_Node'
,
		 _sc_extensibility_operation : 			'insert',
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ShipNode'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'1'
,
		 _sc_extensibility_referenceUId : 			'tblColUnitPrice'
,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('ShipNode')
,
		 uId : 			'extn_Ship_Node'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_line_total'
,
		 _sc_extensibility_operation : 			'insert',
		  bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'LineOverallTotals.LineTotal'
,
		 dynamicBindingFunc : 			'getLineTotal'
,
		 dynamicBindingPackage : 			'extn.expicient.utils'
,
		 dynamicBindingClassName : 			'ExpicientUtil'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'2'
,
		 _sc_extensibility_referenceUId : 			'tblColUnitPrice'
,
		 width : 			'9%'
,
		 name : 			this.getSimpleBundleString('extn_line_total')
,
		 uId : 			'extn_line_total'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 field : 			'extn_color'
,
		 _sc_extensibility_operation : 			'insert',
		  bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetColor'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'3'
,
		 _sc_extensibility_referenceUId : 			'tblColHasInvoiced'
,
		 width : 			'7%'
,
		 name : 			this.getSimpleBundleString('extn_Color')
,
		 uId : 			'extn_color'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_size'
,
		 _sc_extensibility_operation : 			'insert',
		 	 bindingData : 	{
		 sFieldBinding : 	{
		 dynamicBindingFunc : 			'extn_GetSize'
,
		 path : 			'ItemDetails.AdditionalAttributeList.AdditionalAttribute.Value'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'4'
,
		 _sc_extensibility_referenceUId : 			'tblColHasInvoiced'
,
		 width : 			'6%'
,
		 name : 			this.getSimpleBundleString('extn_Size')
,
		 uId : 			'extn_size'
,
		 _sc_extensibility_position : 			'before'
	}
	]
			}
		}
	 					}">
    </div>
</div>
