<div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'lnk_RT_RecordCustomerPick' , 
		uId : 'extn_startBagging' , 
		renderHidden : true , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Start_Bagging')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'lnk_RT_RecordPickShipment' , 
		uId : 'extn_startBagging' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'lnk_RT_RecordPickShipment' , 
		uId : 'extn_reprintPickTicket' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Reprint_Pick_Ticket')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lnk_RT_UnpackShipment' , 
		uId : 'extn_moreDetails' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_CallCenterLink')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_moreDetails' , 
		uId : 'extn_ChangePrinter' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Update_Printer')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'relatedTaskLink' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_ChangePrinter' , 
		uId : 'extn_printReceipt' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_printReceipt')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnk_RT_PrintPickTicket'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'lnk_RT_PrintPickTicket' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'lnk_RT_AssignToHold' , 
		_sc_extensibility_position : 'last'  
	 					}">
    </div>
</div>
