<div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lbl_ContainerWeight' , 
		uId : 'extn_returnTracking' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getBundleString('extn_TrackingContainer')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Container.CODReturnTrackingNo'
,
		 namespace : 			'container_Src'
	}
	}
			}
		}
	 					}">
    </div>
</div>
