<div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lbl_PackedQty' , 
		uId : 'extn_dmm' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DMM')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDivision'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '20' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_dmm' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_DeptNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartment'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'extn_deptNo' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_deptName')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnDepartmentName'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '23' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_deptName' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'extn_deptNo' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Class')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnClass'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_classDesc' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_style' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Style')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.Extn.ExtnVendorStyle'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '25' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_style' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_style' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Color')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails'
,
		 dynamicBindingFunc : 			'extn_getColor'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '26' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_color' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'extn_color' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Size')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails'
,
		 dynamicBindingFunc : 			'extn_getSize'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '27' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_size' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'extn_classDesc' , 
		uId : 'extn_upc' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemAliasList.ItemAlias'
,
		 dynamicBindingFunc : 			'extn_getUPC'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '28' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_upc' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_upc' , 
		uId : 'extn_skn' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_SKN')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.ItemID'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '29' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_skn' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'extn_giftWrap' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Label')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.ItemDetails.PrimaryInformation.ManufacturerName'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'extn_skn' , 
		uId : 'extn_label' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'extn_size' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_PreSell')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.Extn.ExtnIsPreSell'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_preSell' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_preSell' , 
		uId : 'extn_gift' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.GiftFlag'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'extn_gift' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'extn_gift' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_GiftWrap')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.OrderLine.GiftWrap'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '37' , 
		_sc_extensibility_referenceUId : 'extn_gift' , 
		uId : 'extn_giftWrap' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_qtyHand' , 
		renderHidden : false , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_OnhandQuantity')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.QtyOnHand'
,
		 dynamicBindingFunc : 			'extn_getQty'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'sizin sizinlabel displayNone' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		renderHidden : false  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Quantity_Original')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'extn_dmm' , 
		uId : 'lbl_Quantity' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'lbl_Quantity' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_qtyHand' , 
		uId : 'lbl_Quantity' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '40' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_orderedQuantity' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Quantity')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Quantity'
,
		 dynamicBindingFunc : 			'extn_getOrderedQuantity'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '41' , 
		_sc_extensibility_referenceUId : 'extn_orderedQuantity' , 
		uId : 'extn_price' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Price')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.Extn.ExtnItemListPrice'
,
		 dynamicBindingFunc : 			'extn_getPrice'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'sizin sizinlabel' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'lbl_Quantity' , 
		uId : 'extn_batchNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_BatchNo')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'ShipmentLine.StoreBatch.BatchNo'
,
		 namespace : 			'shipmentLine_Src'
	}
	}
			}
		}
	 					}">
    </div>
</div>
