		<div>
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'longButtons' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'lnkStartCustomerPickup' , 
		showLabel : true , 
		uId : 'extn_startBagging' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Start_Bagging')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'longButtons' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_startBagging' , 
		showLabel : true , 
		uId : 'extn_continueBagging' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Continue_Bagging')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'orderNumber' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'img_TimeRmnClockWeb' , 
		uId : 'extn_orderLink' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.DisplayOrderNo'
,
		 dynamicBindingFunc : 			'getDisplayOrderNumber'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		renderHidden : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'duein blockComponent groupLabelSpacing' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'pnlShipmentDtls' , 
		uId : 'extn_shipStatus' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_orderStatus')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.TimeRemaining'
,
		 dynamicBindingFunc : 			'extn_applyOverdueStyling'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'pnlShipmentDtls' , 
		uId : 'extn_shipStatus' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'lblShipmentNo' , 
		uId : 'extn_shipStatus' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '17' , 
		_sc_extensibility_referenceUId : 'extn_shipStatus' , 
		uId : 'extn_orderStatusSla' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_orderStatus')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'blockComponent noColonLabels comappsWrapWord zeroWidthLabelValueDesktop' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_shipStatus' , 
		uId : 'extn_orderDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_OrderDate')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ShipmentLines.ShipmentLine'
,
		 dynamicBindingFunc : 			'extn_getOrderDate'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_orderDate' , 
		uId : 'extn_expiryDate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Shipment_Expiry')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.ExpectedShipmentDate'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblAssignedToUsr'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Last_actioned_by')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lblAssignedToUsr'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Last_actioned_by')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'noOfBags' , 
		_sc_extensibility_moveOrder : '14' , 
		_sc_extensibility_referenceUId : 'pnlBillToAddress' , 
		uId : 'extn_noOfBags' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Number_of_Bags')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Shipment.DestinationZone'
,
		 namespace : 			'getShipmentDetails_output'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '15' , 
		_sc_extensibility_referenceUId : 'lblDayPhone' , 
		uId : 'extn_noOfBags' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'pnlEmailHolder' , 
		uId : 'extn_noOfBags' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 <div data-dojo-type="sc/plat/dojo/widgets/Image" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		imageSrc : 'extn/wsc/resources/css/icons/images/diamond.png' , 
		'class' : 'diamondImage' , 
		_sc_extensibility_moveOrder : '18' , 
		_sc_extensibility_referenceUId : 'lblOrderNo' , 
		appendToContextRoot : true , 
		uId : 'extn_jewellarySign' ,
		renderHidden : true ,  
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
