<div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'unpackLink' , 
		uId : 'extn_reprintPackSlip' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Reprint_Pack_Slip')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_reprintPackSlip' , 
		uId : 'extn_reprintShippingLabel' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Reprint_Shipping_Label')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'remove' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : '_extensibilityHiddenWidgetsHolder' , 
		uId : 'reprintCarrierLblLink' , 
		_sc_extensibility_position : 'first'  
	 					}">
    </div>
</div>
