<div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'lbl_batchNo' , 
		uId : 'departmentPanel' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnk_PickAction'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnk_InProgress'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/DataLabel" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'blockComponent departmentName ellipsisText autoLabelZeroWidth a11yHiddenLabel boldText' , 
		_sc_extensibility_referenceUId : 'lbl_Department'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'lbl_timeRemaining' , 
		uId : 'extn_earliestDate' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		</div>
