<div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		spanLabel : true , 
		'class' : 'screen' , 
		colspan : 1 , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'systemMessagePanelPopup' , 
		uId : 'extn_configureBy' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="idx/form/NumberTextBox" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'autoLabelZeroWidth orderSize width60 batchInline' , 
		_sc_extensibility_referenceUId : 'txtBatchSize'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'batchCriteria ' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_configureBy' , 
		uId : 'extn_configureByLabel' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_configureBy')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_configureByRadBttn' , 
		uId : 'extn_configureByLabel' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'batchCriteria' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'popupContainer' , 
		uId : 'extn_batchSizeLabel' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_batchSize')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'txtBatchSize' , 
		uId : 'extn_batchSizeLabel' , 
		_sc_extensibility_position : 'after'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'txtBatchSize' , 
		uId : 'extn_batchSizeLabel' , 
		_sc_extensibility_position : 'before'  
	 					}">
    </div>
    <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'txtBatchSize' , 
		uId : 'extn_maxSizeLabel' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_max_500')
,	
			 	value : 			this.getSimpleBundleString('extn_max_500')
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/RadioButtonSet" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		groupAlignment : 'horizontal' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_configureBy' , 
		uId : 'extn_configureByRadBttn' , 
		_sc_extensibility_position : 'first'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 radioBinding : 	{
		 options : 	[
	 		{
		 value : 			'SORT_AFTER_PICK'
,
		 label : 			this.getSimpleBundleString('extn_deptGroup')
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_0'
	}
,
	 		{
		 value : 			'CARRIER_SERVICE'
,
		 label : 			this.getSimpleBundleString('extn_shipmentServiceLevel')
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_1'
	}
,
	 		{
		 value : 			'PRICE_ATTRIBUTE'
,
		 label : 			this.getSimpleBundleString('extn_priceAttribute')
,
		 scExtensibilityArrayItemId : 			'extn_RadioBinding_2'
	}
	]
	}
,
		 targetBinding : 	[
	 		{
		 path : 			'UserUiState.Definition'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'batchSortMethodUiState_input'
	}
	]
,
		 sourceBinding : 	{
		 path : 			'UserPref.ConfigureBatch'
,
		 namespace : 			'getUserUiStateList_output'
	}
	}
			}
		}
	 					}">
    </div>
    <div data-dojo-type="idx/form/RadioButtonSet" data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'sortMethod' , 
		renderHidden : true , 
		disabled : true  
	 					}">
    </div>
</div>
