<div class="sc-platform-screen-default bopusdashboardportlet">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		resourceId : 'WSC000196' , 
		'class' : 'screen portlet portlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_bopusDashBoard')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'contentSeparator portletHeader' , 
		uId : 'portletHeaderPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'PortletImgHolder' , 
		uId : 'portletHeaderImagePanel'  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'wsc/resources/css/icons/images/backroomPickUp.png' , 
		'class' : 'portletImage' , 
		appendToContextRoot : true , 
		uId : 'portletImage'  
 "></div>
            </div>
            <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'primaryInformation' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_bopusDashBoard')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Portlet.Title'
,
		 namespace : 			'portletTitle'
	}
	}
			}
		}
" role='heading'></div>
        </div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'PortletContent longFields' , 
		uId : 'pnlContent'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : ' printButtons ' , 
		uId : 'pnlPrintButtons' , 
		renderHidden : false  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="		hasImage : true , 
		imageSrc : 'wsc/resources/css/icons/images/refresh.png' , 
		'class' : 'refreshLink' , 
		appendToContextRoot : true , 
		uId : 'lnkRefresh' , 
		renderHidden : false  
 		,scParamDataFn :
		 function() { 
			return { 
			 	imageText : 			this.getSimpleBundleString('Action_Refresh')
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : '' , 
		'class' : 'idxSpecialButton missedSLA' , 
		uId : 'missedSLAButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('missedSLAButton')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''
,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : '' , 
		'class' : 'idxSpecialButton' , 
		uId : 'nearingSLAButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('nearingSLAButton')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''
,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : '' , 
		'class' : 'idxSpecialButton' , 
		uId : 'inProgressButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('inProgressButton')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''
,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : '' , 
		'class' : 'idxSpecialButton' , 
		uId : 'newShipmentButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('newShipmentButton')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''
,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : '' , 
		'class' : 'idxSpecialButton' , 
		uId : 'restockingButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('restockingButton')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			''
,
		 namespace : 			''
	}
	}
			}
		}
"></div>
                <!-- <div data-dojo-type="dijit/form/Button" data-dojo-props="		resourceId : 'WSC000021' , 
		'class' : 'idxSpecialButton' , 
		uId : 'btnPrintShipping'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_PrintShippingOrders')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'labels.printShipout'
,
		 namespace : 			'labels'
	}
	}
			}
		}
"></div> -->
                <!--  <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'btnPrintAll' , 
		renderHidden : true  
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Action_BRPPrintAll')
			}
		}
"></div> -->
            </div>
        </div>
    </div>
</div>
