<div class="sc-platform-screen-default caseNoScan">
   <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   spanLabel : true , 
    uId : 'systemMessagePanelPopup' , 
    renderHidden : true  
 "></div>
           <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel' , 
    uId : 'scanPanel' , 
    layoutAlign : 'top'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
      }
    }
" role='region'>
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'scanPanelData' , 
    uId : 'productScanForm' , 
    layoutAlign : 'top'  
 ">
                <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'barcodeScanPanel' , 
    uId : 'barcodeScanPanelForm' , 
    layoutAlign : 'top'  
 ">
                    <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="   spanLabel : true , 
    hasImage : true , 
    imageSrc : 'wsc/resources/css/icons/images/barcode_blue.png' , 
    'class' : 'buttonConnect' , 
    appendToContextRoot : true , 
    uId : 'addProductButton'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_scanProduct')
, 
        imageAlt :      this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
, 
        title :       this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
      }
    }
" role='button'></div>
                    <div data-dojo-type="idx/form/TextBox" data-dojo-props="    spanLabel : true , 
    'class' : 'a11yHiddenLabel jccScanTextBox' , 
    scExcludeForDirtyCheck : true , 
    uId : 'scanProductIdTxt' , 
    showTitle : false  
    ,scParamDataFn :
     function() { 
      return { 
        label :       this.getSimpleBundleString('TextField_Label_ProductScanHint')
, 
        hint :      this.getSimpleBundleString('Scan or enter case number')
, 
        bindingData :   {
     sourceBinding :  {
     path :       'BarCodeData'
,
     namespace :      'translateBarCode_output'
  }
,
     targetBinding :  [
      {
     path :       'StoreBatch.CaseNo'
,
     namespace :      'caseNumber_input'
  }
  ]
  }
      }
    }
"></div>
                </div>
                 <div data-dojo-type="dijit/form/Button" data-dojo-props="    'class' : 'idxSpecialButton closePadding' , 
    uId : 'cancelButton'  ,
    renderHidden : true 
    ,scParamDataFn :
     function() { 
      return { 
        
        label :       this.getSimpleBundleString('Close_Button')
      }
    }
"></div>
            </div>
</div>
</div>
