<div class="sc-platform-screen-default levelofservice">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		 resourceId : '' , 
		'class' : 'screen portlet portlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStore')
			}
		}
" role='region'>
     
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'LOSPortlet PortletContent longFields' , 
		uId : 'pnlContent'  
 ">
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'LOSFilteringSelect ' ,
		autoComplete : true , 
		uId : 'filteringSelectCarrier',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Level_Of_Service')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'ScacAndService'
,
     addEmptyOption :       false
,
     valueField :       'ScacAndService'
,
     path :       'ScacAndServiceList.ScacAndService'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'extn_serviceInput'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'CarrierService.SCACAndService'
,
     namespace :      'extn_selectedService'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Shipment.ScacAndService'
,
     namespace :      'extn_initialServiceVal'
	}
	}
			}
		}
"></div>

            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'changeService'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	
			 	label : 			this.getSimpleBundleString('extn_Change')
			}
		}
"></div>
  <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton closePadding' , 
		uId : 'cancelButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	
			 	label : 			this.getSimpleBundleString('Close_Button')
			}
		}
"></div>
        </div>
    </div>
</div>
