<div class="sc-platform-screen-default packproductscan">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="      'class' : 'screen ItemPackHolder' , 
        uId : 'itemScanPanel' , 
        renderHidden : false  
 ">
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanelData inlineBlock scanPick' , 
    uId : 'productScanForm' , 
    layoutAlign : 'top'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'barcodeScanPanel' , 
    uId : 'barcodeScanPanelForm' , 
    layoutAlign : 'top'  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="   spanLabel : true , 
    hasImage : true , 
    imageSrc : 'wsc/resources/css/icons/images/barcode_blue.png' , 
    'class' : 'buttonConnect' , 
    appendToContextRoot : true , 
    uId : 'addProductButton'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_scanProduct')
, 
        imageAlt :      this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
, 
        title :       this.getSimpleBundleString('Tooltip_arialabel_scanProduct')
      }
    }
" role='button'></div>
                <div data-dojo-type="idx/form/TextBox" data-dojo-props="        uId : 'txtItemID',
                scExcludeForDirtyCheck : true , 
                showTitle : false ,  
                spanLabel : true   
        ,scParamDataFn :
         function() { 
            return { 
                
                
                hint :          this.getSimpleBundleString('extn_Packing_Watermark_Message')
,   
                bindingData :   {
         sourceBinding :    {
         path :             'Shipment.ItemID'
,
         namespace :            'initializeModel'
    }
,
         targetBinding :    [
            {
         path :             'Barcode.BarCodeData'
,
         namespace :            'packItem_input'
    }
    ]
    }
            }
        }
"></div>
            </div>
        </div>
    </div>
</div>
