<div class="sc-platform-screen-default packstationpopup">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   spanLabel : true , 
    uId : 'systemMessagePanelPopup' , 
    renderHidden : true  
 "></div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel' , 
    uId : 'scanPanel' , 
    layoutAlign : 'top'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
      }
    }
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'scanPanelData' , 
    uId : 'productScanForm' , 
    layoutAlign : 'top'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'barcodeScanPanel ' , 
    uId : 'barcodeScanPanelForm ' , 
    layoutAlign : 'top'  
 ">
                <div data-dojo-type="idx/form/TextBox" data-dojo-props="    spanLabel : true , 
    'class' : 'a11yHiddenLabel packStationTextBox' , 
    scExcludeForDirtyCheck : true , 
    uId : 'scanProductIdTxt' , 
    showTitle : false  
    ,scParamDataFn :
     function() { 
      return { 
        label :       this.getSimpleBundleString('TextField_Label_ProductScanHint')
, 
        hint :      this.getSimpleBundleString('Enter PackStation ID')
, 
        bindingData :   {
     sourceBinding :  {
     path :       'PackStation.ID'
,
     namespace :      'packStation_output'
  }
,
     targetBinding :  [
      {
     path :       'PackStation.ID'
,
     namespace :      'packStation_input'
  }
  ]
  }
      }
    }
"></div>
                <div class="margin-top-15">
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="    'class' : 'idxSpecialButton' , 
    uId : 'updateButton' 
    ,scParamDataFn :
     function() { 
      return { 
        
        label :       this.getSimpleBundleString('extn_Update')
      }
    }
"></div>
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="   'class' : 'idxSpecialButton margin-left-11' , 
    uId : 'cancelButton'  
    ,scParamDataFn :
     function() { 
      return { 
        
        label :       this.getSimpleBundleString('Close_Button')
      }
    }
"></div>
                </div>
            </div>
        </div>
    </div>
</div>
