<div class="sc-platform-screen-default storecontextportlet">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		 resourceId : 'WSC000198' , 
		'class' : 'screen portlet portlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStore')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'contentSeparator portletHeader' , 
		uId : 'portletHeaderPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'PortletImgHolder' , 
		uId : 'portletHeaderImagePanel'  
 ">
                <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'extn/wsc/resources/css/icons/images/store_context.png' , 
		'class' : '' , 
		appendToContextRoot : true , 
		uId : 'portletImage'  
 "></div>
            </div>
            <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'primaryInformation' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_StoreChange')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Portlet.Title'
,
		 namespace : 			'portletTitle'
	}
	}
			}
		}
" role='heading'></div>
        </div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'PortletContent longFields' , 
		uId : 'pnlContent'  
 ">
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling' ,
		autoComplete : true , 
		uId : 'filteringSelectCarrier',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('etn_Store')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'Description'
,
     addEmptyOption :       false
,
     valueField :       'Description'
,
     path :       'User.AccessibleOrganizations.ShipNodeList.ShipNode'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'extn_getShip'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'User.CurrentStore'
,
     namespace :      'extn_storeInput'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Store.Description'
,
     namespace :      'extn_storeDescription'
	}
	}
			}
		}
"></div>
<div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'boldText' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_note')
	
			
			}
		}
" ></div>
<div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : '' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_storeNoteText')
	
			
			}
		}
" ></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'extn_changeStore'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStoreContext')
,	
			 	label : 			this.getSimpleBundleString('extn_Change')
			}
		}
"></div>
        </div>
    </div>
</div>
