<div class="sc-platform-screen-default UpdatePrinter">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   spanLabel : true , 
    uId : 'systemMessagePanelPopup' , 
    renderHidden : true  
 "></div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="   'class' : 'scanPanel marginPack' , 
    uId : 'scanPanel ' , 
    layoutAlign : 'top'  
    ,scParamDataFn :
     function() { 
      return { 
        'aria-label' :      this.getSimpleBundleString('arialabel_productScanBarCode')
      }
    }
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="    'class' : 'scanPanelData' , 
    uId : 'productScanForm' , 
    layoutAlign : 'top'  
 ">
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling block' ,
		autoComplete : true , 
		uId : 'filteringSelectDocumentType',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectDocument')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'CodeLongDescription'
,
     addEmptyOption :       false
,
     valueField :       'CodeValue'
,
     path :       'CommonCodeList.CommonCode'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'getDocType_input'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'CommonCode.CodeValue'
,
     namespace :      'extn_selectedDocType'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Shipment.ScacAndService'
,
     namespace :      'extn_initialServiceVal'
	}
	}
			}
		}
"></div>
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling block' ,
		autoComplete : true , 
		uId : 'filteringSelectPrinter',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectPrinter')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'DeviceId'
,
     addEmptyOption :       false
,
     valueField :       'DeviceId'
,
     path :       'Devices.Device'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'deviceNPackStation_output'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'Device.DeviceId'
,
     namespace :      'extn_selectedPrinter'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Device.DeviceId'
,
     namespace :      'printerDetailsModel'
	}
	}
			}
		}
"></div>
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling block' ,
		autoComplete : true , 
		uId : 'filteringPackStation',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectPackStation')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'PackStation'
,
     addEmptyOption :       false
,
     valueField :       'PackStation'
,
     path :       'Devices.Device'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'deviceNPackStation_output'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'Device.PackStation'
,
     namespace :      'extn_selectedPackStation'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Device.PackStation'
,
     namespace :      'printerDetailsModel'
	}
	}
			}
		}
"></div>
<div class="buttonSet">
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton margin10' , 
		uId : 'changeService'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStoreContext')
,	
			 	label : 			this.getSimpleBundleString('extn_Update')
			}
		}
"></div>
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton closePadding' , 
		uId : 'cancelButton'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	
			 	label : 			this.getSimpleBundleString('Close_Button')
			}
		}
"></div>
</div>
        </div>
    </div>
</div>
