<div class="sc-platform-screen-default updateprinterportlet">
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		 resourceId : '' , 
		'class' : 'screen portlet marginPrinterPortlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_ChangeStore')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'contentSeparator portletHeader' , 
		uId : 'portletHeaderPanel'  
 ">
            <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'PortletImgHolder' , 
		uId : 'portletHeaderImagePanel'  
 ">
                <!--  <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : 'extn/wsc/resources/css/icons/images/store_context.png' , 
		'class' : '' , 
		appendToContextRoot : true , 
		uId : 'portletImage'  
 "></div> -->
            </div>
            <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'primaryInformation' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_UpdatePrinter')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Portlet.Title'
,
		 namespace : 			'portletTitle'
	}
	}
			}
		}
" role='heading'></div>
        </div>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		'class' : 'PortletContent longFields' , 
		uId : 'pnlContent'  
 ">
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling' ,
		autoComplete : true , 
		uId : 'filteringSelectDocumentType',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectDocument')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'CodeLongDescription'
,
     addEmptyOption :       false
,
     valueField :       'CodeValue'
,
     path :       'CommonCodeList.CommonCode'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'getDocType_input'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'CommonCode.CodeValue'
,
     namespace :      'extn_selectedDocType'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Shipment.ScacAndService'
,
     namespace :      'extn_initialServiceVal'
	}
	}
			}
		}
"></div>
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling' ,
		autoComplete : true , 
		uId : 'filteringSelectPrinter',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectPrinter')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'DeviceId'
,
     addEmptyOption :       false
,
     valueField :       'DeviceId'
,
     path :       'Devices.Device'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'deviceNPackStation_output'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'Device.DeviceId'
,
     namespace :      'extn_selectedPrinter'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Device.DeviceId'
,
     namespace :      'printerDetailsModel'
	}
	}
			}
		}
"></div>
            <div data-dojo-type="idx/form/FilteringSelect" data-dojo-props="		highlightMatch : 'false' , 
            'class' : 'contextFilterling' ,
		autoComplete : true , 
		uId : 'filteringPackStation',
		required: true 
		
 		,scParamDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_selectPackStation')
,	
			 	bindingData : 	{
		 optionsBinding : 	{
		 descriptionField :       'PackStation'
,
     addEmptyOption :       false
,
     valueField :       'PackStation'
,
     path :       'Devices.Device'
,
     emptyOptionValue :       ''
,
     emptyOptionDesc :      ''
,
     namespace :      'deviceNPackStation_output'
	}
,
		 targetBinding : 	[
	 		{
		 path :       'Device.PackStation'
,
     namespace :      'extn_selectedPackStation'
	}
	]
,
		 sourceBinding : 	{
		 path :       'Device.PackStation'
,
     namespace :      'printerDetailsModel'
	}
	}
			}
		}
"></div>
            <!-- <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'boldText' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_note')
	
			
			}
		}
" ></div> -->
            <!-- <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : '' , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_storeNoteText')
	
			
			}
		}
" ></div> -->
            <div data-dojo-type="dijit/form/Button" data-dojo-props="		'class' : 'idxSpecialButton' , 
		uId : 'changeService'  
 		,scParamDataFn :
		 function() { 
			return { 

			'aria-label' : 			this.getSimpleBundleString('extn_Update')
,	
			 	label : 			this.getSimpleBundleString('extn_Update')
			 	
			}
		}
"></div>
        </div>
    </div>
</div>
