		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '42' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_orderSearchRightContentpane' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'cmbHoldType'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/FilteringSelect" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'SST_OrderBy'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		'class' : 'singlecolumntable innerTitlePane' , 
		_sc_extensibility_referenceUId : 'pnlCustFields'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/TitlePane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '43' , 
		_sc_extensibility_referenceUId : 'extn_orderSearchRightContentpane' , 
		uId : 'pnlCustFields' , 
		_sc_extensibility_position : 'first'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/CheckBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '10' , 
		_sc_extensibility_referenceUId : 'radReadFromHistory' , 
		showLabel : true , 
		name : 'Not Cancelled' , 
		uId : 'extn_notCancelled' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Not_Cancelled')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.Status'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_notCancelledStatus'
	}
	]
,
		 checkedValue : 	{
		 value : 			'Y'
	}
,
		 uncheckedValue : 	{
		 value : 			'N'
	}
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/DateTextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_orderDateFrom'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/DateTextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_orderDateTo'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'innerTitlePane extnTitlePane' , 
		_sc_extensibility_moveOrder : '53' , 
		_sc_extensibility_referenceUId : 'extn_tracking' , 
		uId : 'extn_packageLable' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('ShipmentPackages')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Label" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'innerTitlePane extnTitlePane' , 
		_sc_extensibility_moveOrder : '54' , 
		_sc_extensibility_referenceUId : 'extn_UPC' , 
		uId : 'extn_productLable' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('ProductCriteria')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '22' , 
		_sc_extensibility_referenceUId : 'txt_orderNo2' , 
		uId : 'extn_TransactionId' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Transaction_Number')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.OrderLine.Extn.ExtnTransactionID'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_orderNo2'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_custPoNo'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '4' , 
		_sc_extensibility_referenceUId : 'extn_cardNo' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Placing_Associate')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.Createuserid'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'radReadFromHistory' , 
		uId : 'extn_placingAssociate' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '16' , 
		_sc_extensibility_referenceUId : 'extn_placingAssociate' , 
		scuiDataType : 'OrganizationCode' , 
		uId : 'extn_storeOrder' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Store_Order_Created')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.SellerOrganizationCode'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_custEmailId'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_custPhone'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_fName'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_lName'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'txt_postalCode'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '3' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_cardNo' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Last4Digits')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.PaymentMethod.DisplayCreditCardNo'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '11' , 
		_sc_extensibility_referenceUId : 'extn_UPC' , 
		uId : 'extn_cardNo' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '2' , 
		_sc_extensibility_referenceUId : 'extn_UPC' , 
		uId : 'extn_department' , 
		renderHidden : true , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Department')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.OrderLine.DepartmentCode'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 5px;' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'extn_placingAssociate' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('Label_TrackingNo')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.Tracking'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_additionalData_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_placingAssociate' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'SST_SearchButtonBar' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'before'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '13' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '21' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '24' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '47' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '51' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_tracking' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		style : 'margin-top: 5px;' , 
		_sc_extensibility_moveOrder : '1' , 
		_sc_extensibility_referenceUId : 'txt_postalCode' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_UPC')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.UPC'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'extn_additionalData_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '19' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '36' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '40' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '45' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '48' , 
		_sc_extensibility_referenceUId : 'extn_department' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '49' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '52' , 
		_sc_extensibility_referenceUId : 'pnlCustFields' , 
		uId : 'extn_UPC' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/form/TextBox" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '56' , 
	
		_sc_extensibility_referenceUId : 'extn_cardNo' , 
scuiDataType : 'Text-1000' , 
		uId : 'extn_giftcardno' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Gift_Card_No')
,	
			 	bindingData : 	{
		 targetBinding : 	[
	 		{
		 path : 			'Order.PaymentMethod.SvcNo'
,
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 namespace : 			'getAdvancedOrderList_input'
	}
	]
	}
			}
		}
	 					}">
		 	</div>  
		</div>
